<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<h3>THÊM ĐƠN VỊ, PHÒNG BAN</h3>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/organization_units}"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span> &nbsp; Danh sách Đơn vị, phòng ban</a>
<br/>
<br/>
<form method="post" th:action="@{'/add_organization_unit'}" modelAttribute="organizationUnit" th:object="${organizationUnit}">
    <table style="width: 1366px;">
        <tr>
            <td width="25%"><h3>Thông tin chung</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="organizationUnitCode" class="required">Mã đơn vị<span class="b-require">*</span></label></td>
            <td><input type="text"th:field="*{organizationUnitCode}" class="k-textbox" style="width: 100%;" required validationMessage="Mã nhân viên không được để trống"></td>
            <td><label th:for="organizationUnitName">Tên đơn vị<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{organizationUnitName}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="parentId" class="required">Thuộc đơn vị<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{parentId}" class="k-textbox" style="width: 100%;" required validationMessage="Tên nhân viên không được để trống"></td>
            <td><label th:for="organizationUnitTypeId">Cấp tổ chức<span class="b-require">*</span></label></td>
            <td><input type="number" th:field="*{organizationUnitTypeId}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="costAccount">TK chi phí lương</label></td>
            <td><input type="text" th:field="*{costAccount}" class="k-textbox" style="width: 100%;" title="Tài khoản chi phí lương"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;"><button type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>Thêm</button></td>
        </tr>
    </table>
    <span class="status"></span>
</form>

<script>
    $(document).ready(function() {
        var validator = $("#addOrganizationUnit").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
