<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_organization_unit}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm Đơn vị, phòng ban</a>
<br/>
<br/>
<br/>
<table id="organization_unit_datagrid">
    <thead>
    <tr>
        <th data-field="MA_DON_VI" data-title="Mã đơn vị" title="Mã đơn vị">Mã Đơn vị</th>
        <th data-field="TEN_DON_VI" data-title="Tên đơn vị" title="Tên đơn vị">Tên Đơn vị</th>
        <th data-field="DIA_CHI" data-title="Địa chỉ" title="Địa chỉ">Địa chỉ</th>
        <th data-field="CAP_TO_CHUC" data-title="Cấp tổ chức" title="Cấp tổ chức">Cấp Tổ chức</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="organizationUnit : ${organizationUnitList}">
        <td th:text="${organizationUnit.organizationUnitCode}"></td>
        <td th:text="${organizationUnit.organizationUnitName}"></td>
        <td th:text="${organizationUnit.address}"></td>
        <td th:text="${orgUnitTypeList[organizationUnit.organizationUnitTypeId]}"></td>
        <td th:text="${activeStatusList[organizationUnit.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/organization_unit/view/{id}(id=${organizationUnit.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/organization_unit/edit/{id}(id=${organizationUnit.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${organizationUnit.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${organizationUnit.id}" th:action="@{/organization_unit/delete/{id}(id=${organizationUnit.id})}"><button type="submit" hidden th:id="'btn_' + ${organizationUnit.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#organization_unit_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            groupable: true,
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
