<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/organization_units}"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Đơn vị, phòng ban</a>
<br/>
<br/>
<h3>THÊM ĐƠN VỊ, PHÒNG BAN</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_organization_unit'}" modelAttribute="organizationUnit" th:object="${organizationUnit}">
    <table style="width: 1366px;">
        <tr>
            <td width="25%"><h3>Thông tin chung</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="organizationUnitCode">Mã đơn vị</label></td>
            <td><input type="text" th:field="*{organizationUnitCode}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="organizationUnitName">Tên đơn vị<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{organizationUnitName}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="parentId">Thuộc đơn vị</label></td>
            <td><input type="text" th:field="*{parentId}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="organizationUnitTypeId">Cấp tổ chức</label></td>
            <td><input type="number" th:field="*{organizationUnitTypeId}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="costAccount">TK chi phí lương</label></td>
            <td><input type="text" th:field="*{costAccount}" class="k-textbox" style="width: 100%;" title="Tài khoản chi phí lương" readonly></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;"><a th:href="@{/organization_units}" class="k-button k-primary"><span class="k-icon k-i-close" style="color: gold;"></span>&nbsp;Đóng</a></td>
        </tr>
    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
