<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title th:text="${page_title}"></title>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title>Phần mềm Kế toán Vy</title>
    <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common-office365.min.css"/>-->
    <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.office365.min.css"/>-->
    <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.office365.mobile.min.css"/>-->

    <!--<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>-->
    <!--<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/kendo.common-office365.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/kendo.office365.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/kendo.office365.mobile.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/kendo.all.min.js}"></script>

    <!--<script src="http://localhost:8080/js/kendo.messages.bg-BG.js"></script>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script>
        var hostname = window.location.origin;
    </script>
</head>
<body id="login_body">

<div id="login_container">
    <h1>Phần mềm kế toán Vy</h1>

    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:yellow; margin:10px 0px;">
        Không thể đăng nhập<br/>
        Lý do:
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}" th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">Static summary</span>
    </div>

    <form name='login_form' id="login_form" th:action="@{/j_spring_security_check}" method='POST'>
        <table>
            <tr>
                <td><label for="username">Email</label></td>
                <td><input type='text' name='username' id="username" class="k-textbox" style="width: 100%;"></td>
            </tr>
            <tr>
                <td><label for="password">Mật khẩu</label></td>
                <td><input type='password' id="password" name="password" class="k-textbox" style="width: 100%;"/></td>
            </tr>
            <tr style="padding-top: 10px;">
                <td style="text-align: right;"><input type="checkbox" name="remember-me" id="remember-me" style="alignment: right;"/></td>
                <td><label for="remember-me">Duy trì đăng nhập</label></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; padding-top: 15px;"><input name="submit" type="submit" value="Đăng nhập" class="k-button k-primary"/></td>
            </tr>
        </table>
    </form>

    <!--<br>-->
    <!--Username/pass:-->
    <!--<ul>-->
    <!--    <li>dbuser1/123</li>-->
    <!--    <li>dbadmin1/123</li>-->
    <!--</ul>-->
</div>
</body>
</html>

