<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/units}" class="k-button k-primary" title="Danh sách Đơn vị tính"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Đơn vị tính</a>
<br/>
<br/>
<h3>THÊM ĐƠN VỊ TÍNH</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_unit'}" modelAttribute="bank" th:object="${unitForm}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="unitName">Đơn vị tính<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{unitName}" class="k-textbox" style="width: 100%;" required validationMessage="Đơn vị tính không được để trống"></td>
            <td><label th:for="description">Mô tả</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Thêm</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#unitForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
