<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/units}" class="k-button k-primary" title="Danh sách Đơn vị tính"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Đơn vị tính</a>
<br/>
<br/>
<h3>SỬA ĐƠN VỊ TÍNH</h3>
<br/>
<br/>
<form method="post" th:action="@{'/edit_unit'}" modelAttribute="unitForm" th:object="${unitForm}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">
                <input type="number" th:field="*{id}" hidden>
            </td>
        </tr>

        <tr>
            <td><label th:for="unitName">Đơn vị tính<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{unitName}" class="k-textbox" style="width: 100%;" required validationMessage="Đơn vị tính không được để trống">
                <span th:if="${#fields.hasErrors('unitName')}" th:errors="*{unitName}" class="k-error-colored"></span>
            </td>
            <td><label th:for="description">Mô tả</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td>
                <input type="checkbox" th:checked="${unitForm.activeStatus}" id="activeStatus" name="activeStatus" class="k-checkbox">
                <label for="activeStatus" class="k-checkbox-label">Trạng thái theo dõi</label>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-edit" style="color: gold;"></span>&nbsp;Cập nhật</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#unitForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
