<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_unit}" class="k-button k-primary" id="add_unit"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;<u>T</u>hêm đơn vị</a>
<br/>
<br/>
<h3>DANH SÁCH ĐƠN VỊ TÍNH</h3>
<br/>
<br/>
<table id="units_datagrid">
    <thead>
    <tr>
        <th>STT</th>
        <th data-field="DON_VI_TINH" data-title="Đơn vị tính" title="Đơn vị tính">Đơn vị tính</th>
        <th data-field="MO_TA" data-title="Mô tả" title="Mô tả">Mô tả</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="unit : ${unitList}">
        <td></td>
        <td th:text="${unit.unitName}"></td>
        <td th:text="${unit.description}"></td>
        <td th:text="${activeStatusList[unit.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/unit/view/{id}(id=${unit.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/unit/edit/{id}(id=${unit.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${unit.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${unit.id}" th:action="@{/unit/delete/{id}(id=${unit.id})}"><button type="submit" hidden th:id="'btn_' + ${unit.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $(document.body).keydown(function(e) {
            // 84 = T
            if (e.altKey && e.keyCode == 84) {
                $("#add_unit")[0].focus();
            }
        });

        $("#units_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            },
            navigatable: true,
            columns: [
                {
                    title: "STT",
                    template: "#= ++record #",
                    width: 100
                }, {
                    field: "DON_VI_TINH",
                    title: "Đơn vị tính",
                    width: 300
                }, {
                    field: "MO_TA",
                    title: "Mô tả",
                    width: 500
                }, {
                    field: "THEO_DOI",
                    title: "Theo dõi",
                    width: 100
                }, {
                    field: "THAO_TAC",
                    title: "Thao tác",
                    width: 300
                }
            ],
            dataBinding: function() {
                record = (this.dataSource.page() -1) * this.dataSource.pageSize();
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
