<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- File: /src/main/resources/templates/cash/ccy.html -->

<!--<th:block th:include="fragments/header :: header"></th:block>-->
<!--For suggest css class purpose-->
<!--<link rel="stylesheet" href="../../static/bootstrap.min.css">-->
<th:block th:include="fragments/header"></th:block>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
            <tr>
                <th><span th:text="#{cash.list.order_number}"></span></th>
                <th><span th:text="#{cash.list.currency_code}"/></th>
                <th><span th:text="#{cash.list.description}"></span></th>
                <th><span th:text="#{cash.list.conversion_rate}"/></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="currency : ${currencies}">
                <!--/*@thymesVar id="currency" type="com.donhuvy.entity.Ccy"*/-->
                <td><span th:text="${currency.currencyId}"/></td>
                <td><span th:text="${currency.currencyName}"/></td>
                <td><span th:text="${currency.ccyName}"/><td>
                <span th:text="${currency.convertRate}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<th:block th:include="fragments/footer :: footer"></th:block>-->
<th:block th:include="fragments/footer"></th:block>
