<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>

<h3>Phân hệ Quỹ</h3>
<br/>
<br/>
<div class="image_map">
<img width="960px" height="720px" th:src="@{/images/quy_trinh_quy.png}" title="Phân hệ quỹ" usemap="#image-map">
    <map name="image-map">
        <area target="_self" alt="Thu tiền" title="Thu tiền" th:href="{/add_cash_receipt}" coords="218,210,25,176" shape="rect">
        <area target="_self" alt="Thu tiền khách hàng" title="Thu tiền khách hàng" th:href="{/collect_money}" coords="27,212,218,244" shape="rect">
        <area target="_self" alt="Danh sách thu, chi" title="Danh sách thu, chi" th:href="@{/list_ca_receipt_payments}" coords="27,246,217,283" shape="rect">
        <area target="_self" alt="Chi tiền" title="Chi tiền" th:href="@{/add_cash_payment}" coords="22,480,215,512" shape="rect">
        <area target="_self" alt="Trả tiền nhà cung cấp" title="Trả tiền nhà cung cấp" th:href="{/tra_tien_nha_cung_cap}" coords="22,515,215,544" shape="rect">
        <area target="_self" alt="Nộp thuế" title="Nộp thuế" th:href="@{/nop_thue}" coords="215,575,23,546" shape="rect">
        <area target="_self" alt="Nộp bảo hiểm" title="Nộp bảo hiểm" th:href="@{/insurance_payment}" coords="215,604,23,577" shape="rect">
        <area target="_self" alt="Trả lương" title="Trả lương" th:href="@{/tra_luong}" coords="213,628,23,606" shape="rect">
        <area target="_self" alt="Danh sách thu chi" title="Danh sách thu chi" th:href="@{/danh_sach_thu_chi}" coords="213,654,22,631" shape="rect">
        <area target="_self" alt="Thu chi tiền" title="Thu chi tiền" th:href="@{/thu_chi_tien}" coords="264,345,457,415" shape="rect">
        <area target="_self" alt="Kiểm kê quỹ" title="Kiểm kê quỹ" th:href="@{/add_ca_audit}" coords="500,500,704,532" shape="rect">
        <area target="_self" alt="Danh sách Kiểm kê quỹ" title="Danh sách Kiểm kê quỹ" th:href="@{/ca_audits}" coords="500,535,704,578" shape="rect">
        <area target="_self" alt="Sổ chi tiết tiền mặt" title="Sổ chi tiết tiền mặt" th:href="@{/so_chi_tiet_tien_mat}" coords="938,414,739,345" shape="rect">
    </map>
</div>

<!--<h3>Liên kết</h3>-->
<!--<ul>-->
<!--    <li>-->
<!--        <a th:href="@{'/add_cash_receipt'}">Thêm phiếu thu</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a th:href="@{'/collect_money'}">Thu tiền khách hàng</a>-->
<!--    </li>-->
<!--</ul>-->

<th:block th:include="fragments/footer"></th:block>
