<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<h3>DANH SÁCH QUY TẮC ĐÁNH SỐ CHỨNG TỪ TỰ ĐỘNG</h3>
<br/>
<br/>
<table id="auto_id_datagrid">
    <thead>
    <tr>
        <th>STT</th>
        <th data-field="LOAI_CHUNG_TU_DANH_MUC" data-title="Loại chứng từ, danh mục" title="Loại chứng từ, danh mục">Loại chứng từ, danh mục</th>
        <th data-field="TIEN_TO" data-title="Tiền tố" title="Tiền tố">Tiền tố</th>
        <th data-field="GIA_TRI_LON_NHAT_DA_CO" data-title="Giá trị lớn nhất đã có" title="Giá trị lớn nhất đã có">Giá trị lớn nhất đã có</th>
        <th data-field="TONG_SO_KY_TU_PHAN_SO" data-title="Tổng số ký tự phần số" title="Tổng số ký tự phần số">Tổng số ký tự phần số</th>
        <th data-field="HAU_TO" data-title="Hậu tố" title="Hậu tố">Hậu tố</th>
        <th data-field="HIEN_THI" data-title="Hiển thị" title="Hiển thị">Hiển thị</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="autoId : ${sysAutoIdList}">
        <td></td>
        <td th:text="${autoId.refTypeCategoryName}"></td>
        <td th:text="${autoId.prefixString}"></td>
        <td th:text="${autoId.maxExistValue}"></td>
        <td th:text="${autoId.lengthOfValue}"></td>
        <td th:text="${autoId.suffix}"></td>
        <td th:text="${autoId.displayOnBook}"></td>
        <td>
            <a class="k-button" th:href="@{/sys_auto_id/view/{id}(id=${autoId.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/sys_auto_id/edit/{id}(id=${autoId.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#auto_id_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            },
            navigatable: true,
            columns: [
                {
                    title: "STT",
                    template: "#= ++record #",
                    width: 100
                }, {
                    field: "LOAI_CHUNG_TU_DANH_MUC",
                    title: "Loại chứng từ, danh mục",
                    width: 300
                }, {
                    field: "TIEN_TO",
                    title: "Tiền tố",
                    width: 200
                }, {
                    field: "GIA_TRI_LON_NHAT_DA_CO",
                    title: "Giá trị lớn nhất đã có",
                    width: 100
                }, {
                    field: "TONG_SO_KY_TU_PHAN_SO",
                    title: "Tổng số ký tự phần số",
                    width: 300
                }, {
                    field: "HAU_TO",
                    title: "Hậu tố",
                    width: 200
                }, {
                    field: "HIEN_THI",
                    title: "Hiển thị",
                    width: 200
                }, {
                    field: "THAO_TAC",
                    title: "Thao tác",
                    width: 200
                }
            ],
            dataBinding: function() {
                record = (this.dataSource.page() -1) * this.dataSource.pageSize();
            }
        });
    });

</script>

<th:block th:include="fragments/footer"></th:block>
