<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/sys_auto_ids}" class="k-button k-primary" title="Danh sách Luật đánh số chứng từ, danh mục tự động">Danh sách Luật đánh số chứng từ, danh mục tự động</a>
<br/>
<br/>
<h3>XEM CHI TIẾT LUẬT ĐÁNH SỐ CHỨNG TỪ TỰ ĐỘNG</h3>
<br/>
<br/>
<form method="post" th:action="@{'/edit_auto_id'}" modelAttribute="sysAutoIdForm" th:object="${sysAutoIdForm}" id="sysAutoIdForm">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">
                <input th:field="*{id}" hidden readonly>
            </td>
        </tr>

        <tr>
            <td><label th:for="refTypeCategoryName">Tên loại chứng từ</label></td>
            <td><input type="text" th:field="*{refTypeCategoryName}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="prefixString" required>Tiền tố</label></td>
            <td><input type="text" th:field="*{prefixString}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="maxExistValue">Giá trị lớn nhất đã tồn tại</label></td>
            <td><input type="number" th:field="*{maxExistValue}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="lengthOfValue">Độ dài phần số</label></td>
            <td><input type="text" th:field="*{lengthOfValue}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="suffix">Hậu tố</label></td>
            <td><input type="text" th:field="*{suffix}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label hidden th:for="branchId">Chi nhánh</label></td>
            <td><input type="number" th:field="*{branchId}" readonly hidden></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <a th:href="@{/sys_auto_ids}" type="submit" class="k-button k-primary"><span class="k-icon k-i-close" style="color: gold;"></span> Đóng</a>
            </td>
        </tr>
    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
