<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_supply_category}" class="k-button k-primary">Thêm loại Công cụ dụng cụ</a>
<br/>
<br/>
<br/>
<table id="supply_categories_datagrid">
    <thead>
    <tr>
        <th data-field="MA_LOAI_CCDC" data-title="Mã loại CCDC" title="Mã loại Công cụ dụng cụ">Mã loại CCDC</th>
        <th data-field="TEN_LOAI_CCDC" data-title="Tên loại CCDC" title="Tên loại Công cụ dụng cụ">Tên loại CCDC</th>
        <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="supplyCategory : ${supplyCategories}">
        <td th:text="${supplyCategory.supplyCategoryCode}"></td>
        <td th:text="${supplyCategory.supplyCategoryName}"></td>
        <td th:text="${supplyCategory.description}"></td>
        <td th:text="${activeStatusList[supplyCategory.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/supply_category/view/{id}(id=${supplyCategory.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/supply_category/edit/{id}(id=${supplyCategory.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${supplyCategory.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${supplyCategory.id}" th:action="@{/supply_category/delete/{id}(id=${supplyCategory.id})}"><button type="submit" hidden th:id="'btn_' + ${supplyCategory.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#supply_categories_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
