<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<h3>Biểu thuế tài nguyên</h3>
<br/>
<br/>
<br/>
<table id="resources_taxes_datagrid">
    <thead>
    <tr>
        <th data-field="MA" data-title="Mã" title="Mã">Mã</th>
        <th data-field="TEN_TAI_NGUYEN" data-title="Tên tài nguyên" title="Tên loại Tài sản cố định">Tên tài nguyên</th>
        <th data-field="DON_VI_TINH" data-title="Đơn vị tính" title="Đơn vị tính">Đơn vị tính</th>
        <th data-field="THUE_SUAT" data-title="Thuế suất %" title="Thuế suất %">Thuế suất %</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resourcesTax : ${resourcesTaxTableList}">
        <td th:text="${resourcesTax.code}"></td>
        <td th:text="${resourcesTax.name}"></td>
        <td th:text="${resourcesTax.unit}"></td>
        <td th:text="${resourcesTax.taxRate}"></td>
        <td th:text="${activeStatusList[resourcesTax.activeStatus]}"></td>

        <td>
            <a class="k-button" th:href="@{/resources_tax/view/{id}(id=${resourcesTax.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/resources_tax/edit/{id}(id=${resourcesTax.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#resources_taxes_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            pageable: {
                pageSizes: true
            },
            dataSource: {
                pageSize: 30
            }
        });
    });
</script>

<th:block th:include="fragments/footer"></th:block>
