<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/suppliers}" class="k-button k-primary"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Nhà cung cấp (Tổ chức + Cá nhân)</a>
<br/>
<br/>
<h3>THÊM NHÀ CUNG CẤP TỔ CHỨC</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_org_supplier'}" th:object="${accountObjectForm}"  modelAttribute="accountObjectForm" id="accountObjectForm">
    <table style="width: 1366px;">
        <tr>
            <td width="25%"><span class="b-gr-header">Thông tin chung</span></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="companyTaxCode">Mã số thuế</label></td>
            <td><input type="text" th:field="*{companyTaxCode}" class="k-textbox" style="width: 100%;">
            </td>
            <td><label th:for="accountObjectCode">Mã đối tượng<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountObjectCode}" class="k-textbox" required style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectName">Tên nhà cung cấp</label></td>
            <td><input type="text" th:field="*{accountObjectName}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="address">Địa chỉ</label></td>
            <td><input type="text" th:field="*{address}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="accountObjectGroupListName">Nhóm KH, NCC</label></td>
            <td style="display: flex; align-items: center;">
                <div style="width: 87%; display: inline-block;">
                    <select th:field="*{accountObjectGroupListName}" multiple="multiple" data-placeholder="Chọn nhóm Đối tượng kế toán">
                        <option th:each="item:${accountObjectGroupList}" th:value="${item.id}" th:text="${item.accountObjectGroupCode}"/>
                    </select>
                    <script>
                        $(document).ready(function() {
                            $("#accountObjectGroupListName").kendoMultiSelect().data("kendoMultiSelect");
                        });
                    </script>                    
                </div>&nbsp;<a class="k-button k-primary" th:href="@{/add_account_object_group}" title="Thêm Nhóm KH, NCC" style="display: inline-table;"><span class="k-icon k-i-add" style="color: gold;"></span></a>            
            </td>
        </tr>

        <tr>
            <td><label th:for="tel">Điện thoại</label></td>
            <td><input type="tel" th:field="*{tel}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="website">Website</label></td>
            <td><input type="url" th:field="*{website}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label th:for="fax">Fax</label></td>
            <td><input type="text" th:field="*{fax}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="paymentTermId">Điều khoản thanh toán</label></td>
            <td><input type="number" th:field="*{paymentTermId}" style="width: 87%; display: inline-block;">&nbsp;<a style="display: inline-table" class="k-button k-primary" th:href="@{/add_payment_term}" title="Thêm Điều khoản thanh toán"><span class="k-icon k-i-add" style="color: gold; display: inline-table"></span></a>
                <script>
                    $(document).ready(function () {
                        var dataPaymentTerms = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/payment_terms_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#paymentTermId").kendoMultiColumnComboBox({
                            dataTextField: "paymentTermName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "paymentTermCode", title: "Mã điều khoản thanh toán", width: 200},
                                { field: "paymentTermName", title: "Tên điều khoản thanh toán", width: 400 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Điều khoản thanh toán',
                            filter: "contains",
                            filterFields: ["paymentTermCode", "paymentTermName"],
                            dataSource: dataPaymentTerms,
                            change: onChangePaymenTerm
                        });
                    });
                    function onChangePaymenTerm() { }
                </script>
            </td>
        </tr>
        <tr>
            <td><label th:for="emailAddress">Email</label></td>
            <td><input type="email" th:field="*{emailAddress}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="dueTime">Số ngày được nợ</label></td>
            <td><input type="number" th:field="*{dueTime}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label th:for="employeeId">NV mua hàng</label></td>
            <td><input type="number" th:field="*{employeeId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 200},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 300 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 300 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>
            </td>
            <td><label th:for="maxDebtAmount">Số nợ tối đa</label></td>
            <td><input type="number" th:field="*{maxDebtAmount}" class="k-textbox" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td><label th:for="country">Quốc gia</label></td>
            <td><input th:field="*{country}" value="1" style="width: 100%;"/>
            <script>
                $(document).ready(function () {
                    var dataCountry = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/countries",
                                dataType: "json"
                            }
                        },
                        pageSize: 300
                    });
                    // create DropDownList from input HTML element
                    $("#country").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: dataCountry,
                        // filter: "contains",
                        filter: "startswith",
                        suggest: true,
                        index: 0,
                        change: onChangeCountry
                    });
                });
                // Create DropDownList from select HTML element
                $("#country").kendoDropDownList();
                var country_combo = $("#country").data("kendoDropDownList");
                country_combo.select(0);
                function onChangeCountry() { }
            </script>
            </td>
            <td><label th:for="provinceOrCity">Tỉnh/TP</label></td>
            <td><input th:field="*{provinceOrCity}" value="1" style="width: 100%;"/>
            <script>
                $(document).ready(function () {
                    var data2 = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/provinces",
                                dataType: "json"
                            }
                        },
                        pageSize: 300
                    });
                    // create DropDownList from input HTML element
                    $("#provinceOrCity").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data2,
                        // filter: "contains",
                        filter: "startswith",
                        suggest: true,
                        index: 0,
                        change: onChangeProvinceOrCity
                    });
                });
                // Create DropDownList from select HTML element
                $("#provinceOrCity").kendoDropDownList();
                var provinceOrCity_combo = $("#provinceOrCity").data("kendoDropDownList");
                provinceOrCity_combo.select(0);
                function onChangeProvinceOrCity() { }
            </script>
            </td>
        </tr>
        <tr>
            <td><label th:for="district">Quận/Huyện</label></td>
            <td><input th:field="*{district}" value="1" style="width: 100%;"/>
            <script>
                $(document).ready(function () {
                    var data3 = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/districts",
                                dataType: "json"
                            }
                        },
                        pageSize: 1000
                    });
                    // create DropDownList from input HTML element
                    $("#district").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data3,
                        filter: "contains",
                        // filter: "startswith",
                        suggest: true,
                        index: 0,
                        change: onChange3
                    });
                });
                var districtName = "";
                // Create DropDownList from select HTML element
                $("#district").kendoDropDownList();
                var district_combo = $("#district").data("kendoDropDownList");
                district_combo.select(0);
                function onChange3() {
                    //districtName = $("#district").val();
                    //console.log("districtName = " + districtName);
                    //ward_combo.refresh();
                }
            </script>
            </td>
            <td><label th:for="wardOrCommune">Xã/Phường</label></td>
            <td><input th:field="*{wardOrCommune}" value="1" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var data4 = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/wards",
                                    //url: "/wards_by_district_name?district_name='" + districtName + "'",
                                    dataType: "json"
                                }
                            },
                            pageSize: 12000
                        });

                        var data4b = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    //url: "/wards",
                                    url: "/wards_by_district_name?district_name='" + districtName + "'",
                                    dataType: "json"
                                }
                            },
                            pageSize: 12000
                        });


                        // create DropDownList from input HTML element
                        $("#wardOrCommune").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data4,
                            filter: "contains",
                            // filter: "startswith",
                            suggest: true,
                            index: 0,
                            change: onChange4
                        });
                    });

                    // Create DropDownList from select HTML element
                    $("#wardOrCommune").kendoDropDownList();

                    var ward_combo = $("#wardOrCommune").data("kendoDropDownList");
                    ward_combo.select(0);
                    function onChange4() {

                    }
                </script>
            </td>
        </tr>
        <tr>
            <td><span class="b-gr-header">Thông tin liên hệ</span></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label th:for="prefix">Xưng hô</label></td>
            <td>
                <input th:field="*{prefix}" value="1" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var data5 = [
                            {text: "Ông", value: "Ông"},
                            {text: "Bà", value: "Bà"},
                            {text: "Anh", value: "Anh"},
                            {text: "Chị", value: "Chị"},
                            {text: "Bạn", value: "Bạn"},
                            {text: "Mr", value: "Mr"},
                            {text: "Mrs", value: "Mrs"},
                            {text: "Miss", value: "Miss"}
                        ];

                        // create DropDownList from input HTML element
                        $("#prefix").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data5,
                            index: 0,
                            change: onChangePrefix
                        });
                    });

                    // create DropDownList from select HTML element
                    $("#prefix").kendoDropDownList();

                    var prefix = $("#prefix").data("kendoDropDownList");
                    prefix.select(0);
                    function onChangePrefix() { }
                </script>
            </td>
            <td><label for="contactFixedTel">ĐT cố định</label></td>
            <td><input type="text" id="contactFixedTel" name="contactFixedTel" class="k-textbox" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td><label for="contactName">Họ và tên</label></td>
            <td><input type="text" id="contactName" name="contactName" class="k-textbox" style="width: 100%;"></td>
            <td><label for="contactEmail">Email</label></td>
            <td><input type="email" id="contactEmail" name="contactEmail" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label for="contactTitle">Chức danh</label></td>
            <td><input type="text" id="contactTitle" name="contactTitle" class="k-textbox" style="width: 100%;"></td>
            <td><label for="contactAddress">Địa chỉ</label></td>
            <td><input type="text" id="contactAddress" name="contactAddress" class="k-textbox" style="width: 100%;">
            </td>
        </tr>

        <tr>
            <td><label for="contactMobile">ĐT di động</label></td>
            <td><input type="text" id="contactMobile" name="contactMobile" class="k-textbox" style="width: 100%;"></td>
            <td><label for="otherContactMobile">ĐTDĐ khác</label></td>
            <td><input type="text" id="otherContactMobile" name="otherContactMobile" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label for="legalRepresentative">Đại diện theo PL</label></td>
            <td><input type="text" id="legalRepresentative" name="legalRepresentative" class="k-textbox" style="width: 100%;"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="shippingAddress">Địa điểm giao hàng</label></td>
            <td><input type="text" id="shippingAddress" name="shippingAddress" class="k-textbox" style="width: 100%;"></td>
        </tr>
    </table>

    <span class="b-gr-header">Tài khoản ngân hàng của nhà cung cấp</span>

    <table style="padding-top: 15px; padding-left: 50px; width: 1366px;">
        <tr>
            <thead>
            <th>STT</th>
            <th width="24%">Số tài khoản</th>
            <th width="24%">Tên ngân hàng</th>
            <th width="24%">Chi nhánh</th>
            <th width="24%">Tỉnh/TP của ngân hàng</th>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : ${accountObjectForm.accountObjectBankAccountList}">
                <td><span th:text="${itemStat.index + 1}"></span></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" class="k-textbox" style="width: 100%;"></td>
                <td><input type="number" th:name="|accountObjectBankAccountList[${itemStat.index}].bankId|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankId|" style="width: 100%"></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" class="k-textbox" style="width: 100%;"></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].province|" th:id="|accountObjectBankAccountList[${itemStat.index}].province|" style="width: 100%;"></td>
            </tr>
            <script>
                $(document).ready(function () {
                    var dataBank = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/banks_json",
                                dataType: "json"
                            }
                        },
                        pageSize: 30
                    });

                    $("input[name$='bankId']").each(function() {
                        $(this).kendoDropDownList({
                            optionLabel: "Chọn...",
                            dataTextField: "bankCode",
                            dataValueField: "id",
                            dataSource: dataBank,
                            index: 0,
                            change: onChangeBank
                        })
                    });

                    var dataProvinceBank = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/provinces",
                                dataType: "json"
                            }
                        },
                        pageSize: 300
                    });

                    $("input[name$='province']").each(function() {
                        $(this).kendoDropDownList({
                            optionLabel: "Chọn...",
                            dataTextField: "text",
                            dataValueField: "value",
                            filter: "contains",
                            dataSource: dataProvinceBank,
                            index: 0,
                            change: onChangeProvinceBank
                        })
                    });
                });
                function onChangeBank() { }
                function onChangeProvinceBank() { }
            </script>
            </tbody>
        </tr>
    </table>

    <h3>Địa chỉ giao nhận hàng</h3>

    <table style="padding-top: 15px; padding-left: 50px; width: 1366px;">
        <tr>
            <thead>
            <th width="4%">STT</th>
            <th width="96%">Địa chỉ</th>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : ${accountObjectForm.accountObjectShippingAddressList}">
                <td><span th:text="${itemStat.index + 1}"></span></td>
                <td><input type="text" th:name="|accountObjectShippingAddressList[${itemStat.index}].shippingAddress|" th:id="|accountObjectShippingAddressList[${itemStat.index}].shippingAddress|" class="k-textbox" style="width: 100%;"></td>
            </tr>
            </tbody>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button id="addAccountObject" type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm</button> &nbsp;
                <a href="/suppliers" class="k-button k-primary"><span class="k-icon k-i-cancel" style="color: gold;"></span>&nbsp;Thôi</a>
            </td>
        </tr>
    </table>

</form>



<th:block th:include="fragments/footer"></th:block>
