<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a role="button" th:href="@{'/sale_invoices'}" class="k-button k-primary" style="text-decoration: none;">Danh sách Hóa đơn bán hàng</a>
<br/>
<br/>
<form method="post" action="/add_sale_invoice" modelAttribute="saleInvoice">
    <table style="width: 1366px;">
        <tr>
            <td><h3>Thêm Hóa đơn bán hàng</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="type_of_sale">Loại bán hàng</label></td>
            <td><input id="type_of_sale" class="k-textbox" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                       var dataTypeOfSale = [
                           {text: "Bán hàng hóa, dịch vụ trong nước", value: 1},
                           {text: "Bán hàng xuát khẩu", value: 2},
                           {text: "Bán hàng đại lý bán đúng giá", value: 3},
                           {text: "Bán hàng ủy thác xuất khẩu", value: 4}
                       ] ;

                        $("#type_of_sale").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataTypeOfSale,
                            index: 0,
                            change: onChangeTypeOfSale
                        });
                    });
                    function onChangeTypeOfSale() {}
                </script>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="accountObjectId" required>Khách hàng</label></td>
            <td><input type="text" id="accountObjectId" name="accountObjectId" class="k-textbox" style="width: 100%;">
                <script>
                    var dataAccountObject;

                    $(document).ready(function () {
                        var dataCustomers = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/customers_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                       $("#accountObjectId").kendoMultiColumnComboBox({
                           dataTextField: "accountObjectName",
                           dataValueField: "id",
                           height: 400,
                           columns: [
                               {field: "accountObjectCode", title: "Mã khách hàng", width: 200},
                               { field: "accountObjectName", title: "Tên khách hàng", width: 400 },
                               { field: "address", title: "Địa chỉ", width: 400 },
                               { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                               { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                           ],
                           footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khách hàng',
                           filter: "contains",
                           filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                           dataSource: dataCustomers,
                           change: onChangeCustomer
                       });

                       dataAccountObject = data;
                    });
                    function onChangeCustomer(e) {
                        //console.log(e.sender);
                        //$("#accountObjectName").val(e.sender.text());
                    }
                </script>
            </td>
            <td><label for="accountObjectCode">Mã khách hàng</label></td>
            <td><input type="text" id="accountObjectCode" name="accountObjectCode" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label for="companyTaxCode">Mã số thuế</label></td>
            <td><input type="text" id="companyTaxCode" name="companyTaxCode" class="k-textbox" style="width: 100%;"></td>
            <td><label for="accountObjectBankAccount">TK Ngân hàng</label></td>
            <td><input type="text" id="accountObjectBankAccount" name="accountObjectBankAccount" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label>Hình thức TT</label></td>
            <td><input type="text" id="paymentMethod" name="paymentMethod" class="k-textbox" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data3 = [
                            {text: "Tiền mặt", value: "Tiền mặt"},
                            {text: "Chuyển khoản", value: "Chuyển khoản"},
                            {text: "TM/CK", value: "TM/CK"}
                        ];

                        $("#paymentMethod").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data3,
                            index: 0,
                            change: onChange3
                        });
                    });
                    function onChange3() {

                    }
                </script>
            </td>
            <td><label for="buyer">Người mua hàng</label></td>
            <td><input type="text" id="buyer" name="buyer" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label>Nhân viên bán hàng</label></td>
            <td><input type="number" id="employeeId" name="employeeId" class="k-textbox" style="width: 100%;"></td>
            <td><label for="isPosted">Đã hạch toán</label></td>
            <td><input type="checkbox" id="isPosted" name="isPosted" class="k-checkbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label for="displayOnBook">Hiển thị trên sổ</label></td>
            <td>
                <input id="displayOnBook" name="displayOnBook" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var data4 = [
                            {text: "Sổ Tài chính và Quản trị", value: 2},
                            {text: "Sổ Tài chính", value: 0},
                            {text: "Sổ Quản trị", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#displayOnBook").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data4,
                            index: 0,
                            change: onChange4
                        });
                    });
                    function onChange4() {

                    }
                </script>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><b>Hóa đơn</b></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="invTemplateNo">Mẫu số HĐ</label></td>
            <td><input type="text" id="invTemplateNo" name="invTemplateNo" class="k-textbox" style="width: 100%;"></td>
            <td><label for="invSeries"></label></td>
            <td><input type="text" id="invSeries" name="invSeries" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label for="invNo">Số hóa đơn</label></td>
            <td><input type="text" id="invNo" name="invNo" class="k-textbox" style="width: 100%;"></td>
            <td><label for="invDate">Ngày hóa đơn</label></td>
            <td><input type="text" id="invDate" name="invDate" class="k-textbox" style="width: 100%;"></td>
        </tr>

    </table>

    <h3>Hàng, tiền</h3>
    <table>
        <thead>
        <tr>
            <td>STT</td>
            <td>Mã hàng</td>
            <td>Tên hàng</td>
            <td>ĐVT</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td>Tỷ lệ CK(%)</td>
            <td>Tiền chiết khấu</td>
            <td>%Thuế VAT</td>
            <td>Tiền thuế VAT</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="saInvoiceDetail, itemStat : ${addSaleInvoiceForm.saInvoiceDetailList}">
            <td><span th:text="${itemStat.index + 1}"></span></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].inventoryItemId|" th:id="|saInvoiceDetail[${itemStat.index}].inventoryItemId|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].description|" th:id="|saInvoiceDetail[${itemStat.index}].description|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].unitId|" th:id="|saInvoiceDetail[${itemStat.index}].unitId|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].quantity|" th:id="|saInvoiceDetail[${itemStat.index}].quantity|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].unitPrice|" th:id="|saInvoiceDetail[${itemStat.index}].unitPrice|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].amountOc|" th:id="|saInvoiceDetail[${itemStat.index}].amountOc|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].discountRate|" th:id="|saInvoiceDetail[${itemStat.index}].discountRate|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].discountAmountOc|" th:id="|saInvoiceDetail[${itemStat.index}].discountAmountOc|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].vatRate|" th:id="|saInvoiceDetail[${itemStat.index}].vatRate|" class="k-textbox"></td>
            <td><input type="text" th:name="|saInvoiceDetailList[${itemStat.index}].vatAmountOc|" th:id="|saInvoiceDetail[${itemStat.index}].vatAmountOc|" class="k-textbox"></td>
        </tr>
        <tr>
            <td colspan="12" style="text-align: center; padding-top: 15px;"><button role="button" type="submit" class="k-button k-primary">Thêm</button></td>
        </tr>
        </tbody>
    </table>
</form>
<th:block th:include="fragments/footer"></th:block>
