<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Phân hệ Bán hàng. Thêm Đơn đặt hàng -->
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a role="button" th:href="@{'/sa_orders'}" class="k-button k-primary" style="text-decoration: none;"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách đơn đặt hàng</a>
<br/>
<br/>
<h3>THÊM ĐƠN ĐẶT HÀNG</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_sa_order'}" modelAttribute="saOrderForm" th:object="${saOrderForm}" id="saOrderForm">
    <table style="width: 1366px;">
        <tr>
            <td width="25%;"><h3>Thông tin chung</h3></td>
            <td width="25%;"></td>
            <td width="25%;"></td>
            <td width="25%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectId">Mã Khách hàng</label></td>
            <td><input type="number" th:field="*{accountObjectId}" style="width: 100%;">
                <script>
                    var dataAccountObject;
                    $(document).ready(function () {
                        var dataCustomers = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/customers_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        dataAccountObject = dataCustomers;

                        $("#accountObjectId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã Khách hàng", width: 200},
                                { field: "accountObjectName", title: "Tên Khách hàng", width: 400 },
                                { field: "address", title: "Địa chỉ", width: 400 },
                                { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                                { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khách hàng',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                            dataSource: dataCustomers,
                            change: onChangeCustomer
                        });
                    });
                    function onChangeCustomer(e) {
                        $("#accountObjectName").val(e.sender.text());
                        var idObj = parseInt(e.sender.value(), 10);
                        resultCustomers = (dataAccountObject["_pristineData"]).filter(obj => {
                            return obj.id === idObj;
                        });
                        //$("#accountObjectName").val(resultCustomers[0].accountObjectName);
                        $("#accountObjectAddress").val(resultCustomers[0].address);
                        $("#accountObjectTaxCode").val(resultCustomers[0].companyTaxCode);
                    }
                </script>
            </td>
            <td><label th:for="accountObjectName">Tên khách hàng</label></td>
            <td><input type="text" th:field="*{accountObjectName}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectAddress">Địa chỉ</label></td>
            <td><input type="text" th:field="*{accountObjectAddress}" id="accountObjectAddress" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="accountObjectTaxCode">Mã số thuế</label></td>
            <td><input type="text" th:field="*{accountObjectTaxCode}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="receiver">Người nhận hàng</label></td>
            <td><input type="text" th:field="*{receiver}" class="k-textbox" style="width: 100%;">

            </td>
            <td><label th:for="journalMemo">Diễn giải</label></td>
            <td><input type="text" th:field="*{journalMemo}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="employeeId">Nhân viên bán hàng</label></td>
            <td><input type="number" th:field="*{employeeId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 180},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 220 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 220 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 130 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>
            </td>
            <td><label th:for="paymentTermId">Điều khoản thanh toán</label></td>
            <td><input type="number" th:field="*{paymentTermId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataPaymentTermId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/payment_terms_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#paymentTermId").kendoMultiColumnComboBox({
                            dataTextField: "paymentTermCode",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "paymentTermCode", title: "Mã điều khoản thanh toán", width: 200},
                                { field: "paymentTermName", title: "Tên điều khoản thanh toán", width: 400 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Điều khoản thanh toán',
                            filter: "contains",
                            filterFields: ["paymentTermCode", "paymentTermName"],
                            dataSource: dataPaymentTermId,
                            change: onChangeDataPaymentTermId
                        });
                    });
                    function onChangeDataPaymentTermId() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="dueDay">Số ngày được nợ</label></td>
            <td><input type="number" th:field="*{dueDay}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="quoteRefId">Liên quan đến Báo giá</label></td>
            <td><input type="number" th:field="*{quoteRefId}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="currencyId">Loại tiền</label></td>
            <td><input type="number" th:field="*{currencyId}" style="width: 100%;">
                <script>
                    var dataCCY;
                    $(document).ready(function () {
                        var dataCurrencyId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/ccy_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        dataCCY = dataCurrencyId;

                        $("#currencyId").kendoDropDownList({
                            dataTextField: "currencyCode",
                            dataValueField: "id",
                            dataSource: dataCurrencyId,
                            filter: "contains",
                            index: 0,
                            change: onChangeCurrencyId
                        });
                        $("#exchangeRate").val(1);
                    });

                    function onChangeCurrencyId(e) {
                        var idCCY = parseInt(e.sender.value(), 10);
                        resultCCY = (dataCCY["_pristineData"]).filter(obj => {
                            return obj.id === idCCY;
                        });
                        $("#exchangeRate").val(resultCCY[0].exchangeRate);
                    }
                </script>
            </td>
            <td><label th:for="exchangeRate">Tỷ giá</label></td>
            <td><input type="text" th:field="*{exchangeRate}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><h3>Đơn hàng</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="refDate">Ngày đơn hàng</label></td>
            <td><input type="date" th:field="*{refDate}" style="width: 100%;">
                <script>
                    var todayDate = new Date();
                    $("#refDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                    $("#refDate").data("kendoDatePicker").value(todayDate);
                </script>
            </td>
            <td><label th:for="refNo">Số đơn hàng</label></td>
            <td><input type="text" th:field="*{refNo}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="status">Tình trạng</label></td>
            <td><input type="number" th:field="*{status}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data = [
                            {text: "Chưa thực hiện", value: 0},
                            {text: "Đang thực hiện", value: 1},
                            {text: "Hoàn thành", value: 2},
                            {text: "Đã hủy bỏ", value: 3}
                        ];
                        // create DropDownList from input HTML element
                        $("#status").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data,
                            index: 0,
                            change: onChangeStatus
                        });
                    });
                    $("#status").kendoDropDownList();
                    var prefix = $("#status").data("kendoDropDownList");
                    prefix.select(0);
                    function onChangeStatus() { }
                </script>
            </td>
            <td><label th:for="deliveryDate">Ngày giao hàng</label></td>
            <td><input type="text" th:field="*{deliveryDate}" style="width: 100%;">
                <script>
                    $("#deliveryDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                    $("#deliveryDate").data("kendoDatePicker").value(todayDate);
                </script>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="checkbox" th:checked="*{isCalculatedCost}" id="isCalculatedCost" name="isCalculatedCost" class="k-checkbox">
                <label for="isCalculatedCost" class="k-checkbox-label">Tính giá thành</label>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label>Địa điểm giao hàng</label></td>
            <td colspan="3"><input type="text" th:field="*{shippingAddress}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label>Điều khoản khác</label></td>
            <td colspan="3"><input type="text" th:field="*{otherTerm}" class="k-textbox" style="width: 100%;"></td>
        </tr>

    </table>

    <h3>Mặt hàng</h3>

    <table>
        <thead>
            <th title="Số thứ tự">STT</th>
            <th>Mã hàng</th>
            <th>Tên hàng</th>
            <th title="Đơn vị tính">ĐVT</th>
            <th>Số lượng</th>
            <th>Số lượng đã giao</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th>%Thuế GTGT</th>
            <th>Tiền thuế GTGT</th>
        </thead>
        <tbody>
            <tr th:each="saOrderDetail, itemStat : ${saOrderForm.saOrderDetailList}">
                <td><span th:text="${itemStat.index + 1}"></span></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].inventoryItemId|" th:id="|saOrderDetailList[${itemStat.index}].inventoryItemId|" onchange="calc();"></td>
                <td><input type="text" th:name="|saOrderDetailList[${itemStat.index}].inventoryItemName|" th:id="|saOrderDetailList[${itemStat.index}].inventoryItemName|" onchange="calc();" class="k-textbox"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].unitId|" th:id="|saOrderDetailList[${itemStat.index}].unitId|" onchange="calc();"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].quantity|" th:id="|saOrderDetailList[${itemStat.index}].quantity|" onchange="calc();" class="k-textbox"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].quantityDeliveredSa|" th:id="|saOrderDetailList[${itemStat.index}].quantityDeliveredSa|" onchange="calc();" class="k-textbox"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].unitPrice|" th:id="|saOrderDetailList[${itemStat.index}].unitPrice|" onchange="calc();" class="k-textbox"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].amountOc|" th:id="|saOrderDetailList[${itemStat.index}].amountOc|" onchange="calc();" class="k-textbox"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].vatRate|" th:id="|saOrderDetailList[${itemStat.index}].vatRate|" onchange="calc();" class="k-textbox"></td>
                <td><input type="number" th:name="|saOrderDetailList[${itemStat.index}].vatAmountOc|" th:id="|saOrderDetailList[${itemStat.index}].vatAmountOc|" onchange="calc();" class="k-textbox"></td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>Tổng</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="number" th:field="*{totalAmountOc}" class="k-textbox" style="width: 100%;"></td><!-- Tổng Thành tiền -->
            <td></td>
            <td><input type="number" th:field="*{totalVatAmountOc}" class="k-textbox" style="width: 100%;"></td><!-- Tổng tiền thuế GTGT -->
        </tr>
        </tfoot>
    </table>

    <table style="width: 1366px;">
        <tr>
        <tr>
            <td colspan="10" style="text-align: center; padding-top: 15px;"><button role="button" type="submit" class="k-button k-primary"><span class="k-icon k-i-floppy" style="color: gold;"></span>&nbsp;Lưu</button></td>
        </tr>
        </tr>
    </table>
</form>
<script>
    var dataInventory;
    $(document).ready(function () {
        var dataInventoryItems = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/active_inventory_items_for_detail_row_json",
                    dataType: "json"
                }
            },
            pageSize: 30
        });
        dataInventory = dataInventoryItems;

        $("input[name$='].inventoryItemId']").each(function() {
            $(this).kendoMultiColumnComboBox({
                dataTextField: "inventoryItemCode",
                dataValueField: "id",
                height: 400,
                columns: [
                    { field: "inventoryItemCode", title: "Mã hàng", width: 150},
                    { field: "inventoryItemName", title: "Tên hàng", width: 200 },
                    { field: "availableQuantity", title: "Số lượng tồn", width: 100 },
                    { field: "salePrice1", title: "Giá bán 1", width: 110 },
                    { field: "salePrice2", title: "Giá bán 2", width: 110 },
                    { field: "salePrice3", title: "Giá bán 3", width: 110 },
                    { field: "fixedSalePrice", title: "Giá bán cố định", width: 110 }
                    //,{ field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                ],
                footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Hàng hóa/Sản phẩm/dịch vụ',
                filter: "contains",
                filterFields: ["inventoryItemCode", "inventoryItemName", "availableQuantity", "salePrice1", "salePrice2", "salePrice3", "fixedSalePrice"],
                dataSource: dataInventoryItems,
                change: onChangeInventoryItem
            });
        });

        // Đơn vị tính.
        var dataUnitId = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/active_units_json",
                    dataType: "json"
                }
            },
            pageSize: 30
        });

        $("input[name$='].unitId']").each(function() {
            $(this).kendoDropDownList({
                optionLabel: "Chọn..",
                dataTextField: "unitName",
                dataValueField: "id",
                dataSource: dataUnitId,
                filter: "contains",
                value: "",
                //index: 0,
                // autoBind: false,
                change: onChangeUnitId
            });
        });
    });
    var bar;
    function onChangeInventoryItem(e) {
        var affectedElement = e.sender.element.context.name;
        var orderNumber = affectedElement.substring(affectedElement.indexOf('[') + 1, affectedElement.indexOf(']'));
        var idChoosen = parseInt(e.sender.value(), 10);
        dataInventoryChoosen = (dataInventory["_pristineData"]).filter(obj => {
            return obj.id === idChoosen;
        });
        $("#saOrderDetailList\\[" + orderNumber + "\\]\\.inventoryItemName").val(dataInventoryChoosen[0].inventoryItemName);
        $("#saOrderDetailList\\[" + orderNumber + "\\]\\.unitId").val(dataInventoryChoosen[0].unitId);
    };
    function onChangeUnitId() { }

    // Tính tổng tiền.
    function calc() {
        for (var i = 0; i < 20; i++) {
            var p1 = $("#saOrderDetailList\\[" + orderNumber + "\\]\\.unitPrice").val();
            var p2 = $("#saOrderDetailList\\[" + orderNumber + "\\]\\.quantity").val();
            var p3 = p1 * p2;


        }
        $("input[name$='].inventoryItemId']").each(function() {
            $("")
        });
    }



</script>



<script>
    $(document).ready(function() {
        var validator = $("#addCashReceiptForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>