<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_auto_business}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm Nghiệp vụ Định khoản tự động</a>
<br/>
<br/>
<br/>

<table id="auto_business_datagrid">
    <thead>
    <tr>
        <th data-field="LOAI_CHUNG_TU" data-title="Loại chứng từ" title="Loại chứng từ">Loại chứng từ</th>
        <th data-field="TEN_DINH_KHOAN" data-title="Tên định khoản" title="Tên định khoản">Tên định khoản</th>
        <th data-field="TAI_KHOAN_NO" data-title="Tài khoản Nợ" title="Tài khoản Nợ">Tài khoản Nợ</th>
        <th data-field="TAI_KHOAN_CO" data-title="Tài khoản Có" title="Tài khoản Có">Tài khoản Có</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="autoBusiness : ${autoBusinessList}">
        <th:block th:if="${autoBusiness.voucherType} eq '0'"><td>Thu tiền mặt</td></th:block>
        <th:block th:if="${autoBusiness.voucherType} eq '1'"><td>Chi tiền mặt</td></th:block>
        <th:block th:if="${autoBusiness.voucherType} eq '2'"><td>Thu tiền gửi</td></th:block>
        <th:block th:if="${autoBusiness.voucherType} eq '3'"><td>Chi tiền gửi</td></th:block>
        <th:block th:if="${autoBusiness.voucherType} eq '4'"><td>Nghiệp vụ khác</td></th:block>

        <td th:text="${autoBusiness.autoBusinessName}"></td>
        <td th:text="${autoBusiness.debitAccount}"></td>
        <td th:text="${autoBusiness.creditAccount}"></td>

        <td>
            <a class="k-button" th:href="@{/auto_business/view/{id}(id=${autoBusiness.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/auto_business/edit/{id}(id=${autoBusiness.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${autoBusiness.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${autoBusiness.id}" th:action="@{/auto_business/delete/{id}(id=${autoBusiness.id})}"><button type="submit" hidden th:id="'btn_' + ${autoBusiness.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function () {
        $("#auto_business_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            pageable: {
                pageSizes: true
            },
            dataSource: {
                pageSize: 30
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
