<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<h3 style="text-align: center; margin-left: 0; margin-right: 0px;">TUỲ CHỌN</h3>

<!-- Table SYSDBOption.IsWorkingWithManagementBook = TRUE/FALSE
SYSDBOption.UserID là người dùng đưa ra cài đặt.

-->

<form>
    <table width="1366px;">
        <tr>
            <td width="25%;"></td>
            <td width="25%;"></td>
            <td width="25%;"></td>
            <td width="25%;"></td>
        </tr>

        <tr>
            <td><label>Chọn chi nhánh làm việc</label></td>
            <td><input type="number" id="branchId" class="k-textbox" style="width: 100%;"/></td>
            <td><label>Chọn sổ làm việc</label></td>
            <td><input type="number" id="isWorkingWithManagementBook" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data = [
                            {text: "Sổ Tài chính", value: 0},
                            {text: "Sổ Quản trị", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#isWorkingWithManagementBook").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data,
                            index: 0,
                            change: onChangeDisplayOnBook
                        });
                    });
                    $("#isWorkingWithManagementBook").data("kendoDropDownList");
                    function onChangeDisplayOnBook() { }
                </script>
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-pencil" style="color: gold;"></span> &nbsp; Cập nhật</button>
            </td>
        </tr>
    </table>
</form>
<br/>
<br/>
<a th:href="@{/sys_auto_ids}">Danh sách Luật đánh số chứng từ tự động</a>
<br/>
<br/>



<th:block th:include="fragments/footer"></th:block>
