<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_stock}" class="k-button k-primary">Thêm kho</a>
<br/>
<br/>
<br/>
<table id="stocks_datagrid">
    <thead>
    <tr>
        <th data-field="MA_KHO" data-title="Mã kho" title="Mã kho">Mã kho</th>
        <th data-field="TEN_KHO" data-title="Tên kho" title="Tên kho">Tên kho</th>
        <th data-field="MO_TA" data-title="Mô tả" title="Mô tả">Mô tả</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stock : ${stocks}">
        <td th:text="${stock.stockCode}"></td>
        <td th:text="${stock.stockName}"></td>
        <td th:text="${stock.description}"></td>
        <td th:text="${activeStatusList[stock.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/stock/view/{id}(id=${stock.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/stock/edit/{id}(id=${stock.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${stock.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${stock.id}" th:action="@{/stock/delete/{id}(id=${stock.id})}"><button type="submit" hidden th:id="'btn_' + ${stock.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#stocks_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
