<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/currencies}" class="k-button k-primary" title="Danh sách Đơn vị tiền tệ"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Đơn vị tiền tệ</a>
<br/>
<br/>
<h3>XEM CHI TIẾT ĐƠN VỊ TIỀN TỆ</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_unit'}" modelAttribute="bank" th:object="${unitForm}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="unitName">Đơn vị tính</label></td>
            <td><input type="text" th:field="*{unitName}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="description">Mô tả</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <a th:href="@{/units}" type="submit" class="k-button k-primary"><span class="k-icon k-i-close" style="color: gold;"></span>&nbsp;Đóng</a>
            </td>
        </tr>
    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
