<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/project_works}" class="k-button k-primary" title="Danh sách Công trình">Danh sách Công trình</a>
<br/>
<br/>
<h3>THÊM ĐỢT THU NỢ</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_debt_list'}" modelAttribute="bank" th:object="${debtListForm}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="debtListName">Tên đợt thu nợ<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{debtListName}" class="k-textbox" style="width: 100%;" required validationMessage="Tên viết tắt không được để trống"></td>
            <td><label th:for="totalReceiptableAmount">Tổng công nợ<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{totalReceiptableAmount}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="fromDate">Từ ngày<span class="b-require">*</span></label></td>
            <td><input type="date" th:field="*{fromDate}" class="k-textbox" style="width: 100%;" ></td>
            <td><label th:for="toDate">Đến ngày<span class="b-require">*</span></label></td>
            <td><input type="date" th:field="*{toDate}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="targetPercent">Mục tiêu thu được (%)<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{targetPercent}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="targetAmount">Mục tiêu thu được (số tiền)<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{targetAmount}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Thêm</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#projectWork").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
