<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/account_transfers}" class="k-button k-primary" title="Danh sách Tài khoản kết chuyển"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Tài khoản kết chuyển</a>
<br/>
<br/>
<h3>SỬA TÀI KHOẢN KẾT CHUYỂN</h3>
<br/>
<br/>
<form method="post" th:action="@{'/submit_edit_account_transfer'}" th:object="${accountTransfer}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"><input type="number" th:field="*{id}" hidden readonly></td>
        </tr>

        <tr>
            <td><label th:for="accountTransferCode">Mã kết chuyển</label></td>
            <td><input type="text" th:field="*{accountTransferCode}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="setupType">Loại kết chuyển</label></td>
            <td>
                <input type="number" th:field="*{setupType}" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var dataSetupType = [
                            {text: "Kết chuyển chi phí sản xuất", value: "0"},
                            {text: "Kết chuyển xác định kết quả kinh doanh", value: "1"}
                        ];

                        $("#setupType").kendoDropDownList({
                            // optionLabel: "Chọn...",
                            dataTextField: "text",
                            filterable: true,
                            filter: "startswith",
                            dataValueField: "value",
                            dataSource: dataSetupType,
                            index: 0,
                            change: onChangeSetupType
                        });
                    });
                    // create DropDownList from select HTML element
                    $("#onChangeSetupType").kendoDropDownList();
                    function onChangeSetupType() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="fromAccount">Kết chuyển từ</label></td>
            <td>
                <input type="number" th:field="*{fromAccount}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataFromAccount = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/accounts_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#fromAccount").kendoMultiColumnComboBox({
                            dataTextField: "accountNumber",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 500,
                            columns: [
                                {field: "accountNumber", title: "Số tài khoản", width: 100},
                                { field: "accountName", title: "Tên tài khoản", width: 500 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # tài khoản',
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            dataSource: dataFromAccount,
                            change: onChangeFromAccount
                        });
                    });
                    function onChangeFromAccount() { }
                </script>
            </td>
            <td><label th:for="toAccount">Kết chuyển đến</label></td>
            <td>
                <input type="number" th:field="*{toAccount}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataToAccount = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/accounts_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#toAccount").kendoMultiColumnComboBox({
                            dataTextField: "accountNumber",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 500,
                            columns: [
                                {field: "accountNumber", title: "Số tài khoản", width: 100},
                                { field: "accountName", title: "Tên tài khoản", width: 500 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # tài khoản',
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            dataSource: dataToAccount,
                            change: onChangeToAccount
                        });
                    });
                    function onChangeToAccount() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="transferOrder">Thứ tự kết chuyển</label></td>
            <td><input type="number" th:field="*{transferOrder}" class="k-textbox" style="width: 100%;"/></td>
            <td><label th:for="transferSide">Bên kết chuyển</label></td>
            <td><input type="text" th:field="*{transferSide}" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var dataTransferSide = [
                            {text: "Nợ", value: "0"},
                            {text: "Có", value: "1"},
                            {text: "Hai bên", value: "2"}
                        ];

                        $("#transferSide").kendoDropDownList({
                            // optionLabel: "Chọn...",
                            dataTextField: "text",
                            filterable: true,
                            filter: "startswith",
                            dataValueField: "value",
                            dataSource: dataTransferSide,
                            index: 0,
                            change: onChangeTranserSide
                        });
                    });
                    // create DropDownList from select HTML element
                    $("#transferSide").kendoDropDownList();
                    function onChangeTranserSide() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"/></td>
            <td><label th:for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="checkbox" th:field="*{activeStatus}" style="width: 100%;"/></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-edit" style="color: gold;"></span> &nbsp; Cập nhật</button>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {
        var validator = $("#accountTransfer").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<br/>
<th:block th:include="fragments/footer"></th:block>
