<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a href="/add_account_transfer" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm mục kết chuyển</a>
<br/>
<br/>
<br/>
<table id="account_transfer_table">
    <thead>
    <tr>
        <th data-field="THU_TU_KET_CHUYEN" data-title="Thứ tự kết chuyển" title="Thứ tự kết chuyển">Thứ tự kết chuyển</th>
        <th data-field="MA_KET_CHUYEN" data-title="Mã kết chuyển" title="Mã kết chuyển">Mã kết chuyển</th>
        <th data-field="KET_CHUYEN_TU" data-title="Kết chuyển từ" title="Kết chuyển từ">Kết chuyển từ</th>
        <th data-field="KET_CHUYEN_DEN" data-title="Kết chuyển đến" title="Kết chuyển đến">Kết chuyển đến</th>
        <th data-field="BEN_KET_CHUYEN" data-title="Bên kết chuyển" title="Bên kết chuyển">Bên kết chuyển</th>
        <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>
        <th data-field="LOAI_KET_CHUYEN" data-title="Loại kết chuyển" title="Loại kết chuyển">Loại kết chuyển</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Trạng thái theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountTransfer : ${accountTranfers}">
        <td th:text="${accountTransfer.transferOrder}"></td>
        <td th:text="${accountTransfer.accountTransferCode}"></td>
        <td th:text="${accountTransfer.fromAccount}"></td>
        <td th:text="${accountTransfer.toAccount}"></td>
        <th:block th:if="${accountTransfer.transferSide} eq '0'"><td>Nợ</td></th:block>
        <th:block th:if="${accountTransfer.transferSide} eq '1'"><td>Có</td></th:block>
        <th:block th:if="${accountTransfer.transferSide} eq '2'"><td>Hai bên</td></th:block>

        <td th:text="${accountTransfer.description}"></td>

        <th:block th:if="${accountTransfer.setupType} eq '0'"><td>Kết chuyển chi phí sản xuất</td></th:block>
        <th:block th:if="${accountTransfer.setupType} eq '1'"><td>Kết chuyển xác định KQKD</td></th:block>

        <td th:text="${activeStatusList[accountTransfer.activeStatus]}"></td>

        <td>
            <a class="k-button" th:href="@{/account_transfer/view/{id}(id=${accountTransfer.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/account_transfer/edit/{id}(id=${accountTransfer.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${accountTransfer.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${accountTransfer.id}" th:action="@{/account_transfer/delete/{id}(id=${accountTransfer.id})}"><button type="submit" hidden th:id="'btn_' + ${accountTransfer.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function () {
        $("#account_transfer_table").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            pageable: {
                pageSizes: true
            },
            dataSource: {
                pageSize: 30
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
