<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Phân hệ Quỹ. Thêm Phiếu chi -->
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/ba_deposits}" class="k-button k-primary"><span class="k-icon k-i-excel" style="color: gold;"></span> &nbsp; Danh sách giấy nộp tiền vào ngân hàng</a>
<br/>
<br/>
<h3>THU TIỀN GỬI</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_ba_deposit'}" modelAttribute="baDepositForm" th:object="${baDepositForm}" id="baDepositForm">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Phiếu chi</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><h3>Thông tin chung</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectId">Đối tượng</label></td>
            <td><input type="number" th:field="*{accountObjectId}" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountObjectId')}" th:errors="*{accountObjectId}" class="k-error-colored"></span>
                <script>
                    var dataAccountObject;
                    $(document).ready(function () {
                        var dataAccountObjectId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/acc_obj_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#accountObjectId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectCode",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã đối tượng", width: 200},
                                { field: "accountObjectName", title: "Tên đối tượng", width: 400 },
                                { field: "address", title: "Địa chỉ", width: 400 },
                                { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                                { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đối tượng',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                            dataSource: dataAccountObjectId,
                            autoBind: false,
                            change: onChangeAccountObjectId
                        });
                        dataAccountObject = dataAccountObjectId;
                    });
                    function onChangeAccountObjectId(e) {
                        $("#accountObjectName").val(e.sender.text());
                        var idObj = parseInt(e.sender.value(), 10);
                        result = (dataAccountObject["_pristineData"]).filter(obj => {
                            return obj.id === idObj;
                        });
                        $("#accountObjectAddress").val(result[0].address);
                        $("#accountObjectName").val(result[0].accountObjectName);
                    }
                </script>
            </td>
            <td><label th:for="accountObjectName" class="k-textbox-label">Tên đối tượng</label></td>
            <td><input type="text" th:field="*{accountObjectName}" class="k-textbox k-state-disabled" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountObjectName')}" th:errors="*{accountObjectName}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="accountObjectAddress">Địa chỉ</label></td>
            <td><input type="text" th:field="*{accountObjectAddress}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountObjectAddress')}" th:errors="*{accountObjectAddress}" class="k-error-colored"></span>
            </td>
            <td><label th:for="bankAccountId">Nộp vào tài khoản</label></td>
            <td><input type="number" th:field="*{bankAccountId}" style="width: 100%;">
                <span th:if="${#fields.hasErrors('bankAccountId')}" th:errors="*{bankAccountId}" class="k-error-colored"></span>
                <script>
                    var dataBank;
                    $(document).ready(function () {
                        var dataBankAccounts = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/active_bank_accounts_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        dataBank = dataBankAccounts;

                        $("#bankAccountId").kendoMultiColumnComboBox({
                            // optionLabel: "Chọn TK",
                            dataTextField: "bankAccountNumber",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                { field: "bankAccountNumber", title: "Số tài khoản", width: 200},
                                { field: "bankIdString", title: "Tên ngân hàng", width: 500 },
                                { field: "bankName", title: "Chi nhánh", width: 300 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản ngân hàng',
                            dataSource: dataBankAccounts,
                            filter: "contains",
                            filterFields: ["bankAccountNumber", "bankName", "bankIdString"],
                            //index: 0,
                            autoBind: false,
                            change: onChangeBankAccountId
                        });
                    });
                    function onChangeBankAccountId() { }
                </script>
            </td>
        </tr>

        </tr>
        <td><label th:for="reasonTypeId">Lý do thu</label></td>
        <td>
            <input type="number" th:field="*{reasonTypeId}" style="width: 100%;"/>
            <span th:if="${#fields.hasErrors('reasonTypeId')}" th:errors="*{reasonTypeId}" class="k-error-colored"></span>
            <script>
                $(document).ready(function () {
                    var dataReasonTypeId = [
                        {text: "Vay nợ", value: 1501},
                        {text: "Thu lãi đầu tư tài chính", value: 1502},
                        {text: "Thu hoàn ứng", value: 1503},
                        {text: "Thu hoàn thuế GTGT", value: 1504},
                        {text: "Thu khác", value: 1505}
                    ];
                    // create DropDownList from input HTML element
                    $("#reasonTypeId").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: dataReasonTypeId,
                        index: 0,
                        //autoBind: false,
                        change: onChangeReasonTypeId
                    });
                    $("#journalMemo").val("Vay tiền của...");
                });
                function onChangeReasonTypeId() {
                    if ($("#reasonTypeId").val() == 1501) {
                        $("#journalMemo").val("Vay tiền của...");
                    } else if ($("#reasonTypeId").val() == 1502) {
                        $("#journalMemo").val("Thu lãi đầu tư tài chính ...");
                    } else if ($("#reasonTypeId").val() == 1503) {
                        $("#journalMemo").val("Thu hoàn tạm ứng của nhân viên ...");
                    } else if ($("#reasonTypeId").val() == 1504) {
                        $("#journalMemo").val("Thu hoàn thuế GTGT");
                    } else if ($("#reasonTypeId").val() == 1505) {
                        $("#journalMemo").val("Thu từ ...");
                    }
                }
            </script>
        </td>
        <td><label th:for="journalMemo">Diễn giải lý do nộp</label></td>
        <td>
            <input type="text" th:field="*{journalMemo}" class="k-textbox" style="width: 100%;">
            <span th:if="${#fields.hasErrors('journalMemo')}" th:errors="*{journalMemo}" class="k-error-colored"></span>
        </td>
        </tr>
        <tr>
            <td><label th:for="displayOnBook">Hiển thị trên sổ</label></td>
            <td>
                <input th:field="*{displayOnBook}" style="width: 100%;"/>
                <span th:if="${#fields.hasErrors('displayOnBook')}" th:errors="*{displayOnBook}" class="k-error-colored"></span>
                <script>
                    $(document).ready(function () {
                        var dataDisplayOnBook = [
                            {text: "Sổ Tài chính và Quản trị", value: 2},
                            {text: "Sổ Tài chính", value: 0},
                            {text: "Sổ Quản trị", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#displayOnBook").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataDisplayOnBook,
                            index: 0,
                            autoBind: true,
                            change: onChangeDisplayOnBook
                        });
                    });

                    $("#displayOnBook").kendoDropDownList();
                    var prefix = $("#displayOnBook").data("kendoDropDownList");
                    prefix.select(0);
                    function onChangeDisplayOnBook() { }
                </script>
            </td>
            <td><label th:for="employeeId">Nhân viên thu</label></td>
            <td>
                <input type="number" th:field="*{employeeId}" style="width: 100%;"/>
                <span th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}" class="k-error-colored"></span>
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 200},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 300 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 300 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            autoBind: false,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><h3>Chứng từ</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="postedDate" required>Ngày hạch toán</label></td>
            <td>
                <input type="date" th:field="*{postedDate}" style="width: 100%;" required data-required-msg="Ngày hạch toán không được để trống">
                <span th:if="${#fields.hasErrors('postedDate')}" th:errors="*{postedDate}" class="k-error-colored"></span>
                <script>
                    var todayDate = new Date();
                    $("#postedDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                    $("#postedDate").data("kendoDatePicker").value(todayDate);
                </script>
            </td>
            <td><label th:for="refDate" required>Ngày chứng từ</label></td>
            <td>
                <input type="date" th:field="*{refDate}" style="width: 100%;">
                <span th:if="${#fields.hasErrors('refDate')}" th:errors="*{refDate}" class="k-error-colored"></span>
                <script>
                    $("#refDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                    $("#refDate").data("kendoDatePicker").value(todayDate);
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="refNoCommon">Số chứng từ</label></td>
            <td><input type="text" th:field="*{refNoCommon}" class="k-textbox" style="width: 100%;"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><h3>Đồng tiền hạch toán</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="currencyId">Loại tiền</label></td>
            <td><input type="number" th:field="*{currencyId}" style="width: 100%;">
                <span th:if="${#fields.hasErrors('currencyId')}" th:errors="*{currencyId}" class="k-error-colored"></span>
                <script>
                    var dataCCY;
                    $(document).ready(function () {
                        var dataCurrencyId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/ccy_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#currencyId").kendoMultiColumnComboBox({
                            dataTextField: "currencyCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 500,
                            columns: [
                                {field: "currencyCode", title: "Mã loại tiền", width: 120},
                                { field: "currencyName", title: "Tên loại tiền", width: 300 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đơn vị tiền tệ',
                            filter: "contains",
                            filterFields: ["currencyCode", "currencyName"],
                            dataSource: dataCurrencyId,
                            autoBind: true,
                            index: 0,
                            change: onChangeCurrencyId
                        });
                        dataCCY = dataCurrencyId;
                        $("#exchangeRate").val(1); // Khi khởi tạo/ mặc định là VND, và tỷ giá = 1.
                    });
                    function onChangeCurrencyId(e) {
                        var idCCY = parseInt(e.sender.value(), 10);
                        resultCCY = (dataCCY["_pristineData"]).filter(obj => {
                            return obj.id === idCCY;
                    });
                        $("#exchangeRate").val(resultCCY[0].exchangeRate);
                        updateAmount();
                    }
                </script>
            </td>
            <td><label th:for="exchangeRate">Tỷ giá</label></td>
            <td><input type="number" th:field="*{exchangeRate}" class="k-textbox" value="1" style="width: 100%;">
                <span th:if="${#fields.hasErrors('exchangeRate')}" th:errors="*{exchangeRate}" class="k-error-colored"></span>
            </td>
        </tr>
    </table>

    <br/>
    <span id="undo" style="display:none" class="k-button k-primary">Chọn cột hiển thị</span>
    <br/>
    <br/>
    <br/>

    <table id="detail_grid" style="padding-top: 15px;">
        <thead>
        <tr>
            <td>STT</td>
            <td>Diễn giải</td>
            <td>TK Nợ</td>
            <td>TK Có</td>
            <td>Số tiền</td>
            <td>Nghiệp vụ</td>
            <td>Đối tượng</td>
            <td>TK ngân hàng</td>
            <td>Khoản mục chi phí</td>
            <td>Đơn vị</td>
            <td>Đối tượng tập hợp chi phí</td>
            <td>Đơn hàng</td>
            <td>Hợp đồng</td>
            <td>Tên công trình</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="baDepositForm, itemStat : ${baDepositForm.baDepositDetailList}">
            <td><span th:text="${itemStat.index + 1}"></span></td>
            <td><input type="text" th:name="|baDepositDetailList[${itemStat.index}].description|" th:id="|baDepositDetailList[${itemStat.index}].description|" class="k-textbox"></td>
            <td><input type="text" th:name="|baDepositDetailList[${itemStat.index}].debitAccount|" th:id="|baDepositDetailList[${itemStat.index}].debitAccount|"></td>
            <td><input type="text" th:name="|baDepositDetailList[${itemStat.index}].creditAccount|" th:id="|baDepositDetailList[${itemStat.index}].creditAccount|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].amountOc|" th:id="|baDepositDetailList[${itemStat.index}].amountOc|" class="k-textbox"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].businessType|" th:id="|baDepositDetailList[${itemStat.index}].businessType|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].accountObjectId|" th:id="|baDepositDetailList[${itemStat.index}].accountObjectId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].bankAccountId|" th:id="|baDepositDetailList[${itemStat.index}].bankAccountId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].expenseItemId|" th:id="|baDepositDetailList[${itemStat.index}].expenseItemId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].organizationUnitId|" th:id="|baDepositDetailList[${itemStat.index}].organizationUnitId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].jobId|" th:id="|baDepositDetailList[${itemStat.index}].jobId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].orderId|" th:id="|baDepositDetailList[${itemStat.index}].orderId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].contractId|" th:id="|baDepositDetailList[${itemStat.index}].contractId|"></td>
            <td><input type="number" th:name="|baDepositDetailList[${itemStat.index}].projectWorkId|" th:id="|baDepositDetailList[${itemStat.index}].projectWorkId|"></td>
        </tr>
        <script>
            $(document).ready(function() {
                // Dữ liệu List Tài khoản kế toán.
                var dataAccount4chars = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/accounts_mulcol_json",
                            dataType: "json"
                        }
                    },
                    pageSize: 30
                });

                // Chọn tài khoản Nợ.
                $("input[name$='].debitAccount']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        optionLabel: "Chọn..",
                        dataTextField: "accountNumber",
                        dataValueField: "accountNumber",
                        height: 400,
                        columns: [
                            { field: "accountNumber", title: "Số Tài khoản", width: 100},
                            { field: "accountName", title: "Tên Tài khoản", width: 600 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                        dataSource: dataAccount4chars,
                        filter: "contains",
                        filterFields: ["accountNumber", "accountName"],
                        //index: 0,
                        value: "1121",
                        autoBind: false,
                        change: onChangeDebitAccount
                    });
                });

                // Tài khoản Có.
                $("input[name$='].creditAccount']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        //optionLabel: "Chọn..",
                        dataTextField: "accountNumber",
                        dataValueField: "accountNumber",
                        height: 400,
                        columns: [
                            { field: "accountNumber", title: "Số Tài khoản", width: 100},
                            { field: "accountName", title: "Tên Tài khoản", width: 600 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                        dataSource: dataAccount4chars,
                        filter: "contains",
                        filterFields: ["accountNumber", "accountName"],
                        //index: 0,
                        // value: "1111", // Khi chi tiền, mặc định TK Có là 1111.
                        autoBind: false,
                        change: onChangeCreditAccount
                    });
                });

                // Chọn tài khoản ngân hàng.
                $("input[name$='].bankAccountId']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        // optionLabel: "Chọn TK",
                        dataTextField: "bankAccountNumber",
                        dataValueField: "id",
                        height: 400,
                        columns: [
                            { field: "bankAccountNumber", title: "Số tài khoản", width: 200},
                            { field: "bankIdString", title: "Tên ngân hàng", width: 500 },
                            { field: "bankName", title: "Chi nhánh", width: 300 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản ngân hàng',
                        dataSource: dataBank,
                        filter: "contains",
                        filterFields: ["bankAccountNumber", "bankName", "bankIdString"],
                        //index: 0,
                        autoBind: false,
                        change: onChangeBankAccountIdSub
                    });
                });

                // Chọn Đối tượng.
                $("input[name$='].accountObjectId']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        dataTextField: "accountObjectName",
                        dataValueField: "id",
                        height: 400,
                        columns: [
                            {field: "accountObjectCode", title: "Mã đối tượng", width: 200},
                            { field: "accountObjectName", title: "Tên đối tượng", width: 400 },
                            { field: "address", title: "Địa chỉ", width: 400 },
                            { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                            { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đối tượng',
                        filter: "contains",
                        filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                        dataSource: dataAccountObject,
                        autoBind: false,
                        change: onChangeAccountObjectIdElement
                    });
                });

                // Chọn nghiệp vụ.
                var dataBusinessType = [
                    {text: "Chiết khấu thương mại (bán hàng)", value: 0},
                    {text: "Giảm giá hàng bán", value: 1},
                    {text: "Trả lại hàng bán", value: 2}
                ];

                $("input[name$='businessType']").each(function() {
                    $(this).kendoDropDownList({
                        optionLabel: "Chọn..",
                        dataTextField: "text",
                        dataValueField: "value",
                        autoBind: false,
                        dataSource: dataBusinessType,
                        // index: 0,
                        change: onChangeBusinessType
                    });
                });

                // Khoản mục chi phí.
                var dataJobs = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/jobs_json",
                            dataType: "json"
                        }
                    },
                    pageSize: 30
                });

                $("input[name$='].jobId']").each(function () {
                    $(this).kendoMultiColumnComboBox({
                        dataTextField: "jobCode",
                        dataValueField: "id",
                        filterable: true,
                        height: 400,
                        columns: [
                            {field: "jobCode", title: "Mã khoản mục chi phí", width: 200},
                            {field: "jobName", title: "Tên khoản mục chi phí", width: 400}
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khoản mục chi phí',
                        filter: "contains",
                        filterFields: ["jobCode", "jobName"],
                        dataSource: dataJobs,
                        change: onChangeJobId
                    });
                });

                // Đơn vị.
                var dataOrganizationUnit = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/organization_units_json",
                            dataType: "json"
                        }
                    },
                    pageSize: 30
                });

                $("input[name$='].organizationUnitId']").each(function () {
                    $(this).kendoMultiColumnComboBox({
                        dataTextField: "organizationUnitCode",
                        dataValueField: "id",
                        filterable: true,
                        height: 400,
                        columns: [
                            {field: "organizationUnitCode", title: "Mã đơn vị", width: 200},
                            {field: "organizationUnitName", title: "Tên đơn vị", width: 400}
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đơn vị/phòng ban',
                        filter: "contains",
                        filterFields: ["organizationUnitCode", "organizationUnitName"],
                        dataSource: dataOrganizationUnit,
                        change: onChangeOrganizationUnitId
                    });
                });

                // Khoản mục chi phí
                var dataExpenseItems = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/expense_items_json",
                            dataType: "json"
                        }
                    },
                    pageSize: 30
                });

                $("input[name$='].expenseItemId']").each(function () {
                    $(this).kendoMultiColumnComboBox({
                        dataTextField: "expenseItemCode",
                        dataValueField: "id",
                        filterable: true,
                        height: 400,
                        columns: [
                            {field: "expenseItemCode", title: "Mã khoản mục chi phí", width: 200},
                            {field: "expenseItemName", title: "Tên khoản mục chi phí", width: 400}
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khoản mục chi phí',
                        filter: "contains",
                        filterFields: ["expenseItemCode", "expenseItemName"],
                        dataSource: dataExpenseItems,
                        change: onChangeExpenseItem
                    });
                });

            });
            function onChangeDebitAccount() { }
            function onChangeCreditAccount() { }
            function onChangeAccountObjectIdElement() {}
            function onChangeBankAccountIdSub() {}
            function onChangeBusinessType() { }
            function onChangeJobId() { }
            function onChangeOrganizationUnitId() { }
            function onChangeExpenseItem() { }
        </script>
        <tr>
            <td colspan="12" style="text-align: center; padding-top: 15px;"><button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Thêm</button></td>
        </tr>
        </tbody>
    </table>
</form>

<div id="show_hide_columns">
    <div id="window">
        <table>
            <tr>
                <td width="300px;"><input type="checkbox" name="c_no" checked> STT<br/></td>
                <td width="300px;"><input type="checkbox" name="c_acc_obj" checked> Đối tượng<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_description" checked> Diễn giải<br/></td>
                <td><input type="checkbox" name="c_budget" checked> Ngân quỹ<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_debit" checked> TK Nợ<br/></td>
                <td><input type="checkbox" name="c_order" checked> Đơn hàng<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_credit" checked> TK Có<br/></td>
                <td><input type="checkbox" name="c_sale_contract" checked> Hợp đồng bán<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_amount" checked> Số tiền<br/></td>
                <td><input type="checkbox" name="c_project_work" checked> Công trình, vụ việc<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_bank_account" checked> TK ngân hàng<br/></td>
                <td><input type="checkbox" name="c_expense_item" checked> Khoản mục chi phí<br/></td>
            </tr>
        </table>
    </div>

    <div class="responsive-message"></div>
    <script>
        $(document).ready(function() {
            var myWindow = $("#window");
            var undo = $("#undo");
            undo.click(function() {
                myWindow.data("kendoWindow").open();
                undo.fadeOut();
            });
            function onClose() {
                undo.fadeIn();
            }
            myWindow.kendoWindow({
                width: "500px",
                title: "Chọn cột hiển thị",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                close: onClose
            }).data("kendoWindow").center().close();

            $("input:checkbox").click(function(){
                var column = "."+$(this).attr("name");
                $(column).toggle();
            });
        });

        function updateAmount() {
            console.log("update amount");
        }

    </script>
    <style>
        #undo {
            text-align: center;
            position: absolute;
            white-space: nowrap;
            padding: 0.5em;
            cursor: pointer;
        }
        .k-window-content a {
            color: #BBB;
        }
        .k-window-content p {
            margin-bottom: 1em;
        }
    </style>
</div>

<div class="status"></div>
<script>
    $(document).ready(function () {
        var validator = $("#caPaymentForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
