<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_fixed_asset_category}" class="k-button k-primary">Thêm Loại Tài sản cố định</a>
<br/>
<br/>
<br/>
<table id="fixed_asset_categories_datagrid">
    <thead>
    <tr>
        <th data-field="MA_LOAI_TSCD" data-title="Mã loại TSCĐ" title="Mã loại Tài sản cố định">Mã loại TSCĐ</th>
        <th data-field="TEN_LOAI_TSCD" data-title="Tên loại TSCĐ" title="Tên loại Tài sản cố định">Tên loại TSCĐ</th>
        <th data-field="TK_NGUYEN_GIA" data-title="Tài khoản nguyên giá" title="Tài khoản Nguyên giá">Tài khoản nguyên giá</th>
        <th data-field="TK_KHAU_HAO" data-title="Tài khoản khấu hao" title="Tài khoản Khấu hao">Tài khoản khấu hao</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fixedAssetCategory : ${fixedAssetCategoryList}">
        <td th:text="${fixedAssetCategory.fixedAssetCategoryCode}"></td>
        <td th:text="${fixedAssetCategory.fixedAssetCategoryName}"></td>
        <td th:text="${fixedAssetCategory.orgPriceAccount}"></td>
        <td th:text="${fixedAssetCategory.depreciationAccount}"></td>
        <td th:text="${activeStatusList[fixedAssetCategory.activeStatus]}"></td>

        <td>
            <a class="k-button" th:href="@{/fixed_asset_category/view/{id}(id=${fixedAssetCategory.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/fixed_asset_category/edit/{id}(id=${fixedAssetCategory.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${fixedAssetCategory.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${fixedAssetCategory.id}" th:action="@{/fixed_asset_category/delete/{id}(id=${fixedAssetCategory.id})}"><button type="submit" hidden th:id="'btn_' + ${fixedAssetCategory.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#fixed_asset_categories_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            pageable: {
                pageSizes: true
            },
            dataSource: {
                pageSize: 30
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
