<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_org_customer}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm khách hàng Tổ chức</a> &nbsp; &nbsp;
<a th:href="@{/add_personal_customer}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm khách hàng Cá nhân</a> &nbsp; &nbsp;
<a th:href="@{/customers.xlsx}" class="k-button k-primary"><span class="k-icon k-i-excel" style="color: gold;"></span> &nbsp; Xuất ra Excel</a>
<br/>
<br/>
<br/>
<table id="customers_datagrid">
    <thead>
    <tr>
        <th>STT</th>
        <th data-field="MA_KHACH_HANG" data-title="Mã khách hàng" title="Mã khách hàng">Mã khách hàng</th>
        <th data-field="TEN_KHACH_HANG" data-title="Tên khách hàng" title="Tên khách hàng">Tên khách hàng</th>
        <th data-field="DIA_CHI" data-title="Địa chỉ" title="Địa chỉ">Địa chỉ</th>
        <th data-field="NHOM_KHACH_HANG_NCC" data-title="Nhóm KH, NCC" title="Nhóm Khách hàng, Nhà cung cấp">Nhóm KH, NCC</th>
        <th data-field="MA_SO_THUE" data-title="Mã số thuế" title="Mã số thuế">Mã số thuế</th>
        <th data-field="DIEN_THOAI" data-title="Điện thoại" title="Điện thoại">Điện thoại</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountObject : ${accountObjectList}">
        <td></td>
        <td><span th:text="${accountObject.accountObjectCode}"/></td>
        <td><span th:text="${accountObject.accountObjectName}"/></td>
        <td><span th:text="${accountObject.address}"/></td>
        <td><span th:text="${accountObject.accountObjectGroupListCode}"/></td>
        <td><span th:text="${accountObject.companyTaxCode}"/></td>
        <td><span th:text="${accountObject.tel}"/></td>
        <td><span th:text="${activeStatusList[accountObject.activeStatus]}"/></td>
        <td>
            <a class="k-button" th:href="@{/customer/view/{type}/{id}(id=${accountObject.id}, type=${accountObject.accountObjectType})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/customer/edit/{type}/{id}(id=${accountObject.id}, type=${accountObject.accountObjectType})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_cus_' + ${accountObject.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${accountObject.id}" th:action="@{/account_object/delete/{id}(id=${accountObject.id})}"><button type="submit" hidden th:id="'btn_' + ${accountObject.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function () {
        $("#customers_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            },
            navigatable: true,
            columns: [
                {
                    title: "STT",
                    template: "#= ++record #"
                }, {
                    field: "MA_KHACH_HANG",
                    title: "Mã khách hàng"
                }, {
                    field: "TEN_KHACH_HANG",
                    title: "Tên khách hàng"
                }, {
                    field: "DIA_CHI",
                    title: "Địa chỉ"
                }, {
                    field: "NHOM_KHACH_HANG_NCC",
                    title: "Nhóm KH/NCC"
                }, {
                    field: "MA_SO_THUE",
                    title: "Mã số thuế"
                }, {
                    field: "DIEN_THOAI",
                    title: "Điện thoại"
                }, {
                    field: "THEO_DOI",
                    title: "Theo dõi"
                }, {
                    field: "THAO_TAC",
                    title: "Thao tác"
                }
            ],
            dataBinding: function () {
                record = (this.dataSource.page() -1) * this.dataSource.pageSize();
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });

    });


    // https://stackoverflow.com/questions/1553661/how-to-get-the-onclick-calling-object

    // https://docs.telerik.com/kendo-ui/controls/data-management/listview/how-to/custom-delete-confirmation

    function deleteItem(event){
        var a = event.target;
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            //listView.dataSource.remove(product)  //prepare a "destroy" request
            //listView.dataSource.sync()  //actually send the request (might be ommited if the autoSync option is enabled in the dataSource)
            var id_string = event.id;
            var id = id_string.substring(8);
            var form_id = "form_" + id;
            var button_id = "btn_" + id;
            var form = document.getElementById(form_id);
            form.submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        })
    }
</script>

<th:block th:include="fragments/footer"></th:block>
