<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>

<h3>Phân hệ Công cụ, dụng cụ</h3>
<br/>
<br/>
<div class="image_map">
    <img width="1120px" height="840px" th:src="@{/images/quy_trinh_cong_cu_dung_cu.png}" title="Phân hệ Công cụ, dụng cụ" usemap="#image-map">

    <map name="image-map">
        <area target="_self" alt="Ghi tăng" title="Ghi tăng" th:href="@{/ghi_tang}" coords="8,366,202,403" shape="rect">
        <area target="_self" alt="Ghi tăng công cụ, dụng cụ hàng loạt" title="Ghi tăng công cụ, dụng cụ hàng loạt" th:href="@{/ghi_tang_cong_cu_dung_cu_hang_loat}" coords="7,405,201,469" shape="rect">
        <area target="_self" alt="Danh sách ghi tăng" title="Danh sách ghi tăng" th:href="@{/danh_sach_ghi_tang}" coords="8,472,202,513" shape="rect">
        <area target="_self" alt="Điều chuyển" title="Điều chuyển" th:href="@{/dieu_chuyen}" coords="194,202,413,238" shape="rect">
        <area target="_self" alt="Danh sách điều chuyển" title="Danh sách điều chuyển" th:href="@{/danh_sach_dieu_chuyen}" coords="193,240,414,283" shape="rect">
        <area target="_self" alt="Điều chỉnh" title="Điều chỉnh" th:href="@{/dieu_chinh}" coords="193,665,414,702" shape="rect">
        <area target="_self" alt="Danh sách điều chỉnh" title="Danh sách điều chỉnh" th:href="@{/danh_sach_dieu_chinh}" coords="192,705,412,743" shape="rect">
        <area target="_self" alt="Phân bổ" title="Phân bổ" th:href="@{/phan_bo}" coords="439,202,656,240" shape="rect">
        <area target="_self" alt="Danh sách phân bổ" title="Danh sách phân bổ" th:href="@{/danh_sach_phan_bo}" coords="438,242,657,281" shape="rect">
        <area target="_self" alt="Ghi giảm" title="Ghi giảm" th:href="@{/ghi_giam}" coords="440,667,657,702" shape="rect">
        <area target="_self" alt="Danh sách ghi giảm" title="Danh sách ghi giảm" th:href="@{/danh_sach_ghi_giam}" coords="438,705,658,743" shape="rect">
        <area target="_self" alt="Kiểm kê" title="Kiểm kê" th:href="@{/kiem_ke}" coords="696,665,914,702" shape="rect">
        <area target="_self" alt="Danh sách kiểm kê" title="Danh sách kiểm kê" th:href="@{/danh_sach_kiem_ke}" coords="697,706,914,745" shape="rect">
        <area target="_self" alt="Báo cáo phân tích" title="Báo cáo phân tích" th:href="@{/bao_cao_phan_tich_cong_cu_dung_cu}" coords="975,381,1098,461" shape="rect">
    </map>
</div>

<th:block th:include="fragments/footer"></th:block>
