<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/timesheet_signs}" class="k-button k-primary" title="Danh sách Ký hiệu chấm công">Danh sách Ký hiệu chấm công</a>
<br/>
<br/>
<h3>THÊM KÝ HIỆU CHẤM CÔNG</h3>
<br/>
<form method="post" th:action="@{'/submit_add_timesheet_sign'}" th:object="${timesheetSign}" id="timesheet_sign_form">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>
        <tr>
            <td><label th:for="timeSheetSignCode">Ký hiệu</label></td>
            <td>
                <input type="text" th:field="*{timeSheetSignCode}" class="k-textbox" style="width: 100%;" required validationMessage="Ký hiệu chấm công không được để trống">
                <span th:if="${#fields.hasErrors('timeSheetSignCode')}" th:errors="*{timeSheetSignCode}" class="k-error-colored">timeSheetSignCode Error</span>
            </td>
            <td><label for="timeSheetSignName" class="required">Diễn giải</label></td>
            <td>
                <input type="text" id="timeSheetSignName" name="timeSheetSignName" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('timeSheetSignName')}" th:errors="*{timeSheetSignName}" class="k-error-colored"></span>
            </td>
        </tr>
        <tr>
            <td><label th:for="salaryRate">Tỷ lệ hưởng lương</label></td>
            <td><input th:field="*{salaryRate}" class="k-textbox" style="width: 100%;"/></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label th:for="isDefault">Là ký hiệu mặc định khi lập bảng chấm công</label></td>
            <td><input type="checkbox" th:field="*{isDefault}"/></td>
            <td><label th:for="isHalfDay">Là ký hiệu nửa ngày</label></td>
            <td><input type="checkbox" th:field="*{isHalfDay}"></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary">Thêm</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#timesheet_sign_form").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>
<th:block th:include="fragments/footer"></th:block>
