<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_timesheet_sign}" class="k-button k-primary">Thêm ký hiệu chấm công</a>
<br/>
<br/>
<br/>
<table id="timesheet_signs_datagrid">
    <thead>
    <tr>
        <th data-field="KY_HIEU_CHAM_CONG" data-title="Ký hiệu chấm công" title="Ký hiệu chấm công">Ký hiệu chấm công</th>
        <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>
        <th data-field="TY_LE_HUONG_LUONG" data-title="Tỷ lệ hưởng lương (%)" title="Tỷ lệ hưởng lương (%)">Tỷ lệ hưởng lương (%)</th>
        <th data-field="LA_KY_HIEU_MAC_DINH" data-title="Là ký hiệu mặc định" title="Là ký hiệu mặc định">Là ký hiệu mặc định</th>
        <th data-field="LA_KY_HIEU_NUA_NGAY" data-title="Là ký hiệu nửa ngày" title="Là ký hiệu nửa ngày">Là ký hiệu nửa ngày</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="timeSheetSign : ${timeSheetSignList}">
        <td th:text="${timeSheetSign.timeSheetSignCode}"></td>
        <td th:text="${timeSheetSign.timeSheetSignName}"></td>
        <td th:text="${#numbers.formatDecimal(timeSheetSign.salaryRate, 0, 'COMMA', 0, 'POINT')}"></td>
        <td th:text="${trueOrFalseList[timeSheetSign.isDefault]}"></td>
        <td th:text="${trueOrFalseList[timeSheetSign.isHalfDay]}"></td>
        <td th:text="${activeStatusList[timeSheetSign.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/timesheet_sign/view/{id}(id=${timeSheetSign.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/timesheet_sign/edit/{id}(id=${timeSheetSign.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${timeSheetSign.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${timeSheetSign.id}" th:action="@{/timesheet_sign/delete/{id}(id=${timeSheetSign.id})}"><button type="submit" hidden th:id="'btn_' + ${timeSheetSign.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#timesheet_signs_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
