<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Dùng cho khai báo số dư ban đầu Tài khoản ngân hàng. -->
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/opening_account_entry}" class="k-button k-primary" title="Bảng số dư tất cả các tài khoản"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Bảng số dư tất cả các Tài khoản</a>
<br/>
<br/>
<h3>NHẬP SỐ DƯ CHO TÀI KHOẢN</h3>
<br/>
<br/>
<form th:action="@{'/add_open_account_entry'}" th:object="${openingAccountEntryForm}" id="openingAccountEntryForm" method="post">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountNumber">Tài khoản<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountNumber}" style="width: 100%;" required validationMessage="Tên viết tắt không được để trống">
                <script>
                    var dataDropDownList;
                    $(document).ready(function () {
                        var dataAccount4chars = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    // url: "/accounts_mulcol_json",
                                    url: "/account_dto_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#accountNumber").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "accountNumber",
                            dataValueField: "accountNumber",
                            height: 400,
                            columns: [
                                { field: "accountNumber", title: "Số Tài khoản", width: 100},
                                { field: "accountName", title: "Tên Tài khoản", width: 600 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                            dataSource: dataAccount4chars,
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            index: 0,
                            change: onChangeAccountNumber
                        });
                        dataDropDownList = dataAccount4chars;
                    });

                    function onChangeAccountNumber(e) {
                        var choosenValue = e.sender.value();
                        resultAccount = (dataDropDownList["_pristineData"]).filter(obj => {
                            return obj.accountNumber === choosenValue;
                    });
                        $("#accountName").val(resultAccount[0].accountName);
                        console.log("vy: " + resultAccount[0].accountCategoryKind);
                        // Tài khoản dư nợ => Disable dư có.
                        if(resultAccount[0].accountCategoryKind == 0){
                            $("#debitAmountOc").attr('readonly', false).removeClass("k-state-disabled");
                            $("#debitAmount").attr('readonly', false).removeClass("k-state-disabled");
                            $("#creditAmountOc").attr('readonly', true).addClass("k-state-disabled");
                            $("#creditAmount").attr('readonly', true).addClass("k-state-disabled");
                        }
                        // Tài khoản dư có => Disable dư nợ.
                        if(resultAccount[0].accountCategoryKind == 1){
                            $("#debitAmountOc").attr('readonly', true).addClass("k-state-disabled");
                            $("#debitAmount").attr('readonly', true).addClass("k-state-disabled");
                            $("#creditAmountOc").attr('readonly', false).removeClass("k-state-disabled");
                            $("#creditAmount").attr('readonly', false).removeClass("k-state-disabled");
                        }
                        // Tài khoản lương tính => Không disable ô nào.
                        if(resultAccount[0].accountCategoryKind == 2){
                            $("#debitAmountOc").attr('readonly', false).removeClass("k-state-disabled");
                            $("#debitAmount").attr('readonly', false).removeClass("k-state-disabled");
                            $("#creditAmountOc").attr('readonly', false).removeClass("k-state-disabled");
                            $("#creditAmount").attr('readonly', false).removeClass("k-state-disabled");
                        }
                    }
                </script>
            </td>
            <td><label for="accountName">Tên tài khoản</label></td>
            <td><input type="text" id="accountName" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <!-- Hiển thị trong trường hợp tài khoản 331 -->
            <td><label th:for="accountObjectId">Đối tượng</label></td>
            <td><input type="text" th:field="*{accountObjectId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/acc_obj_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#accountObjectId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã đối tượng", width: 200},
                                { field: "accountObjectName", title: "Tên đối tượng", width: 400 },
                                { field: "address", title: "Địa chỉ", width: 400 },
                                { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                                { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đối tượng',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                            dataSource: data,
                            change: onChangeAccountObjectId
                        });
                    });
                    function onChangeAccountObjectId(e) { }
                </script>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="currencyId">Loại tiền<span class="b-require">*</span></label></td>
            <td><input type="number" th:field="*{currencyId}" style="width: 100%;">
                <script>
                    var dataCCY;
                    $(document).ready(function () {
                        var dataCurrencyId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/ccy_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#currencyId").kendoMultiColumnComboBox({
                            dataTextField: "currencyCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 400,
                            columns: [
                                {field: "currencyCode", title: "Mã loại tiền", width: 120},
                                { field: "currencyName", title: "Tên loại tiền", width: 300 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # đơn vị tiền tệ',
                            filter: "contains",
                            filterFields: ["currencyCode", "currencyName"],
                            dataSource: dataCurrencyId,
                            change: onChangeCurrencyId
                        });
                        dataCCY = dataCurrencyId;
                    });
                    function onChangeCurrencyId(e) {
                        var idCCY = parseInt(e.sender.value(), 10);
                        resultCCY = (dataCCY["_pristineData"]).filter(obj => {
                            return obj.id === idCCY;
                    });
                        $("#exchangeRate").val(resultCCY[0].exchangeRate);
                    }
                </script>
            </td>
            <td><label th:for="exchangeRate">Tỷ giá quy đổi</label></td>
            <td><input type="text" th:field="*{exchangeRate}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <!-- Nếu là VND, thì phần này là readonly. Nếu không phải là VND, thì phần này auto-fill, nhưng vẫn cho edit. -->
        <!-- Vì tỷ giá ở các thời điểm khác nhau là khác nhau. Thời điểm Nhập số dư đầu kỳ không phải là thời điểm phát sinh giao dịch. -->

        <tr>
            <td><label th:for="debitAmountOc">Dư nợ</label></td>
            <td><input type="text" th:field="*{debitAmountOc}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="creditAmountOc">Dư có</label></td>
            <td><input type="text" th:field="*{creditAmountOc}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="debitAmount">Dư nợ (quy ra VND)</label></td>
            <td><input type="text" th:field="*{debitAmount}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="creditAmount">Dư có (quy ra VND)</label></td>
            <td><input type="text" th:field="*{creditAmount}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="displayOnBook">Sổ theo dõi</label></td>
            <td><input type="date" th:field="*{displayOnBook}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data = [
                            {text: "Sổ Tài chính và Quản trị", value: 2},
                            {text: "Sổ Tài chính", value: 0},
                            {text: "Sổ Quản trị", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#displayOnBook").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data,
                            index: 0,
                            change: onChangeDisplayOnBook
                        });
                    });
                    $("#displayOnBook").kendoDropDownList();
                    var prefix = $("#displayOnBook").data("kendoDropDownList");
                    prefix.select(0);
                    function onChangeDisplayOnBook() { }
                </script>
            </td>
            <td><label th:for="cashBookPostedDate">Ngày ghi sổ quỹ</label></td>
            <td><input type="date" th:field="*{cashBookPostedDate}" style="width: 100%;">
                <script>
                    var datepicker = $("#cashBookPostedDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                        ,value: new Date(2010, 0, 1)
                    });
                    //datepicker.value(new Date(2010, 1, 1));
                    ///datepicker.trigger("change");
                </script>
            </td>
        </tr>
    </table>

    <h3>Tham chiếu chi tiết</h3>
    <table style="width: 1366px;">
        <thead>
        <th title="Số thứ tự">STT</th>
        <th>Đơn vị</th>
        <th title="Khoản mục chi phí">Khoản mục CP</th>
        <th title="Đối tượng tập hợp chi phí">Đối tượng THCP</th>
        <th>Công trình</th>
        <th>Đơn đặt hàng</th>
        <th>Đơn mua hàng</th>
        <th>Hợp đồng bán</th>
        <th>Hợp đồng mua</th>
        <th>Mã thống kê</th>
        <th>Dư nợ</th>
        <th>Dư có</th>
        </thead>
        <tbody>
        <tr th:each="item, itemStat : ${openingAccountEntryForm.openingAccountEntryDetailList}">
            <td><span th:text="${itemStat.index + 1}"></span></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].organizationUnitId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].organizationUnitId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].expenseItemId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].expenseItemId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].jobId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].jobId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].projectWorkId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].projectWorkId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].orderId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].orderId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].puOrderRefId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].puOrderRefId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].contractId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].contractId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].puContractId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].puContractId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].listItemId|" th:id="|openingAccountEntryDetailList[${itemStat.index}].listItemId|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].debitAmountOc|" th:id="|openingAccountEntryDetailList[${itemStat.index}].debitAmountOc|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|openingAccountEntryDetailList[${itemStat.index}].creditAmountOc|" th:id="|openingAccountEntryDetailList[${itemStat.index}].creditAmountOc|" class="k-textbox" style="width: 100%;"></td>
        </tr>
        </tbody>
    </table>

    <h3>Chi tiết theo hóa đơn</h3>
    <table style="width: 1366px;">
        <thead>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table style="width: 1366px;">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Lưu</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<span class="status"></span>

<script>
    $(document).ready(function () {
        var validator = $("#openingAccountEntryForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
