<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_opening_account_entry_type_normal}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp;Nhập số dư TK 4/5 chữ số</a> &nbsp;
<a th:href="@{/add_opening_account_entry_type_bank}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp;Nhập số dư TK Ngân hàng</a> &nbsp;
<a th:href="@{/add_opening_account_entry_type_acc_obj}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp;Nhập số dư TK 131, 133</a> &nbsp;
<a th:href="@{/Danh_muc_tai_khoan.xlsx}" class="k-button k-primary" title="Xuất ra Excel"><span class="k-icon k-i-excel" style="color: gold;"></span> &nbsp; Xuất ra Excel</a>
<br/>
<br/>
<h3>NHẬP SỐ DƯ TÀI KHOẢN NGÂN HÀNG</h3>
<br/>
<br/>
<div id="opening_account_entry_view_treelist"></div>

<script id="action-template" type="text/x-kendo-template">
    <a class="k-button" href="/account/view/#: id #" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
    <a class="k-button" href="/account/edit/#: id #" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
    <a id="del_#: id #" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
    <form method="post" hidden id="form_#: id #" action="/account/delete/#: id #"><button type="submit" hidden id="btn_#: id #">Submit</button></form>
    <!--    <div class='employee-name'>#: id #</div>-->
</script>


<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function() {
        $("#opening_account_entry_view_treelist").kendoTreeList({
            dataSource: {
                transport: {
                    read: {
                        url: "/opening_account_entry_view_json",
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        parentId: "parentId",
                        fields: {
                            id: { field: "id",  nullable: false , type: "number"},
                            parentId: { field: "parentId", type: "number" },
                            description: { field: "description"}
                        },
                        expanded: true
                    }
                }
            },
            //height: 540,
            //filterable: true,
            //sortable: true,
            //columnMenu: true,
            resizable: true,
            columns: [
                { field: "accountNumber", title: "Số tài khoản"},
                { field: "accountName", title: "Tên tài khoản"},
                { field: "debitAmount", title: "Dư nợ"},
                { field: "creditAmount", title: "Dư có"},
                { field: "accountCategoryKind", title: "Tính chất"},
                { field: "id", title: "Thao tác", template: $("#action-template").html()}
            ],
            // pageable: {
            //     pageSize: 30,
            //     pageSizes: true
            // }
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function(){

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            //console.log("vy: " + event.id.substring(4));
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
