<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/pu_contracts}" class="k-button k-primary" title="Danh sách Hợp đồng mua hàng"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span> &nbsp; Danh sách Hợp đồng mua hàng</a>
<br/>
<br/>
<h3>THÊM HỢP ĐỒNG MUA HÀNG</h3>
<br/>
<br/>
<form method="post" th:action="@{'/edit_pu_contract'}" modelAttribute="puContract" th:object="${puContract}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">
                <input type="number" th:field="*{id}" hidden>
            </td>
        </tr>

        <tr>
            <td><label th:for="contractCode">Số hợp đồng</label></td>
            <td><input type="text" th:field="*{contractCode}" class="k-textbox" style="width: 100%;" required validationMessage="Số hợp đồng không được để trống"></td>
            <td><label th:for="signDate">Ngày ký</label></td>
            <td><input type="text" th:field="*{signDate}" style="width: 100%;">
                <script>
                    $("#signDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="accountObjectId">Nhà cung cấp</label></td>
            <td><input type="number" th:field="*{accountObjectId}" style="width: 87%;">&nbsp;
                <a class="k-button k-primary" th:href="@{/add_org_vendor}" title="Thêm Nhà cung cấp tổ chức"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    $(document).ready(function () {
                        var dataAccObj = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/vendors_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#accountObjectId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã Nhà cung cấp", width: 200},
                                { field: "accountObjectName", title: "Tên nhà cung cấp", width: 400 },
                                { field: "address", title: "Địa chỉ", width: 400 },
                                { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                                { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # nhà cung cấp',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                            dataSource: dataAccObj,
                            change: onChangeAccObj
                        });
                    });
                    function onChangeAccObj(e) { }
                </script>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="subject">Trích yếu</label></td>
            <td><input type="text" th:field="*{subject}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="status">Tình trạng hợp đồng</label></td>
            <td><input type="text" th:field="*{status}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data = [
                            {text: "Chưa thực hiện", value: 0},
                            {text: "Đang thực hiện", value: 1},
                            {text: "Đã thanh lý", value: 2},
                            {text: "Đã hủy bỏ", value: 3}
                        ] ;

                        $("#status").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data,
                            index: 0,
                            change: onChangeStatus
                        });
                    });
                    function onChangeStatus() {}
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="currencyId">Loại tiền</label></td>
            <td><input type="number" th:field="*{currencyId}" style="width: 100%;">
                <script>
                    var dataCCY;
                    $(document).ready(function () {
                        var dataCurrencyId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/ccy_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#currencyId").kendoDropDownList({
                            dataTextField: "currencyCode",
                            dataValueField: "id",
                            dataSource: dataCurrencyId,
                            filter: "contains",
                            index: 0,
                            change: onChangeCurrencyId
                        });

                        dataCCY = dataCurrencyId;
                    });

                    function onChangeCurrencyId(e) {
                        var idCCY = parseInt(e.sender.value(), 10);
                        resultCCY = (dataCCY["_pristineData"]).filter(obj => {
                            return obj.id === idCCY;
                    });
                        $("#exchangeRate").val(resultCCY[0].exchangeRate);
                    }
                </script>
            </td>
            <td><label th:for="exchangeRate">Tỷ giá</label></td>
            <td><input type="number" th:field="*{exchangeRate}" class="k-textbox" readonly style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        $("#exchangeRate").val(1);
                    });
                </script>

            </td>
        </tr>

        <tr>
            <td><label th:for="amountOc" class="required">Giá trị hợp đồng</label></td>
            <td><input type="text" th:field="*{amountOc}" class="k-textbox" style="width: 100%;" required validationMessage="Giá trị hợp đồng không được để trống" onchange="changeAmount();"></td>
            <td><label th:for="amount">Giá trị hợp đồng quy đổi</label></td>
            <td><input type="text" th:field="*{amount}" class="k-textbox" style="width: 100%;">
                <script>
                    function changeAmount(){
                        $("#amount").val($("#amountOc").val() * $("#exchangeRate").val());
                    }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="closeAmountOc">Giá trị thanh lý</label></td>
            <td><input type="text" th:field="*{closeAmountOc}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="closeAmount">Giá trị thanh lý quy đổi</label></td>
            <td><input type="text" th:field="*{closeAmount}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="closeDate">Ngày thanh lý/hủy bỏ</label></td>
            <td><input type="date" th:field="*{closeDate}" style="width: 100%;">
                <script>
                    $("#closeDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="closeReason">Lý do thanh lý/hủy bỏ</label></td>
            <td><input type="text" th:field="*{closeReason}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="deliverDueDate">Hạn giao hàng</label></td>
            <td><input type="date" th:field="*{deliverDueDate}" style="width: 100%;">
                <script>
                    $("#deliverDueDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="deliverAddress">Địa chỉ giao</label></td>
            <td><input type="text" th:field="*{deliverAddress}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="employeeId">Nhân viên mua hàng</label></td>
            <td><input type="number" th:field="*{employeeId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 200},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 300 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 300 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>


            </td>
            <td><label th:for="paymentTerm">Điều khoản khác</label></td>
            <td><input type="text" th:field="*{paymentTerm}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="isArisedBeforeUseSoftware">Là hợp đồng phát sinh trước khi sử dụng phần mềm</label></td>
            <td><input type="checkbox" th:field="*{isArisedBeforeUseSoftware}" style="width: 100%;"></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-pencil" style="color: gold;"></span> &nbsp; Cập nhật</button>
            </td>
        </tr>
    </table>
    <li class="status"></li>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#puContract").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
