<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_pu_contract}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm Hợp đồng mua hàng</a>
<br/>
<br/>
<h3>DANH MỤC HỢP ĐỒNG MUA HÀNG</h3>
<br/>
<table id="project_works_datagrid">
    <thead>
    <tr>
        <th data-field="TINH_TRANG" data-title="Tình trạng" title="Tình trạng">Tình trạng</th>
        <th data-field="SO_HOP_DONG" data-title="Số hợp đồng" title="Số hợp đồng">Số hợp đồng</th>
        <th data-field="NGAY_KY" data-title="Ngày ký" title="Ngày ký">Ngày ký</th>
        <th data-field="TRICH_YEU" data-title="Trích yếu" title="Trích yếu">Trích yếu</th>
        <th data-field="TEN_NHA_CUNG_CAP" data-title="Tên nhà cung cấp" title="Tên nhà cung cấp">Tên nhà cung cấp</th>
        <th data-field="DIA_CHI" data-title="Địa chỉ" title="Địa chỉ">Địa chỉ</th>
        <th data-field="MA_SO_THUE" data-title="Mã số thuế" title="Mã số thuế">Mã số thuế</th>
        <th data-field="NGUOI_LIEN_HE" data-title="Người liên hệ" title="Người liên hệ">Người liên hệ</th>
        <th data-field="GIA_TRI_HOP_DONG" data-title="Giá trị hợp đồng" title="Giá trị hợp đồng">Giá trị hợp đồng</th>
        <th data-field="GIA_TRI_THANH_LY" data-title="Giá trị thanh lý" title="Giá trị thanh lý">Giá trị thanh lý</th>

        <th data-field="GIA_TRI_DA_THUC_HIEN" data-title="Giá trị đã thực hiện" title="Giá trị đã thực hiện">Giá trị đã thực hiện</th>
        <th data-field="SO_CON_PHAI_TRA_DU_KIEN" data-title="Số còn phải trả dự kiến" title="Số còn phải trả dự kiến">Số còn phải trả dự kiến</th>
        <th data-field="SO_CON_PHAI_TRA" data-title="Số còn phải trả" title="Số còn phải trả">Số còn phải trả</th>
        <th data-field="NHAN_VIEN_MUA_HANG" data-title="Nhân viên mua hàng" title="Nhân viên mua hàng">Nhân viên mua hàng</th>
        <th data-field="NGAY_THANH_LY_HUY_BO" data-title="Ngày thanh lý/hủy bỏ" title="Ngày thanh lý/hủy bỏ">Ngày thanh lý/hủy bỏ</th>
        <th data-field="LY_DO" data-title="Lý do" title="Lý do">Lý do</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="puContractDTO : ${puContractDTOList}">
        <td th:text="${puContractDTO.status}"></td>              <!-- 1. Tình trạng -->
        <td th:text="${puContractDTO.contractCode}"></td>        <!-- 2. Số hợp đồng -->
        <td th:text="${puContractDTO.signDate}"></td>            <!-- 3. Ngày ký -->
        <td th:text="${puContractDTO.subject}"></td>             <!-- 4. Trích yếu -->
        <td th:text="${puContractDTO.accountObjectName}"></td>   <!-- 5. Tên nhà cung cấp -->
        <td th:text="${puContractDTO.accountObjectAddress}"></td>    <!-- 6. Địa chỉ -->
        <td th:text="${puContractDTO.accountObjectTaxCode}"></td>    <!-- 7. Mã số thuế -->
        <td th:text="${puContractDTO.accountObjectContactName}"></td> <!-- 8. Người liên hệ -->
        <td th:text="${puContractDTO.amount}"></td> <!-- 9. Giá trị hợp đồng -->
        <td th:text="${puContractDTO.closeAmount}"></td> <!-- 10. Giá trị thanh lý -->

        <td th:text="${puContractDTO.paidAmount}"></td> <!-- 11. Giá trị đã thực hiện -->
        <td th:text="${puContractDTO.payableAmount}"></td> <!-- 12. Số còn phải trả dự kiến -->
        <td th:text="${puContractDTO.paidAmountFinance}"></td> <!-- 13. Số còn phải trả -->
        <td th:text="${puContractDTO.employeeId}"></td> <!-- 14. Nhân viên mua hàng -->
        <td th:text="${puContractDTO.closeDate}"></td> <!-- 15. Ngày thanh lý -->
        <td th:text="${puContractDTO.closeReason}"></td> <!-- 16. Lý do -->
        <td>
            <a class="k-button" th:href="@{/pu_contract/view/{id}(id=${puContractDTO.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/pu_contract/edit/{id}(id=${puContractDTO.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${puContractDTO.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${puContractDTO.id}" th:action="@{/pu_contract/delete/{id}(id=${puContractDTO.id})}"><button type="submit" hidden th:id="'btn_' + ${puContractDTO.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#project_works_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            resizable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
