<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a href="/add_ca_receipt" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm phiếu thu</a>
<br/>
<br/>
<h3>DANH SÁCH THU, CHI</h3>
<br/>
<br/>
<table id="bank_datagrid">
    <thead>
        <tr>
            <th data-field="NGAY_HACH_TOAN" data-title="Ngày hạch toán" title="Ngày hạch toán">Ngày hạch toán</th>
            <th data-field="NGAY_CHUNG_TU" data-title="Ngày chứng từ" title="Ngày chứng từ">Ngày chứng từ</th>
            <th data-field="SO_CHUNG_TU" data-title="Số chứng từ" title="Số chứng từ">Số chứng từ</th>
            <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>
            <th data-field="SO_TIEN" data-title="Số tiền" title="Số tiền">Số tiền</th>
            <th data-field="MA_DOI_TUONG" data-title="Mã đối tượng" title="Mã đối tượng">Mã đối tượng</th>
            <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="caReceiptDTO : ${caReceiptDTOList}">
            <td th:text="${caReceiptDTO.postedDate}"></td>
            <td th:text="${caReceiptDTO.refDate}"></td>
            <td th:text="${caReceiptDTO.refNoFinance}"></td>
            <td th:text="${caReceiptDTO.journalMemo}"></td>
            <td th:text="${caReceiptDTO.totalAmountOc}"></td>
            <td th:text="${caReceiptDTO.accountObjectId}"></td>
            <td>
                <a class="k-button" th:href="@{/ca_receipt/view/{id}(id=${caReceiptDTO.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
                <a class="k-button" th:href="@{/ca_receipt/edit/{id}(id=${caReceiptDTO.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
                <a th:id="'del_' + ${caReceiptDTO.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
                <form method="post" hidden th:id="'form_' + ${caReceiptDTO.id}" th:action="@{/ca_receipt/delete/{id}(id=${caReceiptDTO.id})}"><button type="submit" hidden th:id="'btn_' + ${caReceiptDTO.id}">Submit</button></form>
            </td>
        </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#bank_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
