<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Phân hệ Quỹ. Thêm Phiếu thu -->
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<h3>PHIẾU THU</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_cash_receipt'}" modelAttribute="caReceiptForm" th:object="${caReceiptForm}" id="caReceiptForm">
    <table style="width: 1366px;">
        <tr>
            <td width="25%;"><b>Thông tin chung</b></td>
            <td width="25%;"></td>
            <td width="25%;"></td>
            <td width="25%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectId">Đối tượng<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountObjectId}" style="width: 87%;">&nbsp;<a class="k-button k-primary" th:href="@{/add_org_customer}" title="Thêm khách hàng" style="height: 2em;"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    var dataAccountObject;
                    $(document).ready(function () {
                        var data = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    // url: "/all_active_customers_json",
                                    url: "/acc_obj_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#accountObjectId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã đối tượng", width: 200},
                                { field: "accountObjectName", title: "Tên đối tượng", width: 400 },
                                { field: "address", title: "Địa chỉ", width: 400 },
                                { field: "companyTaxCode", template: "#= (companyTaxCode == null) ? '' : companyTaxCode #", title: "Mã số thuế", width: 130 },
                                { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đối tượng',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                            dataSource: data,
                            change: onChangeAccountObjectId
                        });
                        dataAccountObject = data;
                    });
                    function onChangeAccountObjectId(e) {
                        $("#accountObjectName").val(e.sender.text());
                        var idObj = parseInt(e.sender.value(), 10);
                        result = (dataAccountObject["_pristineData"]).filter(obj => {
                            return obj.id === idObj;
                    });
                        $("#accountObjectAddress").val(result[0].address);
                        $("#accountObjectCode").val(result[0].accountObjectCode);
                    }
                </script>
            </td>
            <td><label th:for="accountObjectCode" class="k-textbox-label">Mã đối tượng</label></td>
            <td>
                <input type="text" th:field="*{accountObjectCode}" class="k-textbox k-state-disabled" style="width: 100%;">
            </td>
        </tr>

        <tr>
            <td><label th:for="accountObjectContactName" class="k-textbox-label">Người nộp</label></td>
            <td><input type="text" th:field="*{accountObjectContactName}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="accountObjectAddress" class="k-textbox-label">Địa chỉ</label></td>
            <td><input type="text" th:field="*{accountObjectAddress}" class="k-textbox k-state-disabled" style="width: 100%;"></td>
        </tr>

        </tr>
        <td><label th:for="reasonTypeId">Lý do nộp</label></td>
        <td>
            <input th:field="*{reasonTypeId}" style="width: 100%;"/>
            <script>
                var dataReasonTypeGlobal;
                $(document).ready(function () {
                    var dataReasonTypeId = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/caba_reason_type_for_cash_receipt_json",
                                dataType: "json"
                            }
                        },
                        pageSize: 30
                    });
                    $("#reasonTypeId").kendoDropDownList({
                        dataTextField: "reasonTypeName",
                        dataValueField: "id",
                        dataSource: dataReasonTypeId,
                        filter: "contains",
                        index: 0,
                        change: onChangeReasonTypeId
                    });
                    dataReasonTypeGlobal = dataReasonTypeId;
                    $("#journalMemo").val("Rút tiền gửi về nộp quỹ");
                });
                function onChangeReasonTypeId(e) {
                    var idReason = parseInt(e.sender.value(), 10);
                    resultReason = (dataReasonTypeGlobal["_pristineData"]).filter(obj => {
                        return obj.id === idReason;
                });
                    $("#journalMemo").val(resultReason[0].description);
                }
            </script>
        </td>
        <td><label th:for="journalMemo">Diễn giải lý do nộp</label></td>
        <td>
            <input type="text" th:field="*{journalMemo}" class="k-textbox" style="width: 100%;">
        </td>
        </tr>

        <tr>
            <td><label th:for="displayOnBook">Hiển thị trên sổ<span class="b-require">*</span></label></td>
            <td>
                <input th:field="*{displayOnBook}" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var dataDisplayOnBook = [
                            {text: "Sổ Tài chính và Quản trị", value: 2},
                            {text: "Sổ Tài chính", value: 0},
                            {text: "Sổ Quản trị", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#displayOnBook").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataDisplayOnBook,
                            index: 0,
                            change: onChangeDisplayOnBook
                        });
                    });
                    $("#displayOnBook").kendoDropDownList();
                    var prefix = $("#displayOnBook").data("kendoDropDownList");
                    prefix.select(0);
                    function onChangeDisplayOnBook() { }
                </script>
            </td>
            <td><label th:for="employeeId">Nhân viên thu</label></td>
            <td>
                <input type="number" th:field="*{employeeId}" style="width: 87%;"/>&nbsp;<a class="k-button k-primary" th:href="@{/add_employee}" title="Thêm nhân viên" style="height: 2em;"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 180},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 220 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 220 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 130 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><h3>Chứng từ</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="documentIncluded">Mô tả Chứng từ kèm theo</label></td>
            <td><input type="text" th:field="*{documentIncluded}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="cashBookPostedDate" required>Ngày chứng từ<span class="b-require">*</span></label></td>
            <td>
                <input type="date" th:field="*{cashBookPostedDate}" style="width: 100%;">
                <script>
                    var todayDate = new Date();
                    $("#cashBookPostedDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                    $("#cashBookPostedDate").data("kendoDatePicker").value(todayDate);
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="postedDate" required>Ngày hạch toán<span class="b-require">*</span></label></td>
            <td>
                <input type="date" th:field="*{postedDate}" style="width: 100%;" required data-required-msg="Ngày hạch toán không được để trống">
                <script>
                    $("#postedDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                    $("#postedDate").data("kendoDatePicker").value(todayDate);
                </script>
            </td>
            <td><label th:for="voucherNumber">Số chứng từ<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{voucherNumber}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><h3>Đồng tiền hạch toán</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="currencyId">Loại tiền</label></td>
            <td><input type="number" th:field="*{currencyId}" style="width: 100%;">
                <script>
                    var dataCCY;
                    $(document).ready(function () {
                        var dataCurrencyId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/ccy_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#currencyId").kendoMultiColumnComboBox({
                            dataTextField: "currencyCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 400,
                            columns: [
                                {field: "currencyCode", title: "Mã loại tiền", width: 120},
                                { field: "currencyName", title: "Tên loại tiền", width: 300 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # đơn vị tiền tệ',
                            filter: "contains",
                            filterFields: ["currencyCode", "currencyName"],
                            dataSource: dataCurrencyId,
                            index: 0,
                            change: onChangeCurrencyId
                        });
                        dataCCY = dataCurrencyId;
                    });
                    function onChangeCurrencyId(e) {
                        var idCCY = parseInt(e.sender.value(), 10);
                        resultCCY = (dataCCY["_pristineData"]).filter(obj => {
                            return obj.id === idCCY;
                    });
                        $("#exchangeRate").val(resultCCY[0].exchangeRate);
                    }
                </script>
            </td>
            <td><label th:for="exchangeRate">Tỷ giá</label></td>
            <td><input type="text" th:field="*{exchangeRate}" class="k-textbox" style="width: 100%;"></td>
        </tr>
    </table>
    <br/>

    <span id="undo" style="display:none" class="k-button k-primary">Chọn cột hiển thị</span>
    <br/>
    <br/>
    <br/>

    <table id="detail_grid" style="padding-top: 15px;">
        <thead>
        <tr>
            <td class="c_no">STT</td>
            <td class="c_description" width="400px;">Diễn giải<span class="b-require">*</span></td>
            <td class="c_debit">TK Nợ<span class="b-require">*</span></td>
            <td class="c_credit">TK Có<span class="b-require">*</span></td>
            <td class="c_amount">Số tiền<span class="b-require">*</span></td>
            <td class="c_amount">Nghiệp vụ</td>
            <td class="c_bank_account">TK ngân hàng</td>
            <td class="c_acc_obj">Đối tượng</td>
            <!-- <td class="c_budget">Mục ngân quỹ</td> -->
            <td class="c_order">Đơn hàng</td>
            <td class="c_sale_contract">Hợp đồng</td>
            <td class="c_project_work">Tên công trình</td>
            <td class="c_expense_item">Mã chi phí</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="caReceiptDetail, itemStat : ${addCashReceiptForm.caReceiptDetailList}">
            <td class="c_no"><span th:text="${itemStat.index + 1}"></span></td>
            <td class="c_description"><input type="text" th:name="|caReceiptDetailList[${itemStat.index}].description|" th:id="|caReceiptDetailList[${itemStat.index}].description|" class="k-textbox"></td>
            <td class="c_debit"><input type="text" th:name="|caReceiptDetailList[${itemStat.index}].debitAccount|" th:id="|caReceiptDetailList[${itemStat.index}].debitAccount|"></td>
            <td class="c_credit"><input type="text" th:name="|caReceiptDetailList[${itemStat.index}].creditAccount|" th:id="|caReceiptDetailList[${itemStat.index}].creditAccount|"></td>
            <td class="c_amount"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].amountOc|" th:id="|caReceiptDetailList[${itemStat.index}].amountOc|" class="k-textbox"></td>
            <td class="c_business_type"><input type="text" th:name="|caReceiptDetailList[${itemStat.index}].businessType|" th:id="|caReceiptDetailList[${itemStat.index}].businessType|"></td>
            <td class="c_bank_account"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].bankAccountId|" th:id="|caReceiptDetailList[${itemStat.index}].bankAccountId|"></td>
            <td class="c_acc_obj"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].accountObjectId|" th:id="|caReceiptDetailList[${itemStat.index}].accountObjectId|"></td>
            <!-- <td class="c_budget"><input type="numbersArray" th:name="|caReceiptDetailList[${itemStat.index}].budgetItemId|" th:id="|caReceiptDetailList[${itemStat.index}].budgetItemId|"></td> -->
            <td class="c_order"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].orderId|" th:id="|caReceiptDetailList[${itemStat.index}].orderId|"></td>
            <td class="c_sale_contract"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].contractId|" th:id="|caReceiptDetailList[${itemStat.index}].contractId|"></td>
            <td class="c_project_work"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].projectWorkId|" th:id="|caReceiptDetailList[${itemStat.index}].projectWorkId|"></td>
            <td class="c_expense_item"><input type="number" th:name="|caReceiptDetailList[${itemStat.index}].expenseItemId|" th:id="|caReceiptDetailList[${itemStat.index}].expenseItemId|"></td>
        </tr>
        <script>
            $(document).ready(function () {
                // Chọn tài khoản kế toán.
                var dataAccount4chars = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/accounts_mulcol_json",
                            dataType: "json"
                        }
                    },
                    pageSize: 30
                });

                // DataSource chọn số tài khoản ngân hàng
                var dataBankAccounts = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/active_bank_accounts_json",
                            dataType: "json"
                        }
                    },
                    pageSize: 30
                });

                // Tài khoản Nợ
                $("input[name$='debitAccount']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        optionLabel: "Chọn..",
                        dataTextField: "accountNumber",
                        dataValueField: "accountNumber",
                        height: 400,
                        columns: [
                            { field: "accountNumber", title: "Số Tài khoản", width: 100},
                            { field: "accountNumber", title: "Tên Tài khoản", width: 600 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                        dataSource: dataAccount4chars,
                        filter: "contains",
                        filterFields: ["accountNumber", "accountName"],
                        // index: 0,
                        autoBind: false,
                        change: onChangeDebitAccountId
                    });
                });

                // Tài khoản Có
                $("input[name$='creditAccount']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        optionLabel: "Chọn..",
                        dataTextField: "accountNumber",
                        dataValueField: "id",
                        height: 400,
                        columns: [
                            { field: "accountNumber", title: "Số Tài khoản", width: 100},
                            { field: "accountName", title: "Tên Tài khoản", width: 600 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                        dataSource: dataAccount4chars,
                        filter: "contains",
                        filterFields: ["accountNumber", "accountName"],
                        // index: 0,
                        autoBind: false,
                        change: onChangeCreditAccountId
                    });
                });

                // Chọn nghiệp vụ
                $("input[name$='businessType']").each(function() {
                    var dataBusinessType = [
                        {text: "Chiết khấu thương mại (bán hàng)", value: 0},
                        {text: "Giảm giá hàng bán", value: 1},
                        {text: "Trả lại hàng bán", value: 2}
                    ];
                    // create DropDownList from input HTML element
                    $(this).kendoDropDownList({
                        // optionLabel: "Chọn..",
                        dataTextField: "text",
                        dataValueField: "value",
                        autoBind: false,
                        dataSource: dataBusinessType,
                        // index: 0,
                        change: onChangeBusinessType
                    });
                });

                // Chọn số tài khoản ngân hàng.
                $("input[name$='bankAccountId']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        // optionLabel: "Chọn..",
                        dataTextField: "bankAccountNumber",
                        dataValueField: "id",
                        autoBind: false,
                        height: 400,
                        columns: [
                            { field: "bankAccountNumber", title: "Số tài khoản", width: 200},
                            { field: "bankIdString", title: "Tên ngân hàng", width: 500 },
                            { field: "bankName", title: "Chi nhánh", width: 300 }
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản ngân hàng',
                        dataSource: dataBankAccounts,
                        filter: "contains",
                        filterFields: ["bankAccountNumber", "bankName", "bankIdString"],
                        // index: 0,
                        change: onChangeBankAccountId
                    });
                });

                // Đối tượng kế toán.
                $("input[name$='].accountObjectId']").each(function() {
                    $(this).kendoMultiColumnComboBox({
                        dataTextField: "accountObjectCode",
                        dataValueField: "id",
                        height: 400,
                        columns: [
                            {field: "accountObjectCode", title: "Mã đối tượng", width: 200},
                            {field: "accountObjectName", title: "Tên đối tượng", width: 400},
                            {field: "address", title: "Địa chỉ", width: 400},
                            {field: "companyTaxCode", template: "#= (companyTaxCode == null) ? '' : companyTaxCode #", title: "Mã số thuế", width: 130},
                            {field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 130}
                        ],
                        footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khách hàng',
                        filter: "contains",
                        filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                        dataSource: dataAccountObject,
                        autoBind: false,
                        change: onChangeAccountObjectIdSlave
                    });
                });
            });
            function onChangeDebitAccountId() { }
            function onChangeCreditAccountId() { }
            function onChangeBusinessType() { }
            function onChangeBankAccountId() { }
            function onChangeAccountObjectIdSlave() { }
        </script>

        <tr>
            <td colspan="12" style="text-align: center; padding-top: 15px;"><button role="button" type="submit" class="k-button k-primary"><span class="k-icon k-i-floppy" style="color: gold;"></span>&nbsp;Lưu</button></td>
        </tr>
        </tbody>
    </table>
</form>

<div id="show_hide_columns">
    <div id="window">
        <table>
            <tr>
                <td width="300px;"><input type="checkbox" name="c_no" checked> STT<br/></td>
                <td width="300px;"><input type="checkbox" name="c_acc_obj" checked> Đối tượng<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_description" checked> Diễn giải<br/></td>
                <td><input type="checkbox" name="c_budget" checked> Ngân quỹ<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_debit" checked> TK Nợ<br/></td>
                <td><input type="checkbox" name="c_order" checked> Đơn hàng<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_credit" checked> TK Có<br/></td>
                <td><input type="checkbox" name="c_sale_contract" checked> Hợp đồng bán<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_amount" checked> Số tiền<br/></td>
                <td><input type="checkbox" name="c_project_work" checked> Công trình, vụ việc<br/></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="c_bank_account" checked> TK ngân hàng<br/></td>
                <td><input type="checkbox" name="c_expense_item" checked> Khoản mục chi phí<br/></td>
            </tr>
        </table>
    </div>

    <div class="responsive-message"></div>
    <script>
        $(document).ready(function() {
            var myWindow = $("#window");
            var undo = $("#undo");
            undo.click(function() {
                myWindow.data("kendoWindow").open();
                undo.fadeOut();
            });
            function onClose() {
                undo.fadeIn();
            }
            myWindow.kendoWindow({
                width: "500px",
                title: "Chọn cột hiển thị",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                close: onClose
            }).data("kendoWindow").center().close();

            $("input:checkbox").click(function(){
                var column = "."+$(this).attr("name");
                $(column).toggle();
            });
        });
    </script>
    <style>
        #undo {
            text-align: center;
            position: absolute;
            white-space: nowrap;
            padding: 0.5em;
            cursor: pointer;
        }
        .k-window-content a {
            color: #BBB;
        }
        .k-window-content p {
            margin-bottom: 1em;
        }
    </style>
</div>

<script>
    $(document).ready(function() {
        var validator = $("#addCashReceiptForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
