<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/project_works}" class="k-button k-primary" title="Danh sách Công trình"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span> &nbsp; Danh sách Công trình</a>
<br/>
<br/>
<h3>THÊM CÔNG TRÌNH, HẠNG MỤC</h3>
<br/>
<form method="post" th:action="@{'/submit_add_project_work'}" modelAttribute="projectWork" th:object="${projectWork}"
      id="projectWork">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="projectWorkName">Tên công trình/hạng mục</label></td>
            <td colspan="3">
                <input type="text" th:field="*{projectWorkName}" class="k-textbox" style="width: 100%;" required validationMessage="Tên Công trình không được để trống">
                <span th:if="${#fields.hasErrors('projectWorkName')}" th:errors="*{projectWorkName}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="stakeholder">Chủ đầu tư</label></td>
            <td colspan="3"><input type="text" th:field="*{stakeholder}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label th:for="stakeholderAddress">Địa chỉ chủ đầu tư</label></td>
            <td colspan="3"><input type="text" th:field="*{stakeholderAddress}" class="k-textbox" style="width: 100%;">
            </td>
        </tr>

        <tr>
            <td><label th:for="projectWorkCode">Mã Công trình/hạng mục</label></td>
            <td>
                <input type="text" th:field="*{projectWorkCode}" class="k-textbox" style="width: 100%;" required validationMessage="Mã Công trình không được để trống">
                <span th:if="${#fields.hasErrors('projectWorkCode')}" th:errors="*{projectWorkCode}" class="k-error-colored"></span>
            </td>
            <td><label th:for="projectWorkType">Là Công trình hay Hạng mục?</label></td>
            <td><input type="text" th:field="*{projectWorkType}" required style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataProjectWorkType = [
                            {text: "Công trình", value: 0},
                            {text: "Hạng mục", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#projectWorkType").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataProjectWorkType,
                            index: 0,
                            change: onChangeProjectWorkType
                        });
                    });

                    $("#projectWorkType").kendoDropDownList();
                    function onChangeProjectWorkType() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="projectWorkStatus">Tình trạng</label></td>
            <td><input type="number" th:field="*{projectWorkStatus}" required style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataProjectWorkStatus = [
                            {text: "Đang thực hiện", value: 0},
                            {text: "Đã hoàn thành", value: 1}
                        ];
                        // create DropDownList from input HTML element
                        $("#projectWorkStatus").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataProjectWorkStatus,
                            index: 0,
                            change: onChangeStatus
                        });
                    });

                    $("#projectWorkStatus").kendoDropDownList();
                    function onChangeStatus() { }
                </script>
            </td>
            <td><label th:for="estimateAmount">Dự toán</label></td>
            <td><input type="number" th:field="*{estimateAmount}" th:fi class="k-textbox" style="width: 100%;"></td>
        </tr>


        <tr>
            <td><label th:for="startDate">Ngày bắt đầu</label></td>
            <td><input type="date" th:field="*{startDate}" style="width: 100%;">
                <script>
                    $("#startDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="finishDate">Ngày kết thúc</label></td>
            <td><input type="text" th:field="*{finishDate}" style="width: 100%;">
                <script>
                    $("#finishDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="parentId">Là Hạng mục công trình con của</label></td>
            <td><input type="number" th:field="*{parentId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataProjectWorks = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/project_works_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#parentId").kendoMultiColumnComboBox({
                            dataTextField: "projectWorkCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 600,
                            columns: [
                                {field: "projectWorkCode", title: "Mã công trình", width: 200},
                                { field: "projectWorkName", title: "Tên công trình", width: 500 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # công trình, hạng mục',
                            filter: "contains",
                            filterFields: ["projectWorkCode", "projectWorkName"],
                            dataSource: dataProjectWorks,
                            change: onChangeProjectWork
                        });
                    });
                    function onChangeProjectWork() { }
                </script>
            </td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#projectWork").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
