<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_special_tax}" class="k-button k-primary">Thêm Khoản mục chi phí</a>
<br/>
<br/>
<br/>
<table id="special_taxes_datagrid">
    <thead>
    <tr>
        <th data-field="MA" data-title="Mã" title="Mã">Mã</th>
        <th data-field="TEN_NHOM_HHDV_CHIU_THUE_TTDB" data-title="Tên nhóm HHDV chịu thuế TTĐB" title="Tên nhóm HHDV chịu thuế TTĐB">Tên nhóm HHDV chịu thuế TTĐB</th>
        <th data-field="DON_VI_TINH" data-title="Đơn vị tính" title="Đơn vị tính">Đơn vị tính</th>
        <th data-field="THUE_SUAT" data-title="Thuế suất (%)" title="Thuế suất (%)">Thuế suất (%)</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${inventoryItemCategorySpecialTaxList}">
        <td th:text="${item.code}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.unit}"></td>
        <td th:text="${item.taxRate}"></td>
        <td th:text="${activeStatusList[item.activeStatus]}"></td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#special_taxes_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });
    });
</script>

<th:block th:include="fragments/footer"></th:block>
