<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/expense_items}" class="k-button k-primary" title="Danh sách Khoản mục chi phí"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Khoản mục chi phí</a>
<br/>
<br/>
<h3>THÊM KHOẢN MỤC CHI PHÍ</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_expense_item'}" modelAttribute="expenseItemForm" th:object="${expenseItemForm}">
    <table style="width: 1366px;">

        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="expenseItemCode" require>Mã khoản mục chi phí<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{expenseItemCode}" class="k-textbox" style="width: 100%;" required validationMessage="Mã khoản mục chi phí không được để trống" title="Mã khoản mục chi phí"></td>
            <td><label th:for="expenseItemName">Tên khoản mục chi phí<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{expenseItemName}" class="k-textbox" required validationMessage="Tên khoản mục chi phí không được để trống" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="parentId">Thuộc</label></td>
            <td><input type="number" th:field="*{parentId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataParentId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/expense_items_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#parentId").kendoMultiColumnComboBox({
                            optionLabel: "Chọn...",
                            dataTextField: "expenseItemCode",
                            dataValueField: "id",
                            filterable: true,
                            height: 500,
                            columns: [
                                {field: "expenseItemCode", title: "Mã Khoản mục chi phí", width: 200},
                                {field: "expenseItemName", title: "Tên Khoản mục chi phí", width: 400}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khoản mục chi phí',
                            filter: "contains",
                            filterFields: ["expenseItemCode", "expenseItemName"],
                            dataSource: dataParentId,
                            change: onChangeParentId()
                        });
                    });
                    function onChangeParentId() {}
                </script>
            </td>
            <td><label th:for="description">Mô tả</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm
                </button>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {
        var validator = $("#expenseItemForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
