<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->

<!-- Deprecated. Sử dụng TreeList. -->

<!--<th:block th:include="fragments/header"></th:block>-->
<!--<br/>-->
<!--<br/>-->
<!--<a href="/add_expense_item" class="k-button k-primary">Thêm Khoản mục chi phí</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<table id="expense_items_datagrid">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th data-field="MA_KHOAN_MUC_CHI_PHI" data-title="Mã khoản mục chi phí" title="Mã khoản mục chi phí">Mã khoản mục chi phí</th>-->
<!--        <th data-field="TEN_KHOAN_MUC_CHI_PHI" data-title="Tên khoản mục chi phí" title="Tên khoản mục chi phí">Tên khoản mục chi phí</th>-->
<!--        <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>-->
<!--        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>-->
<!--        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="expenseItem : ${expenseItemList}">-->
<!--        <td th:text="${expenseItem.expenseItemCode}"></td>-->
<!--        <td th:text="${expenseItem.expenseItemName}"></td>-->
<!--        <td th:text="${expenseItem.description}"></td>-->
<!--        <td th:text="${activeStatusList[expenseItem.activeStatus]}"></td>-->
<!--        <td>-->
<!--            <a class="k-button" th:href="@{/expense_item/view/{id}(id=${expenseItem.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>-->
<!--            <a class="k-button" th:href="@{/expense_item/edit/{id}(id=${expenseItem.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>-->
<!--            <a th:id="'del_' + ${expenseItem.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>-->
<!--            <form method="post" hidden th:id="'form_' + ${expenseItem.id}" th:action="@{/expense_item/delete/{id}(id=${expenseItem.id})}"><button type="submit" hidden th:id="'btn_' + ${expenseItem.id}">Submit</button></form>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<div id="confirmation"></div>-->
<!--<script type="text/x-kendo-template" id="confirmTemplate">-->
<!--    &lt;!&ndash; Bạn có thật sự muốn xóa không? </p> &ndash;&gt;-->
<!--    <div style="text-align: center;">-->
<!--        <button class="k-button" id="yesButton" style="color: red;">Có</button>-->
<!--        <button class="k-button" id="noButton" style="color: green;">Không</button>-->
<!--    </div>-->
<!--</script>-->

<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $("#expense_items_datagrid").kendoGrid({-->
<!--            sortable: true,-->
<!--            filterable: true,-->
<!--            columnMenu: true,-->
<!--            groupable: true,-->
<!--            resizable: true,-->
<!--            // dataBound: function () {-->
<!--            //     for (var i = 0; i < this.columns.length; i++) {-->
<!--            //         this.autoFitColumn(i);-->
<!--            //     }-->
<!--            // },-->
<!--            reorderable: true,-->
<!--            dataSource: {-->
<!--                pageSize: 30-->
<!--            },-->
<!--            pageable: {-->
<!--                pageSizes: true-->
<!--            }-->
<!--        });-->

<!--        $("#confirmation").kendoWindow({-->
<!--            title: "Bạn có thật sự muốn xóa không?",-->
<!--            visible: false,-->
<!--            width: "300px",-->
<!--            height: "120px"-->
<!--        });-->
<!--    });-->

<!--    function deleteItem(event){-->
<!--        var confirmPopup = $("#confirmation").getKendoWindow();-->
<!--        var confirmTemplate = kendo.template($("#confirmTemplate").html());-->
<!--        confirmPopup.content(confirmTemplate);-->
<!--        confirmPopup.center().open();-->
<!--        $("#yesButton").click(function(){-->
<!--            document.getElementById("form_" + event.id.substring(4)).submit();-->
<!--            confirmPopup.close();-->
<!--        });-->

<!--        $("#noButton").click(function(){-->
<!--            confirmPopup.close();-->
<!--        });-->
<!--    }-->
<!--</script>-->

<!--<th:block th:include="fragments/footer"></th:block>-->
