</main>
<br/>
<div>
    <div style="padding-top: 10px; padding-bottom: 10px; text-align: center; font-size: 1.2em;">
        &copy; Bản quyền 2019 Do Nhu Vy. Phiên bản áp dụng Thông tư 133/2016/TT-BTC.
    </div>
</div>
</body>
</html>
