<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title th:text="${page_title}"></title>
    <style>
        html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>
    <title>Phần mềm Kế toán Vy</title>
    <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common-office365.min.css"/>-->
    <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.office365.min.css"/>-->
    <!--<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.office365.mobile.min.css"/>-->

    <!--<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>-->
    <!--<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>-->
    <!--<script src="http://localhost:8080/js/kendo.messages.bg-BG.js"></script>-->

    <!--<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/kendo.common-office365.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/kendo.office365.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/kendo.office365.mobile.min.css}"/>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/kendo.common-blueopal.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/kendo.blueopal.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/kendo.blueopal.mobile.min.css}"/>-->
    <!--  use Thymeleaf variable -->


    <!--<script type="text/javascript" th:src="@{/js/kendo.messages.vi-VN.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/kendo.all.min.js}"></script>

    <!--<script src="https://kit.fontawesome.com/c01ae48d9b.js"></script>-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--<script>-->
    <!--    var hostname = window.location.origin;-->
    <!--</script>-->
</head>
<body>

<div id="example">
    <ul id="menu">
        <li>
            Hệ thống
            <ul>
                <!--<li><a href="#"><span class="fa fa-pencil k-icon k-i-close" style="color: red;"></span> Đóng dữ liệu kế toán</a></li>-->
                <li><a th:href="@{/desktop}"><span class="k-icon k-i-window" style="color: blue;"></span> Bàn làm việc</a></li>
                <!-- <li><a th:href="@{/}"><span class="k-icon k-i-close" style="color: red;"></span> Đóng dữ liệu kế toán</a></li> -->
                <li><a th:href="@{/accounting_info}"><span class="k-icon k-i-information"></span> Thông tin dữ liệu</a></li>
                <!--
                <li><a th:href="@{/}"><span class="k-icon k-i-image-export"></span> Xuất khẩu dữ liệu</a></li>
                <li><a th:href="@{/}"><span class="k-icon k-i-file-excel"></span> Nhập từ Excel</a></li>
                <li><a th:href="@{/}"><span class="k-icon k-i-arrow-end-right"></span> Kết thúc</a></li>
                <li><a th:href="@{/}"><span class="k-icon k-i-arrows-no-change"></span> Điều chỉnh</a></li>
                <li><a th:href="@{/}"><span class="k-icon k-i-kpi-trend-decrease"></span> Ghi giảm</a></li>
                <li><a th:href="@{/}"><span class="k-icon k-i-list-ordered"></span> Kiểm kê</a></li>
                <li><a th:href="@{/}"><span class="k-icon k-i-play" style="color: green;"></span> Khai báo CCDC đầu kỳ</a></li> -->
                <li><a th:href="@{/choose_accounting_book}"><span class="k-icon k-i-settings" style="color: gray;"></span> Tùy chọn</a></li>
                <li><a th:href="@{/logout}"><span class="k-icon k-i-logout" style="color: gold;"></span> Đăng xuất</a></li>
            </ul>
        </li>
        <li>
            Danh mục
            <ul>
                <li>Tài khoản
                    <ul>
                        <li><a th:href="@{/accounts}">Hệ thống tài khoản</a></li>
                        <li><a th:href="@{/account_transfers}">Tài khoản kết chuyển</a></li>
                        <li><a th:href="@{/account_default}">Tài khoản ngầm định</a></li>
                        <li><a th:href="@{/auto_business}">Định khoản tự động</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/organization_units}">Cơ cấu tổ chức</a></li>
                <li>Đối tượng
                    <ul>
                        <li><a th:href="@{/customers}">Khách hàng</a></li>
                        <li><a th:href="@{/suppliers}">Nhà cung cấp</a></li>
                        <li><a th:href="@{/employees}">Nhân viên</a></li>
                        <li><a th:href="@{/account_object_groups}">Nhóm khác hàng, nhà cung cấp</a></li>
                    </ul>
                </li>
                <li>Lương nhân viên
                    <ul>
                        <li><a th:href="@{/timesheet_signs}">Ký hiệu chấm công</a></li>
                        <li><a th:href="@{/pit_rates}">Biểu tính thuế Thu nhập</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/supply_categories}">Loại công cụ dụng cụ</a></li>
                <li><a th:href="@{/fixed_asset_categories}">Loại tài sản cố định</a></li>
                <li>Vật tư hàng hóa
                    <ul>
                        <li><a th:href="@{/inventory_items}">Vật tư hàng hóa</a></li>
                        <li><a th:href="@{/stocks}">Kho</a></li>
                        <li><a th:href="@{/inventory_item_categories}">Nhóm vật tư, hàng hóa, dịch vụ</a></li>
                        <li><a th:href="@{/units}">Đơn vị tính</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/jobs}">Đối tượng tập hợp chi phí</a></li>
                <li><a th:href="@{/expense_items}">Khoản mục chi phí</a></li>
                <li>Công trình
                    <ul>
                        <li><a th:href="@{/project_works}">Công trình</a></li>
                        <li><a th:href="@{/project_work_categories}">Loại công trình</a></li>
                    </ul>
                </li>
                <li>Ngân hàng
                    <ul>
                        <li><a th:href="@{/banks}">Ngân hàng</a></li>
                        <li><a th:href="@{/bank_accounts}">Tài khoản ngân hàng</a></li>
                    </ul>
                </li>
                <li>Khác
                    <ul>
                        <li><a th:href="@{/payment_terms}">Điều khoản thanh toán</a></li>
                        <li><a th:href="@{/list_item}">Mã thống kê</a></li>
                        <li><a th:href="@{/special_taxes}">Biểu thuế tiêu thụ đặc biệt</a></li>
                        <li><a th:href="@{/resources_taxes}">Biểu thuế tài nguyên</a></li>
                        <li><a th:href="@{/currencies}">Loại tiền</a></li>
                        <li><a th:href="@{/voucher_types}">Loại chứng từ</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Nghiệp vụ
            <ul>
                <li>Quỹ
                    <ul>
                        <li><a th:href="@{/add_cash_receipt}">Thu tiền</a></li>
                        <li><a th:href="@{/collect_money}">Thu tiền khách hàng</a></li>
                        <li>Thu tiền khách hàng hàng loạt</li>
                        <li><a th:href="@{/add_cash_payment}">Chi tiền</a></li>
                        <li>Trả tiền nhà cung cấp</li>
                        <li>Nộp thuế</li>
                        <li><a th:href="@{/insurance_payment}">Nộp bảo hiểm</a></li>
                        <li>Trả lương</li>
                        <li><a th:href="@{/add_ca_audit}">Kiểm kê</a></li>
                    </ul>
                </li>
                <li>Ngân hàng
                    <ul>
                        <li><a th:href="@{/add_ba_deposit}">Thu tiền</a></li>
                        <li>Thu tiền khách hàng</li>
                        <li>Thu tiền khách hàng hàng loạt</li>
                        <li><a th:href="@{/add_ba_withdraw}">Chi tiền</a></li>
                        <li>Trả tiền nhà cung cấp</li>
                        <li>Nộp thuế</li>
                        <li><a th:href="@{/add_bank_withdraw_for_insurance}">Nộp bảo hiểm</a></li>
                        <li>Trả lương</li>
                        <li>Chuyển tiền nội bộ</li>
                        <li>Đối chiếu ngân hàng</li>
                    </ul>
                </li>
                <li>Mua hàng
                    <ul>
                        <li><a th:href="@{/add_pu_order}">Đơn mua hàng</a></li>
                        <li><a th:href="@{/add_pu_contract}">Hợp đồng mua hàng</a></li>
                        <li>Chứng từ mua hàng hoá</li>
                        <li>Chứng từ mua hàng nhiều hoá đơn</li>
                        <li>Chứng từ mua dịch vụ</li>
                        <li>Nhận hoá đơn</li>
                        <li>Trả lại hàng mua</li>
                        <li>Giảm giá hàng mua</li>
                        <li>Đối trừ chứng từ</li>
                        <li><a href="/add_debt_list">Đối trừ chứng từ nhiều đối tượng</a></li>
                        <li>Bỏ đối trừ</li>
                        <li>Cấn trừ công nợ</li>
                        <li>Trả tiền nhà cung cấp</li>
                    </ul>
                </li>
                <li>Bán hàng
                    <ul>
                        <li><a th:href="@{/add_sa_quote}">Báo giá</a></li>
                        <li><a th:href="@{/add_sa_order}">Đơn đặt hàng</a></li>
                        <li>Chứng từ bán hàng</li>
                        <li><a th:href="@{/add_sale_invoice}">Hoá đơn</a></li>
                        <li>Trả lại hàng bán</li>
                        <li>Giảm giá hàng bán</li>
                        <li>Thu tiền khách hàng</li>
                        <li>Thu tiền khách hàng hàng loạt</li>
                        <li>Đối trừ chứng từ</li>
                        <li>Đối trừ chứng từ nhiều đối tượng</li>
                        <li>Bỏ đối trừ</li>
                        <li>Bù trừ công nợ</li>
                        <li><a href="/add_debt_list">Đợt thu nợ</a></li>
                        <li>Chính sách giá</li>
                        <li>Tính giá bán</li>
                        <li>Đối chiếu bán hàng và hóa đơn</li>
                        <li>Đối chiếu bán hàng và xuất kho</li>
                        <li>Đối chiếu hàng bán trả lại và nhập kho</li>
                    </ul>
                </li>
                <li>Quản lý hóa đơn
                    <ul>
                        <li>Khởi tạo mẫu hóa đơn</li>
                        <li>Đăng ký sử dụng hóa đơn</li>
                        <li>Thông báo phát hành hóa đơn</li>
                        <li>Phân bổ hóa đơn cho từng chi nhánh phụ thuộc</li>
                        <li>Hủy hóa đơn</li>
                        <li>Mất, cháy, hỏng hóa đơn</li>
                        <li>Xóa hóa đơn</li>
                        <li>Thông báo điều chỉnh thông tin hóa đơn</li>
                        <li>Báo cáo tình hình sử dụng hóa đơn</li>
                    </ul>
                </li>
                <li>Kho
                    <ul>
                        <li><a th:href="@{/add_inventory_item_inward}">Nhập kho</a></li>
                        <li>Xuất kho</li>
                        <li>Chuyển kho</li>
                        <li>Lệnh sản xuất</li>
                        <li>Lệnh lắp ráp, tháo dỡ</li>
                        <li>Tính giá xuất kho</li>
                        <li>Kiểm kê</li>
                        <li>Sắp xếp thứ tự chứng từ nhập, xuất</li>
                        <li>Cập nhật giá nhập kho thành phẩm</li>
                    </ul>
                </li>
                <li>Công cụ dụng cụ
                    <ul>
                        <li>Ghi tăng</li>
                        <li>Ghi tăng CCDC hàng loạt</li>
                        <li>Phân bổ chi phí</li>
                        <li>Điều chuyển</li>
                        <li>Điều chỉnh</li>
                        <li>Ghi giảm</li>
                        <li>Kiểm kê</li>
                        <li>Khai báo CCDC đầu kỳ</li>
                    </ul>
                </li>
                <li>Tài sản cố định
                    <ul>
                        <li>Ghi tăng</li>
                        <li>Tính khấu hao</li>
                        <li>Đánh giá lại</li>
                        <li>Điều chuyển</li>
                        <li>Ghi giảm</li>
                        <li>Chuyển TS thuê tài chính thành TS sở hữu</li>
                        <li>Kiểm kê</li>
                        <li>Khai báo tài sản đầu kỳ</li>
                    </ul>
                </li>
                <li>Tiền lương
                    <ul>
                        <li>Chấm công</li>
                        <li>Tổng hợp chấm công</li>
                        <li>Tính lương</li>
                        <li>Hạch toán chi phí lương</li>
                        <li>Trả lương</li>
                        <li>Nộp bảo hiểm</li>
                        <li>Quy định lương</li>
                    </ul>
                </li>
                <li>Thuế
                    <ul>
                        <li>TT26 - Tờ khai GTGT khấu trừ (01/GTGT)</li>
                        <li>TT119 - Tờ khai GTGT khấu trừ (01/GTGT)</li>
                        <li>Tờ khai thuế GTGT cho dự án đầu tư (02/GTGT)</li>
                        <li>Tờ khai thuế GTGT trực tiếp trên GTGT (03/GTGT)</li>
                        <li>Khấu trừ thuế GTGT</li>
                        <li>Quyết toán thuế TNDN năm (03/TNDN)</li>
                        <li>Tờ khai thuế TTDB năm (03/TTDB)</li>
                        <li>Tờ khai thuế tài nguyên (01/TAIN)</li>
                        <li>Nộp thuế</li>
                        <li><a th:href="@{/edit_ta_tax_agent_info}">Thiết lập thông tin cơ quan thuế; đại lý thuế; đơn vị cung cấp DV kế toán</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/add_contract}">Hợp đồng</a></li>
                <li>Ngân sách</li>
                <li><a th:href="@{/opening_account_entries}">Nhập số dư ban đầu</a></li>
            </ul>
        </li>
        <li>
            Giá thành
            <ul>
                <li>Sản xuất liên tục giản đơn
                    <ul>
                        <li>Kỳ tính giá thành</li>
                        <li>Tính giá thành</li>
                        <li>Kết chuyển chi phí</li>
                        <li>Tập hợp chi phí theo yếu tố</li>
                        <li>Tập hợp chi phí theo khoản mục</li>
                        <li>Khai báo CP dở dang đầu kỳ cho đối tượng tập hợp chi phí</li>
                        <li>Khai báo định mức giá thành thành phẩm</li>
                        <li>Khai báo định mức phân bổ chi phí theo đối tượng THCP</li>
                    </ul>
                </li>
                <li>Sản xuất liên tục hệ số, tỷ lệ
                    <ul>
                        <li>Xác định kỳ tính giá thành</li>
                        <li>Tính giá thành</li>
                        <li>Kết chuyển chi phí</li>
                        <li>Bảng tập hợp chi phí theo yếu tố</li>
                        <li>Bảng tập hợp chi phí theo khoản mục</li>
                        <li>Khai báo chi phí dở dang đầu kỳ cho đối tượng THCP</li>
                        <li>Khai báo định mức giá thành phẩm</li>
                        <li>Khai báo định mức phân bổ chi phí theo đối tượng THCP</li>
                    </ul>
                </li>
                <li>Công trình
                    <ul>
                        <li>Xác định kỳ tính giá thành</li>
                        <li>Phân bổ chi phí chung</li>
                        <li>Kết chuyển chi phí</li>
                        <li>Nghiệm thu công trình</li>
                        <li>Bảng tập hợp chi phí theo yếu tố</li>
                        <li>Bảng tập hợp chi phí theo khoản mục</li>
                        <li>Nhập chi phí phát sinh cho công trình trước</li>
                        <li>Định mức nguyên vật liệu công trình</li>
                        <li>Khai báo định mức phân bổ chi phí theo công trình</li>
                    </ul>
                </li>
                <li>Đơn hàng
                    <ul>
                        <li>Xác định kỳ tính giá thành</li>
                        <li>Phân bổ chi phí chung</li>
                        <li>Kết chuyển chi phí</li>
                        <li>Nghiệm thu đơn hàng</li>
                        <li>Bảng tập hợp chi phí theo yếu tố</li>
                        <li>Bảng tập hợp chi phí theo khoản mục</li>
                        <li>Nhập lũy kế chi phí phát sinh cho hợp đồng kỳ trước</li>
                    </ul>
                </li>
                <li>Hợp đồng
                    <ul>
                        <li>Xác định kỳ tính giá thành</li>
                        <li>Phân bổ chi phí chung</li>
                        <li>Kết chuyển chi phí</li>
                        <li>Nghiệm thu hợp đồng</li>
                        <li>Bảng tập hợp chi phí theo yếu tố</li>
                        <li>Bảng tập hợp chi phí theo khoản mục</li>
                        <li>Nhập lũy kế chi phí phát sinh cho hợp đồng kỳ trước</li>
                    </ul>
                </li>
                <li>Tổng hợp
                    <ul>
                        <li>Chứng từ nghiệp vụ khác</li>
                        <li>Chứng từ quyết toán tạm ứng</li>
                        <li>Kết chuyển lãi lỗ</li>
                        <li>Chứng từ ghi sổ</li>
                        <li>Tính tỷ số xuất quỹ</li>
                        <li>Đánh giá lại khoản ngoại tệ</li>
                        <li>Khóa sổ kỳ kế toán</li>
                        <li>Bỏ khóa sổ kỳ kế toán</li>
                        <li>Phân bổ chi phí bán hàng, Quản lý DN, khác</li>
                        <li>Chi phí trả trước</li>
                        <li>Lập báo cáo tài chính</li>
                    </ul>
                </li>
            </ul>
        </li>

        <!--
        <li>
            Hệ thống
            <ul>
                <li>Giao diện
                    <ul>
                        <li>Mặc định</li>       Office 365
                        <li>Mềm mại</li>        Default Kendo UI
                        <li>Phẳng bo góc</li>   Office 365
                        <li>Giọt nước</li>      Flat
                    </ul>
                </li>
                <li>Ngày hạch toán</li>
                <li>Đổi mật khẩu</li>
                <li>Quản lý người dùng</li>
                <li>Vai trò quyền hạn</li>
                <li>Nhật ký thao tác</li>
                <li><a th:href="@{/choose_accounting_book}">Tùy chọn</a></li>
            </ul>
        </li>
        <li>
            Tiện ích
            <ul>
                <li>Bắt đầu làm việc với Cloud accounting</li>
                <li>Tìm kiếm (Ctrl + F)</li>
                <li>Báo cáo</li>
                <li>Thiết lập Báo cáo tài chính</li>
                <li>Kiểm tra đối chiếu chứng từ sổ sách</li>
                <li>Ghi sổ, bỏ ghi theo lô</li>
                <li>Bảo trì dữ liệu</li>
                <li>Đánh lại số chứng từ</li>
            </ul>
        </li> -->
        <li>
            Trợ giúp
            <ul>
                <li><a href="http://docs.donhuvy.vn" target="_blank">Hướng dẫn sử dụng</a></li>
                <li><a href="http://donhuvy.vn" target="_blank">Website Vy.VN</a></li>
                <li id="menu_about"><a th:href="@{/about}">Giới thiệu</a></li>
            </ul>
        </li>
        <!--<li>Language-->
        <!--    <ul>-->
        <!--        <li><a href="/vietnamese">Tiếng Việt</a></li>-->
        <!--        <li><a href="/english">English</a></li>-->
        <!--    </ul>-->
        <!--</li>-->
    </ul>
    <style>
        #menu h2 {
            font-size: 1em;
            text-transform: uppercase;
            padding: 5px 10px;
        }

        #template img {
            margin: 5px 20px 0 0;
            float: left;
        }

        #template {
            width: 380px;
        }

        #template ol {
            float: left;
            margin: 0 0 0 30px;
            padding: 10px 10px 0 10px;
        }

        #template:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #template .k-button {
            float: left;
            clear: left;
            margin: 5px 0 5px 12px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#menu").kendoMenu();
        });
    </script>
</div>
