<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/customers}" class="k-button k-primary"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách khách hàng (Tổ chức + Cá nhân)</a>
<br/>
<br/>
<h3>THÊM KHÁCH HÀNG TỔ CHỨC</h3>
<br/>
<br/>
<form method="post" action="/add_org_customer" th:object="${accountObjectForm}" modelAttribute="accountObjectForm" id="accountObjectForm">
    <table style="width: 1366px; padding-left: 50px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectName">Tên khách hàng</label></td>
            <td colspan="3"><input type="text" th:field="*{accountObjectName}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="companyTaxCode">Mã số thuế</label></td>
            <td><input type="text" th:field="*{companyTaxCode}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="accountObjectCode" class="required">Mã đối tượng</label></td>
            <td><input type="text" th:field="*{accountObjectCode}" class="k-textbox" style="width: 100%;" required="required"></td>
        </tr>

        <tr>
            <td><label for="address">Địa chỉ</label></td>
            <td><input type="text" id="address" name="address" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectGroupListName">Nhóm KH, NCC</label></td>
            <td>
                <select th:field="*{accountObjectGroupListName}" id="accountObjectGroupListName" multiple="multiple" data-placeholder="Chọn nhóm Đối tượng kế toán" title="Nhóm khách hàng, nhà cung cấp">
                    <option th:each="item:${accountObjectGroupList}" th:value="${item.id}" th:text="${item.accountObjectGroupCode}"/>
                </select>
                <script>
                    $(document).ready(function() {
                        $("#accountObjectGroupListName").kendoMultiSelect().data("kendoMultiSelect");
                    });
                </script>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><label th:for="tel">Điện thoại</label></td>
            <td><input type="tel" th:value="*{tel}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="website">Website</label></td>
            <td><input type="url" th:field="*{website}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="fax">Fax</label></td>
            <td><input type="text" th:field="*{fax}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="paymentTermId">Điều khoản thanh toán</label></td>
            <td><input type="number" th:field="*{paymentTermId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataPaymentTerms = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/payment_terms_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#paymentTermId").kendoMultiColumnComboBox({
                            dataTextField: "paymentTermName",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 600,
                            columns: [
                                {field: "paymentTermCode", title: "Mã điều khoản thanh toán", width: 200},
                                { field: "paymentTermName", title: "Tên điều khoản thanh toán", width: 400 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Điều khoản thanh toán',
                            filter: "contains",
                            filterFields: ["paymentTermCode", "paymentTermName"],
                            dataSource: dataPaymentTerms,
                            change: onChangePaymenTerm
                        });
                    });
                    function onChangePaymenTerm() { }
                </script>
            </td>
        </tr>
        <tr>
            <td><label th:for="emailAddress">Email</label></td>
            <td><input type="email" th:field="*{emailAddress}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="dueTime">Số ngày được nợ</label></td>
            <td><input type="number" th:field="*{dueTime}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label th:for="employeeId">Nhân viên bán hàng</label></td>
            <td><input type="number" th:field="*{employeeId}" style="width: 100%;" title="Nhân viên bán hàng">
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 200},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 300 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 300 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>
            </td>
            <td><label th:for="maxDebtAmount">Số nợ tối đa</label></td>
            <td><input type="number" th:field="*{maxDebtAmount}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label th:for="country">Quốc gia</label></td>
            <td><input type="text" th:field="*{country}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data1 = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/countries",
                                    dataType: "json"
                                }
                            },
                            pageSize: 300
                        });
                        // create DropDownList from input HTML element
                        $("#country").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data1,
                            // filter: "contains",
                            filter: "startswith",
                            suggest: true,
                            index: 0,
                            change: onChangeCountry
                        });
                    });
                    // Create DropDownList from select HTML element
                    $("#country").kendoDropDownList();
                    var country_combo = $("#country").data("kendoDropDownList");
                    country_combo.select(0);
                    function onChangeCountry() { }
                </script>
            </td>
            <td><label th:for="provinceOrCity">Tỉnh/Thành phố</label></td>
            <td>
                <input type="text" th:field="*{provinceOrCity}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataProvince = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/provinces",
                                    dataType: "json"
                                }
                            },
                            pageSize: 300
                        });
                        // create DropDownList from input HTML element
                        $("#provinceOrCity").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataProvince,
                            filter: "contains",
                            //filter: "startswith",
                            suggest: true,
                            index: 0,
                            change: onChangeProvince
                        });
                    });
                    // Create DropDownList from select HTML element
                    $("#provinceOrCity").kendoDropDownList();
                    var provinceOrCity_combo = $("#provinceOrCity").data("kendoDropDownList");
                    provinceOrCity_combo.select(0);
                    function onChangeProvince() { }
                </script>
            </td>
        </tr>
        <tr>
            <td><label th:for="district">Quận/Huyện</label></td>
            <td><input type="text" th:field="*{district}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data3 = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/districts",
                                    dataType: "json"
                                }
                            },
                            pageSize: 1000
                        });
                        // create DropDownList from input HTML element
                        $("#district").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data3,
                            filter: "contains",
                            // filter: "startswith",
                            suggest: true,
                            index: 0,
                            change: onChange3
                        });
                    });
                    var districtName = "";
                    // Create DropDownList from select HTML element
                    $("#district").kendoDropDownList();
                    var district_combo = $("#district").data("kendoDropDownList");
                    district_combo.select(0);
                    function onChange3() {
                        //districtName = $("#district").val();
                        //console.log("districtName = " + districtName);
                        //ward_combo.refresh();
                    }
                </script>
            </td>
            <td><label th:for="wardOrCommune">Xã/Phường</label></td>
            <td><input type="text" th:field="*{wardOrCommune}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data4 = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/wards",
                                    //url: "/wards_by_district_name?district_name='" + districtName + "'",
                                    dataType: "json"
                                }
                            },
                            pageSize: 12000
                        });

                        var data4b = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    //url: "/wards",
                                    url: "/wards_by_district_name?district_name='" + districtName + "'",
                                    dataType: "json"
                                }
                            },
                            pageSize: 12000
                        });

                        // create DropDownList from input HTML element
                        $("#wardOrCommune").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: data4,
                            filter: "contains",
                            // filter: "startswith",
                            suggest: true,
                            index: 0,
                            change: onChangeWard
                        });
                    });
                    // Create DropDownList from select HTML element
                    $("#wardOrCommune").kendoDropDownList();
                    var ward_combo = $("#wardOrCommune").data("kendoDropDownList");
                    ward_combo.select(0);
                    function onChangeWard() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><h3>Thông tin liên hệ</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="prefix">Xưng hô</label></td>
            <td>
                <input type="text" th:field="*{prefix}" value="1" style="width: 100%;"/>
                <script>
                    $(document).ready(function () {
                        var dataPrefix = [
                            {text: "Ông", value: "Ông"},
                            {text: "Bà", value: "Bà"},
                            {text: "Anh", value: "Anh"},
                            {text: "Chị", value: "Chị"},
                            {text: "Em", value: "Em"},
                            {text: "Bạn", value: "Bạn"},
                            {text: "Mr", value: "Mr"},
                            {text: "Ms", value: "Ms"},
                            {text: "Mrs", value: "Mrs"},
                            {text: "Miss", value: "Miss"}
                        ];

                        $("#prefix").kendoDropDownList({
                            // Dựa theo trải nghiệm người dùng, % lần sử dụng tùy chọn mặc định
                            // để quyết định có dùng optionLabel hay không.
                            optionLabel: "Chọn...",
                            dataTextField: "text",
                            filterable: true,
                            filter: "startswith",
                            dataValueField: "value",
                            dataSource: dataPrefix,
                            index: 0,
                            change: onChangePrefix
                        });
                    });
                    // create DropDownList from select HTML element
                    $("#prefix").kendoDropDownList();
                    var prefix = $("#prefix").data("kendoDropDownList");
                    prefix.select(0);
                    function onChangePrefix() { }
                </script>
            </td>
            <td><label th:for="contactFixedTel">ĐT cố định</label></td>
            <td><input type="text" th:field="*{contactFixedTel}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="contactName">Họ và tên</label></td>
            <td><input type="text" th:field="*{contactName}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="contactEmail">Email</label></td>
            <td><input type="email" th:field="*{contactEmail}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="contactTitle">Chức danh</label></td>
            <td><input type="text" th:field="*{contactTitle}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="contactAddress">Địa chỉ</label></td>
            <td><input type="text" th:field="*{contactAddress}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="contactMobile">ĐT di động</label></td>
            <td><input type="text" th:field="*{contactMobile}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="otherContactMobile" title="Số điện thoại di động khác">ĐTDĐ khác</label></td>
            <td><input type="text" th:field="*{otherContactMobile}" class="k-textbox" style="width: 100%;" title="Số điện thoại di động khác"></td>
        </tr>

        <tr>
            <td><label th:for="legalRepresentative">Đại diện theo PL</label></td>
            <td><input type="text" th:field="*{legalRepresentative}" class="k-textbox" style="width: 100%;"></td>
            <td></td>
            <td>
                <input type="checkbox" id="isVendor" name="isVendor" th:checked="*{isVendor}" class="k-checkbox">
                <label for="isVendor" class="k-checkbox-label">Cũng là nhà cung cấp</label>
            </td>
        </tr>

        <tr>
            <td><h3>Thông tin người nhận Hóa đơn</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="eInvoiceContactName">Tên người nhận</label></td>
            <td><input type="text" th:field="*{eInvoiceContactName}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="eInvoiceContactMobile">Điên thoại</label></td>
            <td><input type="tel" th:field="*{eInvoiceContactMobile}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="eInvoiceContactAddress">Địa chỉ</label></td>
            <td><input type="text" th:value="*{eInvoiceContactAddress}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="eInvoiceContactEmail">Email</label></td>
            <td><input type="text" th:field="*{eInvoiceContactEmail}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <!--<tr>-->
        <!--    <td><label th:for="shippingAddress">Địa điểm giao hàng</label></td>-->
        <!--    <td><input type="text" th:value="*{shippingAddress}" class="k-textbox" style="width: 100%;"></td>-->
        <!--    <td></td>-->
        <!--    <td></td>-->
        <!--</tr>-->

    </table>

    <h3>Tài khoản ngân hàng của khách hàng</h3>

    <table style="padding-top: 15px; padding-left: 50px; width: 1366px;">
        <tr>
            <thead>
            <th>STT</th>
            <th width="24%">Số tài khoản</th>
            <th width="24%">Tên ngân hàng</th>
            <th width="24%">Chi nhánh</th>
            <th width="24%">Tỉnh/TP của ngân hàng</th>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : ${accountObjectForm.accountObjectBankAccountList}">
                <td><span th:text="${itemStat.index + 1}"></span></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" class="k-textbox" style="width: 100%;"></td>
                <td><input type="number" th:name="|accountObjectBankAccountList[${itemStat.index}].bankId|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankId|" style="width: 100%"></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" class="k-textbox" style="width: 100%;"></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].province|" th:id="|accountObjectBankAccountList[${itemStat.index}].province|" style="width: 100%;"></td>
            </tr>
            <script>
                $(document).ready(function () {
                    var dataBank = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/banks_json",
                                dataType: "json"
                            }
                        },
                        pageSize: 30
                    });

                    $("input[name$='bankId']").each(function() {
                        $(this).kendoDropDownList({
                            optionLabel: "Chọn...",
                            dataTextField: "bankCode",
                            dataValueField: "id",
                            dataSource: dataBank,
                            index: 0,
                            change: onChangeBank
                        })
                    });

                    var dataProvinceBank = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/provinces",
                                dataType: "json"
                            }
                        },
                        pageSize: 300
                    });

                    $("input[name$='province']").each(function() {
                        $(this).kendoDropDownList({
                            optionLabel: "Chọn...",
                            dataTextField: "text",
                            dataValueField: "value",
                            filter: "contains",
                            dataSource: dataProvinceBank,
                            index: 0,
                            change: onChangeProvinceBank
                        })
                    });
                });
                function onChangeBank() { }
                function onChangeProvinceBank() { }
            </script>
            </tbody>
        </tr>
    </table>

    <h3>Địa chỉ giao nhận hàng</h3>

    <table style="padding-top: 15px; padding-left: 50px; width: 1366px;">
        <tr>
            <thead>
                <th width="4%">STT</th>
                <th width="96%">Địa chỉ</th>
            </thead>
            <tbody>
                <tr th:each="item, itemStat : ${accountObjectForm.accountObjectShippingAddressList}">
                    <td><span th:text="${itemStat.index + 1}"></span></td>
                    <td><input type="text" th:name="|accountObjectShippingAddressList[${itemStat.index}].shippingAddress|" th:id="|accountObjectShippingAddressList[${itemStat.index}].shippingAddress|" class="k-textbox" style="width: 100%;"></td>
                </tr>
            </tbody>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button id="addAccountObject" type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> Thêm</button>
            </td>
        </tr>

    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
