<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>

<h3>Phân hệ Mua sắm</h3>
<br/>
<br/>
<div class="image_map">
    <img width="960px" height="720px" th:src="@{/images/quy_trinh_mua_hang.png}" title="Phân hệ Mua sắm" usemap="#image-map">
    <map name="image-map">
        <area target="_self" alt="Đơn mua hàng" title="Đơn mua hàng" th:href="@{/don_mua_hang}" coords="161,196,13,153" shape="rect">
        <area target="_self" alt="Danh sách đơn mua hàng" title="Danh sách đơn mua hàng" th:href="@{/danh_sach_don_mua_hang}" coords="12,198,160,261" shape="rect">
        <area target="_self" alt="Hợp đồng mua" title="Hợp đồng mua" th:href="@{/add_pu_contract}" coords="14,511,167,552" shape="rect">
        <area target="_self" alt="Danh sách hợp đồng mua" title="Danh sách hợp đồng mua" th:href="@{/danh_sach_hop_dong_mua}" coords="13,556,167,632" shape="rect">
        <area target="_self" alt="Chứng từ mua hàng hóa" title="Chứng từ mua hàng hóa" th:href="@{/chung_tu_mua_hang_hoa}" coords="444,203,169,161" shape="rect">
        <area target="_self" alt="Chứng từ mua hàng nhiều hóa đơn" title="Chứng từ mua hàng nhiều hóa đơn" th:href="@{/chung_tu_mua_hang_nhieu_hoa_don}" coords="167,205,445,248" shape="rect">
        <area target="_self" alt="Chứng từ mua dịch vụ" title="Chứng từ mua dịch vụ" th:href="@{/chung_tu_mua_dich_vu}" coords="168,251,445,287" shape="rect">
        <area target="_self" alt="Danh sách mua hàng hóa, dịch vụ" title="Danh sách mua hàng hóa, dịch vụ" th:href="@{/danh_sach_mua_hang_hoa_dich_vu}" coords="166,290,447,326" shape="rect">
        <area target="_self" alt="Nhận hóa đơn" title="Nhận hóa đơn" th:href="@{/nhan_hoa_don}" coords="217,482,370,527" shape="rect">
        <area target="_self" alt="Danh sách nhận hóa đơn" title="Danh sách nhận hóa đơn" th:href="@{/danh_sach_nhan_hoa_don}" coords="217,530,370,601" shape="rect">
        <area target="_self" alt="Trả lại hàng mua" title="Trả lại hàng mua" th:href="@{/tra_lai_hang_mua}" coords="457,180,616,230" shape="rect">
        <area target="_self" alt="Danh sách trả lại hàng mua" title="Danh sách trả lại hàng mua" th:href="@{/danh_sach_tra_lai_hang_mua}" coords="616,301,457,232" shape="rect">
        <area target="_self" alt="Giảm giá hàng mua" title="Giảm giá hàng mua" th:href="@{/giam_gia_hang_mua}" coords="415,510,582,554" shape="rect">
        <area target="_self" alt="Danh sách giảm giá hàng mua" title="Danh sách giảm giá hàng mua" th:href="@{/danh_sach_giam_gia_hang_mua}" coords="415,558,584,609" shape="rect">
        <area target="_self" alt="Trả tiền nhà cung cấp" title="Trả tiền nhà cung cấp" th:href="@{/tra_tien_nha_cung_cap}" coords="633,123,786,200" shape="rect">
        <area target="_top" alt="Báo cáo phân tích" title="Báo cáo phân tích" th:href="@{/bao_cao_phan_tich}" coords="817,326,939,393" shape="rect">
    </map>
</div>

<th:block th:include="fragments/footer"></th:block>
