<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>

<div>

    <h3 id="dlkt">THÔNG TIN VỀ DỮ LIỆU KẾ TOÁN</h3>
    <table id="accounting_system_info">
        <tr>
            <td colspan="2"><h3>Dữ liệu kế toán</h3></td>
        </tr>
        <tr>
            <td>Máy chủ</td>
            <td><th:block th:text="${baseURL}"></th:block></td>
        </tr>
        <tr>
            <td>Tên Cơ sở Dữ liệu kế toán</td>
            <td><th:block th:text="${schemaName}"></th:block></td>
        </tr>
        <tr>
            <td>Phiên bản</td>
            <td><th:block th:text="${mvcVersion}"></th:block></td>
        </tr>
        <tr>
            <td colspan="2">Thông tin kế toán</td>
        </tr>
        <tr>
            <td>Chế độ kế toán</td>
            <td>Theo Thông tư 133/2016/TT-BTC</td>
        </tr>
        <tr>
            <td>Chế độ ghi sổ</td>
            <td>Cất đồng thời ghi sổ</td>
        </tr>
        <tr>
            <td>Đồng tiền hạch toán</td>
            <td>VND</td>
        </tr>
        <tr>
            <td>Phương pháp tính khấu hao Tài sản cố định</td>
            <td>Khấu hao đường thẳng</td>
        </tr>
        <tr>
            <td>Phương pháp tính giá xuất kho</td>
            <td>Bình quân cuối kỳ</td>
        </tr>
        <tr>
            <td>Phương pháp tính GTGT</td>
            <td>Phương pháp khấu trừ</td>
        </tr>
        <tr>
            <td>Ngày bắt đầu</td>
            <td>01/01/2019</td>
        </tr>
        <tr>
            <td>Ngày khóa sổ</td>
            <td>31/12/2019</td>
        </tr>
        <tr>
            <td>Dung lượng dữ liệu</td>
            <td><th:block th:text="${databaseSize}"></th:block></td>
        </tr>
        <tr>
            <td>Số lượng chứng từ năm 2019</td>
            <td>0</td>
        </tr>
        <tr>
            <td colspan="2"><h3>Thông tin người dùng</h3></td>
        </tr>
        <tr>
            <td>Tên đăng nhập</td>
            <td><th:block th:text="${currentUser}"></th:block></td>
        </tr>
        <tr>
            <td>Người dùng khác đang đăng nhập</td>
            <td>(không có)</td>
        </tr>
    </table>
</div>






<br/>
<br/>

<th:block th:include="fragments/footer"></th:block>
