<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<div>
    <div class="icon_on_desktop">
        <a th:href="@{/cash_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/dollar-folder-icon.png}" title="Quỹ">
            <div class="desc">Quỹ</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/bank_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/bank-icon.png}" title="Ngân hàng">
            <div class="desc">Ngân hàng</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/purchase_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/shop-cart-icon.png}" title="Mua hàng">
            <div class="desc">Mua hàng</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/sale_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/dollar-icon.png}" title="Bán hàng">
            <div class="desc">Bán hàng</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/invoice_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/invoice-icon.png}" title="Hóa đơn">
            <div class="desc">Hóa đơn</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/einvoice_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/receipt-icon.png}" title="Hóa đơn điện tử">
            <div class="desc">Hóa đơn điện tử</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/tax_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/calculator-icon.png}" title="Thuế">
            <div class="desc">Thuế</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/inventory_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/Refrigeration-Truck-with-Open-Door-icon.png}"
                 title="Kho">
            <div class="desc">Kho</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/tool_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/tool-box-icon.png}" title="Công cụ dụng cụ">
            <div class="desc">Công cụ dụng cụ</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/fixed_asset_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/office-building-icon.png}"
                 title="Tài sản cố định">
            <div class="desc">Tài sản cố định</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/salary_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/project-plan-icon.png}" title="Tiền lương">
            <div class="desc">Tiền lương</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/costing_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/Price-icon.png}" title="Giá thành">
            <div class="desc">Giá thành</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/contract_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/document-scroll-icon.png}" title="Hợp đồng">
            <div class="desc">Hợp đồng</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/budget_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/Budget-icon.png}" title="Ngân sách">
            <div class="desc">Ngân sách</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/synthetic_subsystem}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/SEO-icon.png}" title="Tổng hợp">
            <div class="desc">Tổng hợp</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a th:href="@{/config}" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/System-icon.png}" title="Hệ thống">
            <div class="desc">Hệ thống</div>
        </a>
    </div>

    <div class="icon_on_desktop">
        <a href="http://docs.donhuvy.vn" target="_blank" style="text-decoration: none;">
            <img width="100px" height="100px" th:src="@{/images/icons/Actions-help-about-icon.png}" title="Trợ giúp">
            <div class="desc">Trợ giúp</div>
        </a>
    </div>
</div>
<br/>
<div>



    Ngân hàng<br/>
    <a th:href="@{/add_ba_deposit}" target="_self">Thu tiền</a><br/>
    <a th:href="@{/collect_money}" target="_self">Thu tiền khách hàng</a><br/>
    <a th:href="@{/add_ba_withdraw}" target="_self">Chi tiền</a><br/>
    <a th:href="@{/insurance_payment}" target="_self">Nộp tiền bảo hiểm</a><br/>
    <a th:href="@{/add_ca_audit}" target="_self">Thêm kiểm kê quỹ</a><br/>
    <a th:href="@{/add_ba_withdraw_standing_order}" target="_self">Thêm ủy nhiệm chi</a><br/>

    Bán hàng<br/>
    <a th:href="@{/add_sa_quote}" target="_self">Báo giá</a><br/>
    <a th:href="@{/add_sa_order}" target="_self">Đơn đặt hàng</a><br/>


</div>

<br/>
<br/>
<th:block th:include="fragments/footer"></th:block>
