<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_payment_term}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm Điều khoản thanh toán</a>
<br/>
<br/>
<h3>DANH SÁCH ĐIỀU KHOẢN THANH TOÁN</h3>
<br/>
<table id="payment_terms_datagrid">
    <thead>
    <tr>
        <th data-field="MA_DIEU_KHOAN" data-title="Mã điều khoản" title="Mã điều khoản">Mã điều khoản</th>
        <th data-field="TEN_DIEU_KHOAN" data-title="Tên điều khoản" title="Tên điều khoản">Tên điều khoản</th>
        <th data-field="SO_NGAY_DUOC_NO" data-title="Số ngày được nợ" title="Số ngày được nợ">Số ngày được nợ</th>
        <th data-field="THOI_HAN_HUONG_CHIET_KHAU" data-title="Thời hạn hưởng CK (ngày)" title="Thời hạn hưởng CK (ngày)">Thời hạn hưởng CK (ngày)</th>
        <th data-field="TY_LE_CHIET_KHAU" data-title="Tỷ lệ CK (%)" title="Tỷ lệ CK (%)">Tỷ lệ CK (%)</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paymentTerm : ${paymentTermList}">
        <td th:text="${paymentTerm.paymentTermCode}"></td>
        <td th:text="${paymentTerm.paymentTermName}"></td>
        <td th:text="${paymentTerm.dueTime}"></td>
        <td th:text="${paymentTerm.discountTime}"></td>
        <td th:text="${paymentTerm.discountPercent}"></td>
        <td th:text="${activeStatusList[paymentTerm.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/payment_term/view/{id}(id=${paymentTerm.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/payment_term/edit/{id}(id=${paymentTerm.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${paymentTerm.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${paymentTerm.id}" th:action="@{/payment_term/delete/{id}(id=${paymentTerm.id})}"><button type="submit" hidden th:id="'btn_' + ${paymentTerm.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#payment_terms_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
