@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/* Page Thong tin Ke toan */
table#accounting_system_info{
    font-size: 1.3em;
    line-height: 1.3em;
    margin-left: 20px;
    padding-left: 20px;
}

#dlkt {
    margin-left: 20px;
    padding-left: 20px;
}

/*tr td:nth-child(2){*/
/*    padding-right: 10px;*/
/*}*/

.icon_on_desktop{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

/* Login page */
#login_container{
    width: 400px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: #ff9999;
    /*display: inline-block;*/
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#login_form{
    display: inline-block;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

#remember-me{
    text-align: right;
}

#login_body{
    background-image: url('../images/login_background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* desktop page */
.desc{
    text-align: center;
    font-size: 1.2em;
    padding-top: 5px;
}

/* Form */
td{
    vertical-align: top;
}

/* Image map*/

.image_map {
    /*width: 400px;*/
    /*height: 300px;*/
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    /*background: #ff9999;*/
    /*display: inline-block;*/
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.b-require{
    color: red;
    margin-left: 3px;
}

.b-gr-header{
    color: green;
    font-weight: bold;
    padding-bottom: 1.2em;
}

/* Các form sẽ có left-margin nhất định. */
/*form{*/
/*    margin-left: 30px;*/
/*}*/

/*.b-title{*/
/*    margin-left: 30px;*/
/*}*/


