<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<h3>THÊM TÀI KHOẢN</h3>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/accounts}"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span> &nbsp; Danh mục Tài khoản</a>
<br/>
<br/>
<br/>
<form th:action="@{/add_account}" modelAttribute="account" id="add_account_form" name="add_account_form" method="post">
    <table class="k-block" style="margin-left: 50px;">
        <tr>
            <td><b>Thông tin chung</b></td>
            <td></td>
        </tr>
        <tr>
            <td><label required for="accountNumber">Số tài khoản</label></td>
            <td><input type="text" id="accountNumber" name="accountNumber" class="k-textbox" style="width: 100%;" required validationMessage="Số tài khoản không được để trống"></td>
        </tr>
        <tr>
            <td><label for="accountName">Tên tài khoản</label></td>
            <td><input type="text" id="accountName" name="accountName" class="k-textbox" style="width: 100%;" required validationMessage="Tên tài khoản không được để trống"></td>
        </tr>
        <tr>
            <td><label for="accountNameEnglish">Tên Tiếng Anh</label></td>
            <td><input type="text" id="accountNameEnglish" name="accountNameEnglish" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><label for="parentId">Tài khoản tổng hợp</label></td>
            <td><input type="number" id="parentId" name="parentId" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label required for="accountCategoryKind">Tính chất</label></td>
            <td><input type="number" id="accountCategoryKind" name="accountCategoryKind" style="width: 100%;" required validationMessage="Tính chất của tài khoản không được để trống" value="0"></td>
            <script>
            $(document).ready(function () {
                var data_accountCategoryKind = [
                    {value: 0, text: 'Dư nợ'},
                    {value: 1, text: 'Dư có'},
                    {value: 2, text: 'Lưỡng tính'}
                ];

                $("#accountCategoryKind").kendoDropDownList({
                    dataValueField: "value",
                    dataTextField: "text",
                    dataSource: data_accountCategoryKind,
                    index: 0
                });
            });
            </script>
        </tr>
        <tr>
            <td><label for="description">Diễn giải</label></td>
            <td><input type="text" id="description" name="description" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><b>Theo dõi chi tiết theo</b></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="detailByAccountObject">Đối tượng</label></td>
            <td><input type="checkbox" id="detailByAccountObject" name="detailByAccountObject" onclick="change_detailByAccountObject();"></td>
            <script>
                function change_detailByAccountObject() {
                    var ddl_accountObjectType = $("#accountObjectType").data("kendoDropDownList");
                    if (document.getElementById('detailByAccountObject').checked === false) {
                        ddl_accountObjectType.enable(false);
                    } else {
                        ddl_accountObjectType.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="accountObjectType">Loại đối tượng</label></td>
            <td><input type="number" id="accountObjectType" name="accountObjectType" style="width: 100%;" value="0"></td>
            <script>
                $(document).ready(function () {
                    var data_accountObjectType = [
                        {value: 0, text: 'Nhà cung cấp'},
                        {value: 1, text: 'Khách hàng'},
                        {value: 2, text: 'Nhân viên'}
                    ];

                    $("#accountObjectType").kendoDropDownList({
                        dataValueField: "value",
                        dataTextField: "text",
                        dataSource: data_accountObjectType,
                        index: 0,
                        enable: false
                    });
                });
            </script>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label for="detailByBankAccount">Tài khoản ngân hàng</label></td>
            <td><input type="checkbox" id="detailByBankAccount" name="detailByBankAccount"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label for="detailByJob">Đối tượng tập hợp chi phí</label></td>
            <td><input type="checkbox" id="detailByJob" name="detailByJob" onclick="changeDetailByJob();"></td>
            <script>
                function changeDetailByJob() {
                    var dropdownlist_detailByJobKind = $("#detailByJobKind").data("kendoDropDownList");
                    if (document.getElementById('detailByJob').checked === false) {
                        dropdownlist_detailByJobKind.enable(false);
                    } else {
                        dropdownlist_detailByJobKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByJobKind">Chỉ cảnh báo hay bắt buộc nhập Đối tượng tập hợp chi phí</label></td>
            <td><input type="number" id="detailByJobKind" name="detailByJobKind" style="width: 100%;" value="0">
            </td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="detailByProjectWork">Công trình, vụ việc</label></td>
            <td><input type="checkbox" id="detailByProjectWork" name="detailByProjectWork" onchange="change_detailByProjectWork();"></td>
            <script>
                function change_detailByProjectWork() {
                    var ddl_detailByProjectWork = $("#detailByProjectWorkKind").data("kendoDropDownList");
                    if (document.getElementById('detailByProjectWork').checked === false) {
                        ddl_detailByProjectWork.enable(false);
                    } else {
                        ddl_detailByProjectWork.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByProjectWorkKind">Chỉ cảnh báo hay bắt buộc nhập Công trình, vụ việc</label></td>
            <td><input type="number" id="detailByProjectWorkKind" name="detailByProjectWorkKind" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label for="detailByOrder">Đơn đặt hàng</label></td>
            <td><input type="checkbox" id="detailByOrder" name="detailByOrder" onclick="change_detailByOrder();"></td>
            <script>
                function change_detailByOrder() {
                    var ddl_detailByOrderKind = $("#detailByOrderKind").data("kendoDropDownList");
                    if (document.getElementById('detailByOrder').checked === false) {
                        ddl_detailByOrderKind.enable(false);
                    } else {
                        ddl_detailByOrderKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByOrderKind">Chỉ cảnh báo hay bắt buộc nhập Đơn đặt hàng</label></td>
            <td><input type="number" id="detailByOrderKind" name="detailByOrderKind" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label>Hợp đồng bán</label></td>
            <td><input type="checkbox" id="detailByContract" name="detailByContract" onclick="change_detailByContract();"></td>
            <script>
                function change_detailByContract() {
                    var ddl_detailByContractKind = $("#detailByContractKind").data("kendoDropDownList");
                    if (document.getElementById('detailByContract').checked === false) {
                        ddl_detailByContractKind.enable(false);
                    } else {
                        ddl_detailByContractKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label>Chỉ cảnh báo hay bắt buộc nhập Hợp đồng bán</label></td>
            <td><input type="checkbox" id="detailByContractKind" name="detailByContractKind" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="detailByPuContract">Hợp đồng mua</label></td>
            <td><input type="checkbox" id="detailByPuContract" name="detailByPuContract" onclick="change_detailByPuContract();"></td>
            <script>
                function change_detailByPuContract() {
                    var ddl_detailByPuContractKind = $("#detailByPuContractKind").data("kendoDropDownList");
                    if (document.getElementById('detailByPuContract').checked === false) {
                        ddl_detailByPuContractKind.enable(false);
                    } else {
                        ddl_detailByPuContractKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByPuContractKind">Chỉ cảnh báo hay bắt buộc nhập Hợp đồng mua</label></td>
            <td><input type="number" id="detailByPuContractKind" name="detailByPuContractKind" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label>Khoản mục chi phí</label></td>
            <td><input type="checkbox" id="detailByExpenseItem" onclick="change_detailByExpenseItem();" name="detailByExpenseItem"></td>
            <script>
                function change_detailByExpenseItem() {
                    var ddl_detailByExpenseItemKind = $("#detailByExpenseItemKind").data("kendoDropDownList");
                    if (document.getElementById('detailByExpenseItem').checked === false) {
                        ddl_detailByExpenseItemKind.enable(false);
                    } else {
                        ddl_detailByExpenseItemKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByExpenseItemKind">Chỉ cảnh báo hay bắt buộc nhập Khoản mục chi phí</label></td>
            <td><input type="number" id="detailByExpenseItemKind" name="detailByExpenseItemKind" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="detailByDepartment">Đơn vị</label></td>
            <td><input type="checkbox" id="detailByDepartment" name="detailByDepartment" onclick="change_detailByDepartment();"></td>
            <script>
                function change_detailByDepartment() {
                    var ddl_detailByDepartmentKind = $("#detailByDepartmentKind").data("kendoDropDownList");
                    if (document.getElementById('detailByDepartment').checked === false) {
                        ddl_detailByDepartmentKind.enable(false);
                    } else {
                        ddl_detailByDepartmentKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByDepartmentKind">Chỉ cảnh báo hay bắt buộc nhập Đơn vị</label></td>
            <td><input type="number" id="detailByDepartmentKind" name="detailByDepartmentKind" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="detailByListItem">Mã thống kê</label></td>
            <td><input type="checkbox" id="detailByListItem" name="detailByListItem" onclick="change_detailByListItem();"></td>
            <script>
                function change_detailByListItem() {
                    var ddl_detailByListItemKind = $("#detailByListItemKind").data("kendoDropDownList");
                    if (document.getElementById('detailByListItem').checked === false) {
                        ddl_detailByListItemKind.enable(false);
                    } else {
                        ddl_detailByListItemKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByListItemKind">Chỉ cảnh báo hay bắt buộc nhập Mã thống kê</label></td>
            <td><input type="number" id="detailByListItemKind" name="detailByListItemKind" style="width: 100%;"  value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="isPostableInForeignCurrency">Có hạch toán ngoại tệ hay không?</label></td>
            <td><input type="checkbox" id="isPostableInForeignCurrency" name="isPostableInForeignCurrency"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="number" id="activeStatus" name="activeStatus" value="1"></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm</button>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {
        var data = [
            {value: 0, text: 'Chỉ cảnh báo'},
            {value: 1, text: 'Bắt buộc nhập'}
        ];

        $("#detailByJobKind").kendoDropDownList({
            // optionLabel: "Chọn kiểu...",
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByProjectWorkKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByOrderKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByContractKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByPuContractKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByExpenseItemKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByDepartmentKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByListItemKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        var data_active_status = [
            {value: 0, text: 'Không theo dõi'},
            {value: 1, text: 'Có theo dõi'}
        ];

        $("#activeStatus").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data_active_status,
            index: 1
        });
    });
</script>

<th:block th:include="fragments/footer"></th:block>
