<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<h3>Cập nhật tài khoản</h3>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/accounts}">Danh mục Tài khoản</a>
<br/>
<br/>
<br/>
<form th:action="@{/update_account}" th:object="${account}" method="post">
    <table class="k-block" style="margin-left: 50px; width: 1366px;">
        <tr>
            <td style="width: 25%;"><b>Thông tin chung</b></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"><input hidden type="number" th:field="*{id}" style="display: none;"></td>
        </tr>

        <tr>
            <td><label required th:for="accountNumber">Số tài khoản</label></td>
            <td><input type="text" th:field="*{accountNumber}" class="k-textbox" style="width: 100%;" required validationMessage="Số tài khoản không được để trống"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="accountName">Tên tài khoản</label></td>
            <td colspan="3"><input type="text" th:field="*{accountName}" class="k-textbox" style="width: 100%;" required validationMessage="Tên tài khoản không được để trống"></td>
        </tr>

        <tr>
            <td><label th:for="accountNameEnglish">Tên Tiếng Anh</label></td>
            <td colspan="3"><input type="text" th:field="*{accountNameEnglish}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="parentId">Tài khoản tổng hợp</label></td>
            <!--FIXME: Sử dụng drop-down list chọn tài khoản, có thể là Multi-column drop-down list-->
            <td><input type="number" th:field="*{parentId}" class="k-textbox" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataAccounts = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/accounts_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#parentId").kendoMultiColumnComboBox({
                            dataTextField: "accountNumber",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 500,
                            columns: [
                                {field: "accountNumber", title: "Số tài khoản", width: 100},
                                { field: "accountName", title: "Tên tài khoản", width: 500 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # tài khoản',
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            dataSource: dataAccounts,
                            change: onChangeParentId
                        });
                    });
                    function onChangeParentId() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label required th:for="accountCategoryKind">Tính chất</label></td>
            <td><input type="number" th:field="*{accountCategoryKind}" class="k-textbox" style="width: 100%;" required validationMessage="Tính chất của tài khoản không được để trống" value="0"></td>
            <script>
                $(document).ready(function () {
                    var data_accountCategoryKind = [
                        {value: 0, text: 'Dư nợ'},
                        {value: 1, text: 'Dư có'},
                        {value: 2, text: 'Lưỡng tính'}
                    ];

                    $("#accountCategoryKind").kendoDropDownList({
                        dataValueField: "value",
                        dataTextField: "text",
                        dataSource: data_accountCategoryKind,
                        index: 0
                    });
                });
            </script>
        </tr>
        <tr>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
        </tr>
        <tr>
            <td><b>Theo dõi chi tiết theo</b></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="detailByAccountObject">Đối tượng</label></td>
            <td><input type="checkbox" th:field="*{detailByAccountObject}" onclick="change_detailByAccountObject();"></td>
            <script>
                function change_detailByAccountObject() {
                    var ddl_accountObjectType = $("#accountObjectType").data("kendoDropDownList");
                    if (document.getElementById('detailByAccountObject').checked === false) {
                        ddl_accountObjectType.enable(false);
                    } else {
                        ddl_accountObjectType.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="accountObjectType">Loại đối tượng</label></td>
            <td><input type="number" th:field="*{accountObjectType}" class="k-textbox" style="width: 100%;" value="0"></td>
            <script>
                $(document).ready(function () {
                    var data_accountObjectType = [
                        {value: 0, text: 'Nhà cung cấp'},
                        {value: 1, text: 'Khách hàng'},
                        {value: 2, text: 'Nhân viên'}
                    ];

                    $("#accountObjectType").kendoDropDownList({
                        dataValueField: "value",
                        dataTextField: "text",
                        dataSource: data_accountObjectType,
                        index: 0,
                        enable: false
                    });
                });
            </script>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label th:for="detailByBankAccount">Tài khoản ngân hàng</label></td>
            <td><input type="checkbox" th:field="*{detailByBankAccount}" name="detailByBankAccount"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label th:for="detailByJob">Đối tượng tập hợp chi phí</label></td>
            <td><input id="detailByJob" type="checkbox" th:field="*{detailByJob}" onclick="changeDetailByJob();"></td>
            <script>
                function changeDetailByJob() {
                    var dropdownlist_detailByJobKind = $("#detailByJobKind").data("kendoDropDownList");
                    if (document.getElementById('detailByJob').checked === false) {
                        dropdownlist_detailByJobKind.enable(false);
                    } else {
                        dropdownlist_detailByJobKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label for="detailByJobKind">Chỉ cảnh báo hay bắt buộc nhập Đối tượng tập hợp chi phí</label></td>
            <td><input type="number" id="detailByJobKind" name="detailByJobKind" class="k-textbox" style="width: 100%;" value="0">
            </td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label for="detailByProjectWork">Công trình, vụ việc</label></td>
            <td><input type="checkbox" id="detailByProjectWork" name="detailByProjectWork" onchange="change_detailByProjectWork();"></td>
            <script>
                function change_detailByProjectWork() {
                    var ddl_detailByProjectWork = $("#detailByProjectWorkKind").data("kendoDropDownList");
                    if (document.getElementById('detailByProjectWork').checked === false) {
                        ddl_detailByProjectWork.enable(false);
                    } else {
                        ddl_detailByProjectWork.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByProjectWorkKind">Chỉ cảnh báo hay bắt buộc nhập Công trình, vụ việc</label></td>
            <td><input type="number" th:field="*{detailByProjectWorkKind}" class="k-textbox" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>


        <tr>
            <td><label th:for="detailByOrder">Đơn đặt hàng</label></td>
            <td><input type="checkbox" th:field="*{detailByOrder}" onclick="change_detailByOrder();"></td>
            <script>
                function change_detailByOrder() {
                    var ddl_detailByOrderKind = $("#detailByOrderKind").data("kendoDropDownList");
                    if (document.getElementById('detailByOrder').checked === false) {
                        ddl_detailByOrderKind.enable(false);
                    } else {
                        ddl_detailByOrderKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByOrderKind">Chỉ cảnh báo hay bắt buộc nhập Đơn đặt hàng</label></td>
            <td><input type="number" th:field="*{detailByOrderKind}" class="k-textbox" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="detailByContract">Hợp đồng bán</label></td>
            <td><input type="checkbox" th:field="*{detailByContract}" onclick="change_detailByContract();"></td>
            <script>
                function change_detailByContract() {
                    var ddl_detailByContractKind = $("#detailByContractKind").data("kendoDropDownList");
                    if (document.getElementById('detailByContract').checked === false) {
                        ddl_detailByContractKind.enable(false);
                    } else {
                        ddl_detailByContractKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByContractKind">Chỉ cảnh báo hay bắt buộc nhập Hợp đồng bán</label></td>
            <td><input type="checkbox" th:field="*{detailByContractKind}" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="detailByPuContract">Hợp đồng mua</label></td>
            <td><input type="checkbox" th:field="*{detailByPuContract}" onclick="change_detailByPuContract();"></td>
            <script>
                function change_detailByPuContract() {
                    var ddl_detailByPuContractKind = $("#detailByPuContractKind").data("kendoDropDownList");
                    if (document.getElementById('detailByPuContract').checked === false) {
                        ddl_detailByPuContractKind.enable(false);
                    } else {
                        ddl_detailByPuContractKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByPuContractKind">Chỉ cảnh báo hay bắt buộc nhập Hợp đồng mua</label></td>
            <td><input type="number" th:fiedl="*{detailByPuContractKind}" class="k-textbox" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="detailByExpenseItem">Khoản mục chi phí</label></td>
            <td><input type="checkbox" th:field="*{detailByExpenseItem}" onclick="change_detailByExpenseItem();" name="detailByExpenseItem"></td>
            <script>
                function change_detailByExpenseItem() {
                    var ddl_detailByExpenseItemKind = $("#detailByExpenseItemKind").data("kendoDropDownList");
                    if (document.getElementById('detailByExpenseItem').checked === false) {
                        ddl_detailByExpenseItemKind.enable(false);
                    } else {
                        ddl_detailByExpenseItemKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByExpenseItemKind">Chỉ cảnh báo hay bắt buộc nhập Khoản mục chi phí</label></td>
            <td><input type="number" th:field="*{detailByExpenseItemKind}" class="k-textbox" style="width: 100%;" value="0"></td>
        </tr>

        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="detailByDepartment">Đơn vị</label></td>
            <td><input type="checkbox" th:field="*{detailByDepartment}" onclick="change_detailByDepartment();"></td>
            <script>
                function change_detailByDepartment() {
                    var ddl_detailByDepartmentKind = $("#detailByDepartmentKind").data("kendoDropDownList");
                    if (document.getElementById('detailByDepartment').checked === false) {
                        ddl_detailByDepartmentKind.enable(false);
                    } else {
                        ddl_detailByDepartmentKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByDepartmentKind">Chỉ cảnh báo hay bắt buộc nhập Đơn vị</label></td>
            <td><input type="number" th:field="*{detailByDepartmentKind}" class="k-textbox" style="width: 100%;" value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="detailByListItem">Mã thống kê</label></td>
            <td><input type="checkbox" th:field="*{detailByListItem}" onclick="change_detailByListItem();"></td>
            <script>
                function change_detailByListItem() {
                    var ddl_detailByListItemKind = $("#detailByListItemKind").data("kendoDropDownList");
                    if (document.getElementById('detailByListItem').checked === false) {
                        ddl_detailByListItemKind.enable(false);
                    } else {
                        ddl_detailByListItemKind.enable(true);
                    }
                }
            </script>
        </tr>
        <tr>
            <td><label th:for="detailByListItemKind">Chỉ cảnh báo hay bắt buộc nhập Mã thống kê</label></td>
            <td><input type="number" th:field="*{detailByListItemKind}" class="k-textbox" style="width: 100%;"  value="0"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>
        <tr>
            <td><label th:for="isPostableInForeignCurrency">Có hạch toán ngoại tệ hay không?</label></td>
            <td><input type="checkbox" th:field="*{isPostableInForeignCurrency}"></td>
        </tr>
        <tr>
            <td><label>&nbsp;</label></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="number" th:field="*{activeStatus}"></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-pencil" style="color: gold;"></span> Cập nhật</button>
                &nbsp;
                <a th:href="@{/accounts}" type="submit" class="k-button k-primary" style="color: gold;"><span class="k-icon k-i-cancel"></span> Thôi</a>
            </td>
        </tr>
    </table>
</form>

<script>
    $(document).ready(function () {
        var data = [
            {value: 0, text: 'Chỉ cảnh báo'},
            {value: 1, text: 'Bắt buộc nhập'}
        ];

        $("#detailByJobKind").kendoDropDownList({
            // optionLabel: "Chọn kiểu...",
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByProjectWorkKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByOrderKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByContractKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByPuContractKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByExpenseItemKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByDepartmentKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        $("#detailByListItemKind").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data,
            index: 0,
            enable: false
        });

        var data_active_status = [
            {value: 0, text: 'Không theo dõi'},
            {value: 1, text: 'Có theo dõi'}
        ];

        $("#activeStatus").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            dataSource: data_active_status,
            index: 1
        });
    });
</script>

<th:block th:include="fragments/footer"></th:block>
