<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Deprecated. -->

<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a href="/add_account" class="k-button k-primary">Thêm Tài khoản</a>
<br/>
<br/>
<table id="accounts_datagrid">
    <thead>
    <tr>
        <th data-field="SO_TAI_KHOAN" data-title="Số tài khoản" title="Số tài khoản">Số tài khoản</th>
        <th data-field="TEN_TAI_KHOAN" data-title="Tên tài khoản" title="Tên tài khoản">Tên tài khoản</th>
        <th data-field="TINH_CHAT" data-title="Tính chất" title="Tính chất">Tính chất</th>
        <th data-field="TEN_TIENG_ANH" data-title="Tên Tiếng Anh" title="Tên Tiếng Anh">Tên tiếng Anh</th>
        <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>
        <th data-field="TRANG_THAI_THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Trạng thái theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.accountNumber}"></td>
        <td th:text="${account.accountName}"></td>

        <th:block th:if="${account.accountCategoryKind} eq '0'"><td>Dư nợ</td></th:block>
        <th:block th:if="${account.accountCategoryKind} eq '1'"><td>Dư có</td></th:block>
        <th:block th:if="${account.accountCategoryKind} eq '2'"><td>Lưỡng tính</td></th:block>

        <td th:text="${account.accountNameEnglish}"></td>
        <td th:text="${account.description}"></td>
        <td th:text="${activeStatusList[account.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/account/view/{id}(id=${account.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/account/edit/{id}(id=${account.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${account.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${account.id}" th:action="@{/account/delete/{id}(id=${account.id})}"><button type="submit" hidden th:id="'btn_' + ${account.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#accounts_datagrid").kendoGrid({
            dataSource: {
                pageSizes: 30
            },
            sortable: true,
            columnMenu: true,
            filterable: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
