<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<h3>Xem chi tiết tài khoản</h3>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/accounts}">Danh mục Tài khoản</a>
<a class="k-button k-primary" role="button" th:href="@{/add_account}">Thêm Tài khoản</a>
<br/>
<br/>
<br/>
<table class="k-block" style="margin-left: 50px;">
    <tr>
        <td><b>Thông tin chung</b></td>
        <td></td>
    </tr>
    <tr>
        <td><label>Số tài khoản</label></td>
        <td><span th:text="${account.accountNumber}"></span></td>
    </tr>
    <tr>
        <td><label>Tên tài khoản</label></td>
        <td><span th:text="${account.accountName}"></span></td>
    </tr>
    <tr>
        <td><label>Tên Tiếng Anh</label></td>
        <td><span th:text="${account.accountNameEnglish}"></span></td>
    </tr>
    <tr>
        <td><label>Tài khoản tổng hợp</label></td>
        <td><span th:text="${account.parentId}"></span></td>
    </tr>

    <tr>
        <td><label>Tính chất</label></td>
        <td><span th:text="${accountCategoryKindList[account.accountCategoryKind]}"></span></td>
    </tr>
    <tr>
        <td><label>Diễn giải</label></td>
        <td><span th:text="${account.description}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><b>Theo dõi chi tiết theo</b></td>
        <td></td>
    </tr>
    <tr>
        <td><label>Đối tượng</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByAccountObject]}"></span></td>
    </tr>
    <tr>
        <td><label>Loại đối tượng (KH, NCC, NV)</label></td>
        <td><span th:text="${account.accountObjectType} ? ${accountObjectTypeList[account.accountObjectType]} : ''"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Tài khoản ngân hàng</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByBankAccount]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>


    <tr>
        <td><label>Đối tượng tập hợp chi phí</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByJob]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Đối tượng tập hợp chi phí</label></td>
        <td><span th:text="${account.detailByJobKind} ? ${alertOrRequireList[account.detailByJobKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Công trình, vụ việc</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByProjectWork]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Công trình, vụ việc</label></td>
        <td><span th:text="${account.detailByProjectWorkKind} ? ${alertOrRequireList[account.detailByProjectWorkKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Đơn đặt hàng</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByOrder]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Đơn đặt hàng</label></td>
        <td><span th:text="${account.detailByOrderKind} ? ${alertOrRequireList[account.detailByOrderKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Hợp đồng bán/mua</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByContract]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Hợp đồng mua/bán</label></td>
        <td><span th:text="${account.detailByContractKind} ? ${alertOrRequireList[account.detailByContractKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Khoản mục chi phí</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByExpenseItem]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Khoản mục chi phí</label></td>
        <td><span th:text="${account.detailByExpenseItemKind} ? ${alertOrRequireList[account.detailByExpenseItemKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Đơn vị</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByDepartment]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Đơn vị</label></td>
        <td><span th:text="${account.detailByDepartmentKind} ? ${alertOrRequireList[account.detailByDepartmentKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Mã thống kê</label></td>
        <td><span th:text="${trueOrFalseList[account.detailByBankAccount]}"></span></td>
    </tr>
    <tr>
        <td><label>Chỉ cảnh báo hay bắt buộc nhập Mã thống kê</label></td>
        <td><span th:text="${account.detailByListItemKind} ? ${alertOrRequireList[account.detailByListItemKind]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>

    <tr>
        <td><label>Có hạch toán ngoại tệ hay không?</label></td>
        <td><span th:text="${trueOrFalseList[account.isPostableInForeignCurrency]}"></span></td>
    </tr>
    <tr>
        <td><label>&nbsp;</label></td>
        <td></td>
    </tr>


    <tr>
        <td><label>Trạng thái theo dõi</label></td>
        <td><span th:text="${activeStatusList[account.activeStatus]}"></span></td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center; padding-top: 15px; padding-bottom: 15px;"><a role="button" th:href="@{/accounts}" type="submit" class="k-button k-primary"><span class="k-icon k-i-close" style="color: gold;"></span> Đóng</a></td>
    </tr>
</table>

<th:block th:include="fragments/footer"></th:block>
