<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_project_work}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm Công trình</a>
<br/>
<br/>
<h3>DANH SÁCH CÔNG TRÌNH, HẠNG MỤC</h3>
<br/>
<table id="project_works_datagrid">
    <thead>
    <tr>
        <th data-field="MA_CONG_TRINH" data-title="Mã công trình" title="Mã công trình">Mã công trình</th>
        <th data-field="TEN_CONG_TRINH" data-title="Tên công trình" title="Tên công trình">Tên công trình</th>
        <th data-field="LOAI_CONG_TRINH" data-title="Loại công trình" title="Loại công trình">Loại công trình</th>
        <th data-field="TINH_TRANG" data-title="Tình trạng" title="Tình trạng">Tình trạng</th>
        <th data-field="NGAY_BAT_DAU" data-title="Ngày bắt đầu" title="Ngày bắt đầu">Ngày bắt đầu</th>
        <th data-field="NGAY_KET_THUC" data-title="Ngày kết thúc" title="Ngày kết thúc">Ngày kết thúc</th>
        <th data-field="DU_TOAN" data-title="Dự toán" title="Dự toán">Dự toán</th>
        <th data-field="CHU_DAU_TU" data-title="Chủ đầu tư" title="Chủ đầu tư">Chủ đầu tư</th>
        <th data-field="DIA_CHI" data-title="Địa chỉ" title="Địa chỉ">Địa chỉ</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="projectWork : ${projectWorkList}">
        <td th:text="${projectWork.projectWorkCode}"></td>
        <td th:text="${projectWork.projectWorkName}"></td>
        <td th:text="${projectWork.projectWorkType}"></td>
        <td th:text="${projectWork.projectWorkStatus}"></td>
        <td th:text="${projectWork.startDate}"></td>
        <td th:text="${projectWork.finishDate}"></td>
        <td th:text="${projectWork.estimateAmount}"></td>
        <td th:text="${projectWork.stakeholder}"></td>
        <td th:text="${projectWork.stakeholderAddress}"></td>
        <td th:text="${activeStatusList[projectWork.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/project_work/view/{id}(id=${projectWork.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/project_work/edit/{id}(id=${projectWork.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${projectWork.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${projectWork.id}" th:action="@{/project_work/delete/{id}(id=${projectWork.id})}"><button type="submit" hidden th:id="'btn_' + ${projectWork.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#project_works_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
