<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/inventory_item_categories}" class="k-button k-primary" title="Danh sách Nhóm vật tư, hàng hóa, dịch vụ"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Nhóm KH, NCC</a>
<br/>
<br/>
<h3>XEM CHI TIẾT NHÓM VẬT TƯ, HÀNG HÓA, DỊCH VỤ</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_inventory_item_category'}" th:object="${inventoryItemCategoryForm}">
    <table style="width: 1366px;">

        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>
        <tr>
            <td><label th:for="inventoryCategoryCode">Mã<span class="b-require">*</span></label></td>
            <td>
                <input type="text" th:field="*{inventoryCategoryCode}" class="k-textbox" style="width: 100%;" readonly>
            </td>
            <td><label th:for="inventoryCategoryName" class="required">Tên<span class="b-require">*</span></label></td>
            <td>
                <input type="text" th:field="*{inventoryCategoryName}" class="k-textbox" style="width: 100%;" readonly>
            </td>
        </tr>

        <tr>
            <td><label th:for="parentId">Thuộc</label></td>
            <td><input type="number" th:field="*{parentId}" style="width: 100%;" readonly>
                <script>
                    $(document).ready(function () {
                        var data = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/active_inventory_item_categories_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#parentId").kendoMultiColumnComboBox({
                            dataTextField: "inventoryCategoryCode",
                            dataValueField: "id",
                            height: 500,
                            columns: [
                                {field: "inventoryCategoryCode", title: "Mã Nhóm VT, HH, DV", width: 200},
                                { field: "inventoryCategoryName", title: "Tên Nhóm VT, HH, DV", width: 400 }
                                // ,{ field: "address", title: "Địa chỉ", width: 400 },
                                //{ field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                                //{ field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Mã nhóm VT, HH, DV',
                            filter: "contains",
                            filterFields: ["inventoryCategoryCode", "inventoryCategoryName"],
                            dataSource: data,
                            change: onChangeParentId
                        });
                    });
                    function onChangeParentId(e) { }
                </script>
            </td>
            <td></td>
            <td><input type="checkbox" th:checked="*{activeStatus}" class="k-checkbox" onclick="return false;"><label th:for="activeStatus" class="k-checkbox-label">Trạng thái theo dõi</label></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <a th:href="@{/inventory_item_categories}" type="submit" class="k-button k-primary"><span class="k-icon k-i-close" style="color: gold;"></span>&nbsp;Đóng</a>
            </td>
        </tr>
    </table>
</form>
<br/>
<br/>
Lưu ý: <span class="b-require">*</span> là các trường bắt buộc phải nhập

<th:block th:include="fragments/footer"></th:block>
