<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>




<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h3>Bàn làm việc</h3>
<ul>
    <li>
        <a th:href="@{/menu/cash}">Quỹ</a>
    </li>
    <li>
        <a href="menu/bank">Ngân hàng</a>
    </li>
    <li>
        <a href="menu/sale">Mua hàng</a>
    </li>
    <li>
        <a href="menu/sale">Bán hàng</a>
    </li>
    <li>
        <a href="menu/invoice">Quản lý hoá đơn</a>
    </li>
    <li>
        <a href="menu/inventory">Kho</a>
    </li>
    <li>
        <a href="menu/tools">Công cụ dụng cụ</a>
    </li>
    <li>
        <a href="menu/fixed_asset">Tài sản cố định</a>
    </li>
    <li>
        <a href="menu/salary">Tiền lương</a>
    </li>
    <li>
        <a href="menu/tax">Thuế</a>
    </li>
    <li>
        <a href="menu/cost_of_goods_sold">Giá thành</a>
    </li>
    <li>
        <a href="menu/budget">Ngân sách</a>
    </li>
    <li>
        <a href="menu/synthetic">Tổng hợp</a>
    </li>
    <li>
        <a href="menu/synthetic">Báo cáo tài chính</a>
    </li>
</ul>


<th:block th:include="fragments/footer"></th:block>
