<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/project_works}" class="k-button k-primary" title="Danh sách Đối tượng tập hợp chi phí"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Đối tượng tập hợp chi phí</a>
<br/>
<br/>
<h3>THÊM ĐỐI TƯỢNG TẬP HỢP CHI PHÍ</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_job'}" modelAttribute="jobForm" th:object="${jobForm}">
    <ul class="fieldlist">
        <li>
            <label th:for="jobType">Loại<span class="b-require">*</span></label>
            <input type="number" th:field="*{jobType}" style="width: 100%;" required validationMessage="Tên viết tắt không được để trống">
            <script>
                $(document).ready(function () {
                    var data = [
                        {text: "Phân xưởng", value: 0},
                        {text: "Sản phẩm", value: 1},
                        {text: "Quy trình sản xuất", value: 2},
                        {text: "Công đoạn", value: 3}
                    ];
                    // create DropDownList from input HTML element
                    $("#jobType").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: data,
                        index: 0,
                        change: onChangeJobType
                    });
                });

                function onChangeJobType() {
                    if ($("#jobType").val() == 0) {
                        $("#guide").text("Loại Phân xưởng áp dụng với Doanh nghiệp tính giá thành theo phương pháp Hệ số/tỷ lệ.");
                        $(".san_pham").hide();
                        $(".quy_trinh").hide();
                        $(".cong_doan").hide();
                        $(".phan_xuong").show();
                    }

                    if ($("#jobType").val() == 1) {
                        $("#guide").text("Loại Sản phẩm áp dụng với Doanh nghiệp tính giá thành theo Phương pháp giản đơn.");
                        $(".phan_xuong").hide();
                        $(".quy_trinh").hide();
                        $(".cong_doan").hide();
                        $(".san_pham").show();
                    }

                    if ($("#jobType").val() == 2) {
                        $("#guide").text("Loại quy trình sản xuất áp dụng với Doanh nghiệp tính giá thành theo Phương pháp phân bước. Bạn cần khai báo các công đoạn thuộc quy trình sản xuất này.");
                        $(".phan_xuong").hide();
                        $(".san_pham").hide();
                        $(".cong_doan").hide();
                        $(".quy_trinh").show();
                    }
                    if ($("#jobType").val() == 3) {
                        $("#guide").text("Loại công đoạn áp dụng với Doanh nghiệp tính giá thành theo Phương pháp phân bước.");
                        $(".phan_xuong").hide();
                        $(".san_pham").hide();
                        $(".quy_trinh").hide();
                        $(".cong_doan").show();
                    }
                }
            </script>
        </li>

        <li>
            <span id="guide"></span>
        </li>

        <li class="san_pham">
            <label>Chọn thành phẩm</label>
            <input type="number" th:field="*{inventoryItemId}" class="k-textbox">
        </li>

        <li class="phan_xuong san_pham quy_trinh cong_doan">
            <label th:for="jobCode">Mã<span class="b-require">*</span></label>
            <input type="text" th:field="*{jobCode}" class="k-textbox" style="width: 100%;">
        </li>

        <li class="phan_xuong san_pham quy_trinh cong_doan">
            <label th:for="jobName">Tên<span class="b-require">*</span></label>
            <input type="text" th:field="*{jobName}" class="k-textbox" style="width: 100%;">
        </li>

        <li class="phan_xuong san_pham quy_trinh cong_doan">
            <label th:for="description">Diễn giải</label>
            <input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;">
        </li>

        <li class="cong_doan">
            <label th:for="stage">Công đoạn thứ</label>
            <input type="number" th:field="*{stage}" class="k-textbox" style="width: 100%;">
        </li>

        <li class="cong_doan">
            <input type="number" id="subtype" class="k-textbox" style="width: 100%;">
            <script>
                $(document).ready(function () {
                    var dataSubtype = [
                        {text: "Tập hợp chi phí đến công đoạn", value: 0},
                        {text: "Tập hợp chi phí đến từng sản phẩm trong công đoạn", value: 1}
                    ];
                    // create DropDownList from input HTML element
                    $("#subtype").kendoDropDownList({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: dataSubtype,
                        index: 0,
                        change: onChangeSubtype
                    });
                });
                function onChangeSubtype() { }
            </script>
        </li>

        <li class="phan_xuong">
            <h3>Đối tượng tính giá thành</h3>
        </li>
    </ul>

    <table style="width: 1366px;" class="phan_xuong">
        <thead>
        <th>STT</th>
        <th>Mã thành phẩm</th>
        <th>Ghi chú</th>
        </thead>
        <tbody>
        <tr th:each="item, itemStat : ${jobForm.inventoryItemList}">
            <td><span th:text="${itemStat.index + 1}"></span></td>
            <td><input type="text" th:name="|inventoryItemList[${itemStat.index}].inventoryItemCode|" th:id="|inventoryItemList[${itemStat.index}].inventoryItemCode|" class="k-textbox" style="width: 100%;"></td>
            <td><input type="text" th:name="|inventoryItemList[${itemStat.index}].inventoryItemName|" th:id="|inventoryItemList[${itemStat.index}].inventoryItemName|" class="k-textbox" style="width: 100%;"></td>
        </tr>
        </tbody>
    </table>

    <table class="cong_doan">
        <thead>
        <th title="Đối tượng tập hợp chi phí">Đối tượng THCP</th>
        <th title="Tên đối tượng Tập hợp chi phí">Tên đối tượng THCP</th>
        <th>Mã thành phẩm</th>
        <th>Tên thành phẩm</th>
        </thead>
        <tbody>
        <tr>
            <td></span></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <ul class="fieldlist">
        <li>
            <button type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm</button>
        </li>
    </ul>
</form>

<style>
    .fieldlist {
        width: 683px;
        margin: 0 0 -2em;
        padding: 0;
    }

    .fieldlist li {
        list-style: none;
        padding-bottom: 2em;
    }

    .fieldlist label {
        display: block;
        padding-bottom: 1em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
    }
</style>


<script>
    $(document).ready(function () {
        var validator = $("#projectWork").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
