<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<h3>SỬA TÀI KHOẢN MẶC ĐỊNH</h3>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/account_default}">Danh mục Tài khoản ngầm định</a>
<br/>
<br/>
<br/>
<form th:action="@{/update_account_default}" th:object="${accountDefaultForm}" method="post">
    <table style="margin-left: 50px; width: 1366px;">

        <tr>
            <td style="width: 25%;"><label th:for="refTypeName">Loại chứng từ</label></td>
            <td style="width: 25%;"><input type="text" th:field="*{refTypeName}" readonly class="k-textbox" style="width: 100%;"></td>
            <td style="width: 25%;"><label th:for="columnCaption">Tên cột</label></td>
            <td style="width: 25%;"><input type="text" th:field="*{columnCaption}" class="k-textbox" readonly style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="filterCondition">Lọc tài khoản</label></td>
            <td>
                <select th:field="*{filterCondition}" multiple="multiple" style="width: 100%;" class="k-textbox">
                    <option th:each="item:*{accountList}" th:value="${item.accountNumber}" th:text="${item.accountNumber}"/>
                </select>
                <script>
                    $(document).ready(function() {
                        $("#filterCondition").kendoMultiSelect().data("kendoMultiSelect");
                    });
                </script>
            </td>
            <td><label th:for="defaultValue">Tài khoản mặc định</label></td>
            <td><input type="text" th:field="*{defaultValue}" width="100%;" class="k-textbox" style="width: 100%;"/></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 10px;">
                <button class="k-button k-primary" type="submit"><span class="k-icon k-i-pencil" style="color: gold;"></span> &nbsp; Cập nhật</button>
            </td>
        </tr>

    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
