<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/Tai_khoan_ngam_dinh.xlsx}" class="k-button k-primary"><span class="k-icon k-i-excel" style="color: gold;"></span> &nbsp; Xuất ra Excel</a>
<br/>
<br/>
<h3>DANH SÁCH TÀI KHOẢN MẶC ĐỊNH</h3>
<br/>
<br/>
<table id="account_default_table">
    <thead>
    <tr>
        <th data-field="TEN_LOAI_CHUNG_TU" data-title="Tên loại chứng từ" title="Tên loại chứng từ">Tên loại chứng từ</th>
        <th data-field="TEN_COT" data-title="Tên cột" title="Tên cột">Tên cột</th>
        <th data-field="LOC_TAI_KHOAN" data-title="Lọc tài khoản" title="Lọc tài khoản">Lọc tài khoản</th>
        <th data-field="TAI_KHOAN_MAC_DINH" data-title="Tài khoản mặc định" title="Tài khoản mặc định">Tài khoản Mặc định</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountDefault : ${accountDefaults}">
        <td th:text="${accountDefault.refTypeName}"></td>
        <td th:text="${accountDefault.columnCaption}"></td>
        <td th:text="${accountDefault.filterCondition}"></td>
        <td th:text="${accountDefault.defaultValue}"></td>
        <td>
            <a class="k-button" th:href="@{/account_default/view/{id}(id=${accountDefault.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/account_default/edit/{id}(id=${accountDefault.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <!--<a th:id="'del_' + ${accountDefault.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>-->
            <!--<form method="post" hidden th:id="'form_' + ${accountDefault.id}" th:action="@{/account_default/delete/{id}(id=${accountDefault.id})}"><button type="submit" hidden th:id="'btn_' + ${accountDefault.id}">Submit</button></form>-->
        </td>
    </tr>
    </tbody>
</table>

<!--<div id="confirmation"></div>-->
<!--<script type="text/x-kendo-template" id="confirmTemplate">-->
<!--    &lt;!&ndash; Bạn có thật sự muốn xóa không? </p> &ndash;&gt;-->
<!--    <div style="text-align: center;">-->
<!--        <button class="k-button" id="yesButton" style="color: red;">Có</button>-->
<!--        <button class="k-button" id="noButton" style="color: green;">Không</button>-->
<!--    </div>-->
<!--</script>-->

<script>
    $(document).ready(function () {
        $("#account_default_table").kendoGrid({
            sortable: true,
            columnMenu: true,
            filterable: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            pageable: {
                pageSizes: true
            },
            // pageable: true,
            dataSource: {
                pageSize: 30
            }
        });

        // $("#confirmation").kendoWindow({
        //     title: "Bạn có thật sự muốn xóa không?",
        //     visible: false,
        //     width: "300px",
        //     height: "120px"
        // });
    });

    // function deleteItem(event){
    //     var confirmPopup = $("#confirmation").getKendoWindow();
    //     var confirmTemplate = kendo.template($("#confirmTemplate").html());
    //     confirmPopup.content(confirmTemplate);
    //     confirmPopup.center().open();
    //     $("#yesButton").click(function(){
    //         document.getElementById("form_" + event.id.substring(4)).submit();
    //         confirmPopup.close();
    //     });
    //
    //     $("#noButton").click(function(){
    //         confirmPopup.close();
    //     });
    // }
</script>

<th:block th:include="fragments/footer"></th:block>
