<div xmlns:th="http://www.thymeleaf.org" style="border:1px solid #ccc;padding:5px;">
    <a th:href="@{/upload_one_file}">Upload one file</a>
    &nbsp;|&nbsp;
    <a th:href="@{/upload_many_files}">Upload many files</a>
</div>
