<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Kết quả upload</title>
</head>

<body>
<th:block th:include="upload/menu"/>

Mô tả: <span th:utext="${description}"></span><br/>

<h3>Uploaded Files:</h3>
<ul th:each="file : ${uploadedFiles}">
    <li th:utext="${file}"></li>
</ul>

<h3>Thất bại: </h3>      
<ul th:each="file : ${failedFiles}">
    <li style="color:red;" th:utext="${file}"></li>
</ul>

</body>
</html>
