<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/banks}" class="k-button k-primary" title="Danh sách Ngân hàng">Danh sách Ngân hàng</a>
<br/>
<br/>
<h3>SỬA THÔNG TIN NGÂN HÀNG</h3>
<br/>
<form method="post" th:action="@{'/submit_update_bank'}" modelAttribute="bank" th:object="${bank}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">
                <input th:field="*{id}" hidden>
            </td>
        </tr>

        <tr>
            <td><label th:for="bankCode">Tên viết tắt</label></td>
            <td><input type="text" th:field="*{bankCode}" class="k-textbox" style="width: 100%;" required validationMessage="Tên viết tắt không được để trống"></td>
            <td><label th:for="bankName">Tên đầy đủ</label></td>
            <td><input type="text" th:field="*{bankName}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="bankCode">Tên tiếng Anh</label></td>
            <td><input type="text" th:field="*{bankNameEnglish}" class="k-textbox" style="width: 100%;" ></td>
            <td><label th:for="bankName">Địa chỉ Hội sở chính</label></td>
            <td><input type="text" th:field="*{address}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="bankCode">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="icon">Logo</label></td>
            <td><input type="text" th:field="*{icon}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label>Trạng thái theo dõi</label></td>
            <td><input type="number" th:field="*{activeStatus}" class="text-box" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data_active_status = [
                            {value: 0, text: 'Không theo dõi'},
                            {value: 1, text: 'Có theo dõi'}
                        ];

                        $("#activeStatus").kendoDropDownList({
                            dataValueField: "value",
                            dataTextField: "text",
                            dataSource: data_active_status
                            //,index: 1
                        });
                    });
                </script>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-pencil" style="color: gold;"></span> Cập nhật</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#projectWork").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
