<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/banks}" class="k-button k-primary" title="Danh sách Ngân hàng"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Ngân hàng</a>
<br/>
<br/>
<h3>XEM CHI TIẾT NGÂN HÀNG</h3>
<br/>
<form method="post" action="#" modelAttribute="bank" th:object="${bank}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="bankCode">Tên viết tắt</label></td>
            <td><input type="text" th:field="*{bankCode}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="bankName">Tên đầy đủ</label></td>
            <td><input type="text" th:field="*{bankName}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="bankCode">Tên tiếng Anh</label></td>
            <td><input type="text" th:field="*{bankNameEnglish}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="bankName">Địa chỉ Hội sở chính</label></td>
            <td><input type="text" th:field="*{address}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="bankCode">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="icon">Logo</label></td>
            <td><input type="text" th:field="*{icon}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="text" id="activeStatus" th:value="${activeStatusList[bank.activeStatus]}" class="k-textbox" style="width: 100%;" readonly></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <a href="/banks" class="k-button k-primary" style="text-decoration: none;"><span class="k-icon k-i-close" style="color: gold;"></span> Đóng</a>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#projectWork").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
