<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/project_work_categories}" class="k-button k-primary" title="Danh sách Loại công trình"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Loại công trình</a>
<br/>
<br/>
<h3>XEM CHI TIẾT LOẠI CÔNG TRÌNH</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_project_work_category'}" th:object="${projectWorkCategory}" id="add_project_work_category">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectGroupCode">Mã loại công trình</label></td>
            <td>
                <input type="text" th:field="*{projectWorkCategoryCode}" class="k-textbox" style="width: 100%;" required validationMessage="Mã Nhóm công trình không được để trống">
                <span th:if="${#fields.hasErrors('projectWorkCategoryCode')}" th:errors="*{projectWorkCategoryCode}" class="k-error-colored"></span>
            </td>
            <td><label th:for="projectWorkCategoryName">Tên Loại công trình</label></td>
            <td>
                <input type="text" th:field="*{projectWorkCategoryName}" class="k-textbox" style="width: 100%;" required validationMessage="Tên Nhóm công trình không được để trống">
                <span th:if="${#fields.hasErrors('projectWorkCategoryName')}" th:errors="*{projectWorkCategoryName}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" th:fi class="k-textbox" style="width: 100%;"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary">Thêm</button>
            </td>
        </tr>

    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#add_project_work_category").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
