<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_contract}" class="k-button k-primary" title="Danh sách Hợp đồng bán hàng"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Hợp đồng bán hàng</a>
<br/>
<br/>
<h3>THÊM HỢP ĐỒNG BÁN HÀNG</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_contract'}" modelAttribute="bank" th:object="${contractForm}">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="contractCode">Số hợp đồng<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{contractCode}" class="k-textbox" style="width: 100%;" required validationMessage="Số hợp đồng không được để trống">
                <span th:if="${#fields.hasErrors('contractCode')}" th:errors="*{contractCode}" class="k-error-colored"></span>
            </td>
            <td><label th:for="accountObjectId">Khách hàng</label></td>
            <td><input type="number" th:field="*{accountObjectId}" style="width: 87%;">&nbsp;<a class="k-button k-primary" th:href="@{/add_org_customer}" title="Thêm khách hàng" style="height: 2em;"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    var dataAccountObject;
                    $(document).ready(function () {
                        var data = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/all_active_customers_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#accountObjectId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "accountObjectCode", title: "Mã khách hàng", width: 200},
                                { field: "accountObjectName", title: "Tên khách hàng", width: 400 },
                                { field: "address", title: "Địa chỉ", width: 400 },
                                { field: "companyTaxCode", title: "Mã số thuế", width: 150 },
                                { field: "tel", template: "#= (tel == null) ? '' : tel #", title: "Điện thoại", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khách hàng',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "address", "companyTaxCode", "tel"],
                            dataSource: data,
                            change: onChangeAccountObjectId
                        });
                        dataAccountObject = data;
                    });
                    function onChangeAccountObjectId(e) {
                        $("#accountObjectName").val(e.sender.text());
                        var idObj = parseInt(e.sender.value(), 10);
                        result = (dataAccountObject["_pristineData"]).filter(obj => {
                            return obj.id === idObj;
                    });
                        $("#accountObjectAddress").val(result[0].address);
                        $("#accountObjectCode").val(result[0].accountObjectCode);
                    }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="signDate">Ngày ký<span class="b-require">*</span></label></td>
            <td><input type="date" th:field="*{signDate}" style="width: 100%;" required validationMessage="Ngày ký không được để trống">
                <script>
                    $("#signDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
                <span th:if="${#fields.hasErrors('signDate')}" th:errors="*{signDate}" class="k-error-colored"></span>
            </td>
            <td><label th:for="accountObjectName">Tên khách hàng</label></td>
            <td><input type="text" th:field="*{accountObjectName}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountObjectName')}" th:errors="*{accountObjectName}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="projectId">Thuộc dự án</label></td>
            <td><input type="number" th:field="*{projectId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataProjectId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/all_active_contracts_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#projectId").kendoMultiColumnComboBox({
                            dataTextField: "contractCode",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "contractCode", title: "Mã dự án", width: 150},
                                { field: "signDate", title: "Ngày ký", width: 80 },
                                { field: "contractSubject", template: "#= (contractSubject == null) ? '' : contractSubject #", title: "Trích yếu", width: 300 },
                                { field: "accountObjectName", title: "Khách hàng", width: 300 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Dự án',
                            filter: "contains",
                            filterFields: ["contractCode", "signDate", "contractSubject", "accountObjectName"],
                            dataSource: dataProjectId,
                            change: onChangeProjectId
                        });
                    });
                    function onChangeProjectId() { }
                </script>
            </td>
            <td><label th:for="accountObjectAddress">Địa chỉ</label></td>
            <td><input type="text" th:field="*{accountObjectAddress}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountObjectAddress')}" th:errors="*{accountObjectAddress}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="contractSubject">Trích yếu</label></td>
            <td><input type="text" th:field="*{contractSubject}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('contractSubject')}" th:errors="*{contractSubject}" class="k-error-colored"></span>
            </td>
            <td><label th:for="accountObjectContactName">Người liên hệ</label></td>
            <td><input type="text" th:field="*{accountObjectContactName}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('contractSubject')}" th:errors="*{contractSubject}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="organizationUnitId">Đơn vị thực hiện</label></td>
            <td><input type="number" th:field="*{organizationUnitId}" style="width: 100%;"></td>
            <td><label th:for="currencyId">Loại tiền</label></td>
            <td><input type="number" th:field="*{currencyId}" style="width: 100%;">
                <script>
                    var dataCCY;
                    $(document).ready(function () {
                        var dataCurrencyId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/ccy_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#currencyId").kendoMultiColumnComboBox({
                            dataTextField: "currencyCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 500,
                            columns: [
                                {field: "currencyCode", title: "Mã loại tiền", width: 120},
                                { field: "currencyName", title: "Tên loại tiền", width: 300 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # đơn vị tiền tệ',
                            filter: "contains",
                            filterFields: ["currencyCode", "currencyName"],
                            dataSource: dataCurrencyId,
                            change: onChangeCurrencyId
                        });
                        dataCCY = dataCurrencyId;
                    });
                    function onChangeCurrencyId(e) {
                        var idCCY = parseInt(e.sender.value(), 10);
                        resultCCY = (dataCCY["_pristineData"]).filter(obj => {
                            return obj.id === idCCY;
                        });
                        $("#exchangeRate").val(resultCCY[0].exchangeRate);
                        updateAmount();
                    }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="exchangeRate">Tỷ giá</label></td>
            <td><input type="number" th:field="*{exchangeRate}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('exchangeRate')}" th:errors="*{exchangeRate}" class="k-error-colored"></span>
            </td>
            <td><label th:for="employeeId">Người thực hiện</label></td>
            <td><input type="number" th:field="*{employeeId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataEmployee = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/employee_multi_columns_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#employeeId").kendoMultiColumnComboBox({
                            dataTextField: "accountObjectName",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 600,
                            columns: [
                                {field: "accountObjectCode", title: "Mã nhân viên", width: 200},
                                { field: "accountObjectName", title: "Tên nhân viên", width: 300 },
                                { field: "organizationUnitName", title: "Đơn vị", width: 300 },
                                { field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 120 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Nhân viên',
                            filter: "contains",
                            filterFields: ["accountObjectCode", "accountObjectName", "organizationUnitName", "mobile"],
                            dataSource: dataEmployee,
                            change: onChangeEmployee
                        });
                    });
                    function onChangeEmployee() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="contractAmountOc">Giá trị hợp đồng</label></td>
            <td><input type="number" th:field="*{contractAmountOc}" onchange="updateAmount();"  class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('contractAmountOc')}" th:errors="*{contractAmountOc}" class="k-error-colored"></span>
            </td>
            <td><label th:for="contractStatusId">Tình trạng hợp đồng<span class="b-require">*</span></label></td>
            <td><input type="number" th:field="*{contractStatusId}" style="width: 100%;">
                <script>
                    $(document).ready(function() {
                        var dataContractStatusId = [
                            {text: "Chưa thực hiện", value: "0"},
                            {text: "Đang thực hiện", value: "1"},
                            {text: "Đã thanh lý", value: "2"},
                            {text: "Đã hủy bỏ", value: "3"}
                        ];
                        $("#contractStatusId").kendoDropDownList({
                            //optionLabel: "Chọn..",
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataContractStatusId,
                            index: 0,
                            change: onChangeContractStatusId
                        });
                    });
                    function onChangeContractStatusId() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="contractAmount">Giá trị hợp đồng quy đổi</label></td>
            <td><input type="number" th:field="*{contractAmount}" class="k-textbox" style="width: 100%;" readonly>
                <span th:if="${#fields.hasErrors('contractAmount')}" th:errors="*{contractAmount}" class="k-error-colored"></span>
            </td>
            <td><label th:for="closeDate">Ngày thanh lý/hủy bỏ</label></td>
            <td><input type="date" th:field="*{closeDate}" style="width: 100%;">
                <script>
                    $("#closeDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="closeAmountOc">Giá trị thanh lý</label></td>
            <td><input type="number" th:field="*{closeAmountOc}" class="k-textbox" onchange="updateAmount();" style="width: 100%;">
                <span th:if="${#fields.hasErrors('closeAmountOc')}" th:errors="*{closeAmountOc}" class="k-error-colored"></span>
            </td>
            <td><label th:for="closeReason">Lý do thanh lý/hủy bỏ</label></td>
            <td><input type="text" th:field="*{closeReason}" class="k-textbox" style="width: 100%;">
                <script>
                    // Khi thay đổi loại tiền tệ, thì cập nhật giá trị trường closeAmount .
                    function updateAmount() {
                        var exchangeRate = $("#exchangeRate").val();
                        var contractAmountOc = $("#contractAmountOc").val();
                        var closeAmountOc = $("#closeAmountOc").val();
                        $("#closeAmount").val(exchangeRate * closeAmountOc);
                        $("#contractAmount").val(exchangeRate * contractAmountOc);
                    }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="closeAmount">Giá trị thanh lý quy đổi</label></td>
            <td><input type="number" th:field="*{closeAmount}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="otherTerms">Điều khoản khác</label></td>
            <td><input type="text" th:field="*{otherTerms}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('otherTerms')}" th:errors="*{otherTerms}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="paymentDate">Hạn thanh toán</label></td>
            <td><input type="date" th:field="*{paymentDate}" style="width: 100%;">
                <script>
                    $("#paymentDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="deliveryDate">Hạn giao hàng</label></td>
            <td><input type="date" th:field="*{deliveryDate}" style="width: 100%;">
                <script>
                    $("#deliveryDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="checkbox" th:checked="${contractForm.isCalculatedCost}" id="isCalculatedCost" name="isCalculatedCost" class="k-checkbox">
                <label for="isCalculatedCost" class="k-checkbox-label">Tính giá thành</label></td>
            <td colspan="2"><input type="checkbox" th:checked="${contractForm.isInvoiced}" id="isInvoiced" name="isInvoiced" class="k-checkbox">
                <label for="isInvoiced" class="k-checkbox-label">Đã xuất hóa đơn</label></td>
        </tr>

        <tr>
            <td colspan="4">
                <input type="checkbox" th:checked="${contractForm.isArisedBeforeUseSoftware}" id="isArisedBeforeUseSoftware" name="isArisedBeforeUseSoftware" class="k-checkbox">
                <label for="isArisedBeforeUseSoftware" class="k-checkbox-label">Là hợp đồng/dự án phát sinh trước khi sử dụng phần mềm</label>
            </td>
        </tr>
    </table>

    <h3>Dự kiến chi</h3>

    <table style="width: 1366px;">
        <tr>
            <thead>
                <th>STT</th>
                <th>Diễn giải</th>
                <th>Tỷ lệ %</th>
                <th>Số tiền</th>
                <th>Ngày dự kiến chi</th>
                <th>Khoản mục chi phí</th>
                <th>Đơn vị</th>
            </thead>
            <tbody>
                <tr th:each="item, itemStat : ${contractForm.contractDetailExpenseList}">
                    <td><span th:text="${itemStat.index + 1}"></span></td>
                    <td><input type="text" th:name="|contractDetailExpenseList[${itemStat.index}].description|" th:id="|contractDetailExpenseList[${itemStat.index}].description|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailExpenseList[${itemStat.index}].rate|" th:id="|contractDetailExpenseList[${itemStat.index}].rate|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailExpenseList[${itemStat.index}].amount|" th:id="|contractDetailExpenseList[${itemStat.index}].amount|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="date" th:name="|contractDetailExpenseList[${itemStat.index}].expenseDate|" th:id="|contractDetailExpenseList[${itemStat.index}].expenseDate|" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailExpenseList[${itemStat.index}].expenseItemId|" th:id="|contractDetailExpenseList[${itemStat.index}].expenseItemId|" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailExpenseList[${itemStat.index}].organizationUnitId|" th:id="|contractDetailExpenseList[${itemStat.index}].organizationUnitId|" style="width: 100%;"></td>
                </tr>
            <script>
                $(document).ready(function () {
                    var dataExpenseItems = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/expense_items_json",
                                dataType: "json"
                            }
                        },
                        pageSize: 30
                    });

                    $("input[name$='expenseItemId']").each(function () {
                        $(this).kendoMultiColumnComboBox({
                            optionLabel: "Chọn...",
                            dataTextField: "expenseItemCode",
                            dataValueField: "id",
                            filterable: true,
                            height: 500,
                            columns: [
                                {field: "expenseItemCode", title: "Mã Khoản mục chi phí", width: 200},
                                {field: "expenseItemName", title: "Tên Khoản mục chi phí", width: 400}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Khoản mục chi phí',
                            filter: "contains",
                            filterFields: ["expenseItemCode", "expenseItemName"],
                            dataSource: dataExpenseItems,
                            change: onChangeExpenseItemId()
                        });
                    });

                    var dataOrganizationUnit = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/organization_units_json",
                                dataType: "json"
                            }
                        },
                        pageSize: 30
                    });

                    $("input[name$='organizationUnitId']").each(function () {
                        $(this).kendoMultiColumnComboBox({
                            dataTextField: "organizationUnitName",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 400,
                            columns: [
                                {field: "organizationUnitCode", title: "Mã đơn vị", width: 200},
                                {field: "organizationUnitName", title: "Tên đơn vị", width: 400}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đơn vị/phòng ban',
                            filter: "contains",
                            filterFields: ["organizationUnitCode", "organizationUnitName"],
                            dataSource: dataOrganizationUnit,
                            change: onChangeOrganizationUnitId
                        });
                    });
                });
                function onChangeExpenseItemId() {}
                function onChangeOrganizationUnitId() {}
            </script>
            </tbody>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h3>Hàng hóa dịch vụ</h3>

    <table style="width: 1366px;">
        <tr>
            <thead>
            <th>STT</th>
            <th>Mã hàng</th>
            <th>Mô tả</th>
            <th>Đơn vị tính</th>
            <th>Số lượng yêu cầu</th>
            <th>Số lượng đã giao</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th>Tỷ lệ CK</th>
            <th>Tiền chiết khấu</th>
            <th>% thuế GTGT</th>
            <th>Tiền thuế GTGT</th>
            <th>Đơn đặt hàng</th>
            </thead>
            <tbody>
                <tr th:each="item, itemStat : ${contractForm.contractDetailInventoryItemList}">
                    <td><span th:text="${itemStat.index + 1}"></span></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].inventoryItemId|" th:id="|contractDetailInventoryItemList[${itemStat.index}].inventoryItemId|" style="width: 100%;"></td>
                    <td><input type="text" th:name="|contractDetailInventoryItemList[${itemStat.index}].description|" th:id="|contractDetailInventoryItemList[${itemStat.index}].description|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].unitId|" th:id="|contractDetailInventoryItemList[${itemStat.index}].unitId|" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].quantity|" th:id="|contractDetailInventoryItemList[${itemStat.index}].quantity|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].quantityDeliveredSa|" th:id="|contractDetailInventoryItemList[${itemStat.index}].quantityDeliveredSa|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].unitPrice|" th:id="|contractDetailInventoryItemList[${itemStat.index}].unitPrice|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].amountOc|" th:id="|contractDetailInventoryItemList[${itemStat.index}].amountOc|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].discountRate|" th:id="|contractDetailInventoryItemList[${itemStat.index}].discountRate|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].discountAmountOc|" th:id="|contractDetailInventoryItemList[${itemStat.index}].discountAmountOc|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].vatRate|" th:id="|contractDetailInventoryItemList[${itemStat.index}].vatRate|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].vatAmountOc|" th:id="|contractDetailInventoryItemList[${itemStat.index}].vatAmountOc|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|contractDetailInventoryItemList[${itemStat.index}].saOrderId|" th:id="|contractDetailInventoryItemList[${itemStat.index}].saOrderId|" class="k-textbox" style="width: 100%;"></td>
                </tr>
                <script>
                    $(document).ready(function () {
                        var dataInventoryItems = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/all_active_inventory_item_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("input[name$='inventoryItemId']").each(function() {
                            $(this).kendoMultiColumnComboBox({
                                dataTextField: "inventoryItemCode",
                                dataValueField: "id",
                                filterable: true,
                                filter: "contains",
                                height: 500,
                                columns: [
                                    {field: "inventoryItemCode", title: "Mã hàng", width: 100},
                                    { field: "inventoryItemName", title: "Tên hàng", width: 200 },
                                    { field: "availableQuantity", title: "Số lượng tồn", width: 80 },
                                    { field: "salePrice1", title: "Giá bán 1", width: 80 },
                                    { field: "salePrice2", title: "Giá bán 2", width: 80 },
                                    { field: "salePrice3", title: "Giá bán 3", width: 80 },
                                    { field: "fixedSalePrice", title: "Giá bán cố định", width: 80 }
                                    // ,{ field: "mobile", template: "#= (mobile == null) ? '' : mobile #", title: "ĐT di động", width: 120 }
                                ],
                                footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Sản phẩm/vật tư/dịch vụ',
                                filter: "contains",
                                filterFields: ["inventoryItemCode", "inventoryItemName"],
                                dataSource: dataInventoryItems,
                                change: onChangeInventoryItemId
                            });
                        });
                    });
                    function onChangeInventoryItemId() { }
                </script>
            </tbody>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table style="width: 1366px;">
        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Thêm</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        $("input[name$='expenseDate']").each(function() {
            $(this).kendoDatePicker({
                format: "dd/MM/yyyy"
            });
        });

        var dataUnitId = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/active_units_json",
                    dataType: "json"
                }
            },
            pageSize: 30
        });

        $("input[name$='unitId']").each(function() {
            $(this).kendoDropDownList({
                optionLabel: "Chọn..",
                dataTextField: "unitName",
                dataValueField: "id",
                dataSource: dataUnitId,
                filter: "contains",
                index: 0,
                change: onChangeUnitId
            });
        });

        var validator = $("#contractForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
    function onChangeUnitId(){ }
</script>

<th:block th:include="fragments/footer"></th:block>
