<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{'/inventory_items'}" class="k-button k-primary"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh mục vật tư hàng hóa</a>
<br/>
<br/>
<br/>
<form method="post" th:action="@{'/add_inventory_item'}" modelAttribute="inventoryItemForm" th:object="${inventoryItemForm}">
    <table style="width: 1366px;">
        <tr>
            <td width="25%"><h3>Thông tin chung</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="inventoryItemCode" required>Mã<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{inventoryItemCode}" required validationMessage="Mã vật tư, hàng hóa, dịch vụ không được để trống" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="inventoryItemName">Tên<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{inventoryItemName}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="inventoryItemType">Tính chất<span class="b-require">*</span></label></td>
                <td><input th:field="*{inventoryItemType}" value="1" style="width: 100%;"/>
                    <script>
                        $(document).ready(function () {
                            var dataInventoryItemType = [
                                {text: "Vật tư hàng hóa", value: "0"},
                                {text: "Thành phẩm", value: "1"},
                                {text: "Dịch vụ", value: "2"},
                                {text: "Chỉ là diễn giải", value: "3"}
                            ];

                            // create DropDownList from input HTML element
                            $("#inventoryItemType").kendoDropDownList({
                                dataTextField: "text",
                                dataValueField: "value",
                                dataSource: dataInventoryItemType,
                                filter: "contains",
                                index: 0,
                                change: onChangeInventoryItemType
                            });
                        });
                        // create DropDownList from select HTML element
                        // $("#inventoryItemType").kendoDropDownList();
                        // var inventoryItemType = $("#inventoryItemType").data("kendoDropDownList");
                        // inventoryItemType.select(0);
                        function onChangeInventoryItemType() { }
                    </script>
            </td>
            <td><label th:for="inventoryItemCategoryCode">Nhóm VTHH</label></td>
            <td>
                <select th:field="*{inventoryItemCategoryCode}" id="inventoryItemCategoryCode" multiple="multiple" data-placeholder="Chọn nhóm vật tư/hàng hóa" title="Nhóm vật tư/hàng hóa" style="width: 100%;">
                    <option th:each="item:${inventoryItemCategoryList}" th:value="${item.id}" th:text="${item.inventoryCategoryCode}"/>
                </select>
                <script>
                    $(document).ready(function() {
                        $("#inventoryItemCategoryCode").kendoMultiSelect().data("kendoMultiSelect");
                    });
                </script>
            <td>
        </tr>

        <tr>
            <td><label th:for="description">Mô tả</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="unitId">ĐVT chính</label></td>
            <td><input type="number" th:field="*{unitId}" style="width: 87%;">&nbsp;
                <a class="k-button k-primary" th:href="@{/add_unit}" title="Thêm Đơn vị tính"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    $(document).ready(function () {
                        var dataUnitId = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/active_units_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#unitId").kendoDropDownList({
                            dataTextField: "unitName",
                            dataValueField: "id",
                            dataSource: dataUnitId,
                            filter: "contains",
                            index: 0,
                            change: onChangeDataUnitId
                        });
                    });
                    function onChangeDataUnitId() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="guarantyPeriod">Thời hạn bảo hành</label></td>
            <td><input type="text" th:field="*{guarantyPeriod}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var guarantyPeriod = [
                            {text: "1 tháng", value: "0"},
                            {text: "2 tháng", value: "1"},
                            {text: "3 tháng", value: "2"},
                            {text: "6 tháng", value: "3"},
                            {text: "9 tháng", value: "0"},
                            {text: "1 năm", value: "1"},
                            {text: "2 năm", value: "2"},
                            {text: "3 năm", value: "3"},
                            {text: "6 năm", value: "0"},
                            {text: "9 năm", value: "1"},
                            {text: "12 năm", value: "2"}
                        ];

                        $("#guarantyPeriod").kendoComboBox({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: guarantyPeriod,
                            filter: "contains",
                            suggest: true
                            //,index: 3
                        });
                    });
                </script>
            </td>
            <td><label th:for="minimumStock" required>Số lượng tồn tối thiểu</label></td>
            <td><input type="number" th:field="*{minimumStock}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="inventoryItemSource">Nguồn gốc</label></td>
            <td><input type="text" th:field="*{inventoryItemSource}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="purchaseDescription">Diễn giải khi mua</label></td>
            <td><input type="text" th:field="*{purchaseDescription}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="saleDescription">Diễn giải khi bán</label></td>
            <td><input type="text" th:field="*{saleDescription}" class="k-textbox" style="width: 100%;"></td>
            <td></td>
            <td></td>
        </tr>

        <td>
            <tr><h3>1. Ngầm định</h3></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </td>

        <tr>
            <td><label th:for="defaultStockId">Kho ngầm định</label></td>
            <td><input type="text" th:field="*{defaultStockId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataStocks = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/stock_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#defaultStockId").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "id",
                            dataValueField: "stockName",
                            //index: 121,
                            height: 400,
                            columns: [
                                {field: "stockCode", title: "Mã kho", width: 150},
                                {field: "stockName", title: "Tên kho", width: 600}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Kho',
                            dataSource: dataStocks,
                            filter: "contains",
                            filterFields: ["stockCode", "stockName"],
                            //value: "5111",
                            change: onChangeStock
                        });
                    });
                    function onChangeStock() { }
                </script>
            </td>
            <td><label th:for="inventoryAccount">Tài khoản kho</label></td>
            <td><input type="text" th:field="*{inventoryAccount}" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="fixedUnitPrice" required>Đơn giá mua cố định</label></td>
            <td><input type="number" th:field="*{fixedUnitPrice}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="unitPrice" required>Đơn giá mua gần nhất</label></td>
            <td><input type="number" th:field="*{unitPrice}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="salePrice1" required>Đơn giá bán 1</label></td>
            <td><input type="number" th:field="*{salePrice1}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="salePrice2" required>Đơn giá bán 2</label></td>
            <td><input type="number" th:field="*{salePrice2}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="salePrice3" required>Đơn giá bán 3</label></td>
            <td><input type="number" th:field="*{salePrice3}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="fixedSalePrice" required>Đơn giá cố định</label></td>
            <td><input type="number" th:field="*{fixedSalePrice}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="saleAccount">Tài khoản doanh thu</label></td>
            <td><input type="text" th:field="*{saleAccount}" style="width: 100%;"></td>
            <td><label th:for="cogsAccount">Tài khoản chi phí</label></td>
            <td><input type="text" th:field="*{cogsAccount}" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="inventoryCategorySpecialTaxId">Nhóm hàng hóa chịu thuế Tiêu thụ đặc biệt</label></td>
            <td><input type="number" th:field="*{inventoryCategorySpecialTaxId}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataSpecialTaxRates = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/special_tax_mul_col_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#inventoryCategorySpecialTaxId").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "name",
                            dataValueField: "id",
                            height: 400,
                            columns: [
                                {field: "code", title: "Mã nhóm", width: 130},
                                {field: "name", title: "Tên nhóm", width: 500},
                                {field: "taxRate", title: "Thuế suất", width: 100}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Nhóm',
                            dataSource: dataSpecialTaxRates,
                            filter: "contains",
                            filterFields: ["code", "name", "taxRate"],
                            //index: 0,
                            //value: "632",
                            change: onChangeSpecialTaxRates
                        });
                    });
                    function onChangeSpecialTaxRates() { }
                </script>

            </td>
            <td><label th:for="saleOffAccount">Tài khoản giảm giá</label></td>
            <td><input type="text" th:field="*{saleOffAccount}" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="returnAccount">Tài khoản trả lại</label></td>
            <td><input type="text" th:field="*{returnAccount}" style="width: 100%;">
                <script>
                    //var accountArray;
                    //var found;
                    //var index5111;

                    $(document).ready(function () {
                        var dataAccount4chars = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/accounts345_mulcol_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        // accountArray = dataAccount4chars;
                        // var found = accountArray["_pristineData"];
                        // for (var i = 0; i < found.length; i++) {
                        //     if (found[i].accountNumber === "5111") {
                        //         index5111 = i;
                        //         console.log(index5111);
                        //     }
                        // }

                        // Tài khoản doanh thu
                        $("#saleAccount").kendoMultiColumnComboBox({
                            //optionLabel: "Chọn..",
                            dataTextField: "accountNumber",
                            dataValueField: "accountNumber",
                            //index: 121,
                            height: 400,
                            columns: [
                                {field: "accountNumber", title: "Số Tài khoản", width: 150},
                                {field: "accountName", title: "Tên Tài khoản", width: 600}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                            dataSource: dataAccount4chars,
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            value: "5111",
                            change: onChangeSaleAccount
                        });

                        // Tài khoản  Giá vốn hàng bán.
                        $("#cogsAccount").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "accountNumber",
                            dataValueField: "accountNumber",
                            height: 400,
                            columns: [
                                {field: "accountNumber", title: "Số Tài khoản", width: 150},
                                {field: "accountName", title: "Tên Tài khoản", width: 600}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                            dataSource: dataAccount4chars,
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            value: "5111",
                            //index: 121,
                            change: onChangeCOGSAccount
                        });

                        // Tài khoản Kho.
                        $("#inventoryAccount").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "accountNumber",
                            dataValueField: "accountNumber",
                            height: 400,
                            columns: [
                                {field: "accountNumber", title: "Số Tài khoản", width: 150},
                                {field: "accountName", title: "Tên Tài khoản", width: 600}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                            dataSource: dataAccount4chars,
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            //index: 0,
                            value: "5111",
                            change: onChangeInventoryAccount
                        });

                        // Tài khoản Giảm giá.
                        $("#saleOffAccount").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "accountNumber",
                            dataValueField: "accountNumber",
                            height: 400,
                            columns: [
                                {field: "accountNumber", title: "Số Tài khoản", width: 150},
                                {field: "accountName", title: "Tên Tài khoản", width: 600}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                            dataSource: dataAccount4chars,
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            //index: 121,
                            value: "5111",
                            change: onChangeSaleOffAccount
                        });

                        // Tài khoản Trả lại.
                        $("#returnAccount").kendoMultiColumnComboBox({
                            optionLabel: "Chọn..",
                            dataTextField: "accountNumber",
                            dataValueField: "accountNumber",
                            height: 400,
                            columns: [
                                {field: "accountNumber", title: "Số Tài khoản", width: 150},
                                {field: "accountName", title: "Tên Tài khoản", width: 600}
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Tài khoản',
                            dataSource: dataAccount4chars,
                            filter: "contains",
                            filterFields: ["accountNumber", "accountName"],
                            //index: 0,
                            value: "632",
                            change: onChangeReturnAccount
                        });
                    });

                    function onChangeSaleAccount() {}
                    function onChangeCOGSAccount() {}
                    function onChangeInventoryAccount() {}
                    function onChangeSaleOffAccount() {}
                    function onChangeReturnAccount() {}
                </script>
            </td>
            <td><label th:for="image">Hình ảnh sản phẩm</label></td>
            <td><input type="text" th:field="*{image}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="cogsAccount">Tài khoản chi phí</label></td>
            <td><input type="text" th:field="*{cogsAccount}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="purchaseDiscountRate">Tỷ lệ chiết khấu mua hàng (%)</label></td>
            <td><input type="number" th:field="*{purchaseDiscountRate}" class="k-textbox" value="0" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="fixedUnitPrice">Đơn giá mua cố định</label></td>
            <td><input type="number" th:field="*{fixedUnitPrice}" class="k-textbox" value="0" style="width: 100%;"></td>
            <td><label th:for="unitPrice">Đơn giá mua gần nhất</label></td>
            <td><input type="number" th:field="*{unitPrice}" class="k-textbox" value="0" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="fixedUnitPrice">Đơn giá bán</label></td>
            <td><input type="number" th:field="*{fixedUnitPrice}" value="0" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="unitPrice">Đơn giá mua gần nhất</label></td>
            <td><input type="number" th:field="*{unitPrice}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="salePrice1">Đơn giá bán</label></td>
            <td><input type="number" th:field="*{fixedUnitPrice}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="taxRate">Thuế suất GTGT(%)</label></td>
            <td><input type="number" th:field="*{taxRate}" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var dataVATRates = [
                            {text: "10%", value: "10"},
                            {text: "5%", value: "5"},
                            {text: "0%", value: "0"},
                            {text: "Không chịu thuế", value: "-1"}
                        ];

                        // create DropDownList from input HTML element
                        $("#taxRate").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataVATRates,
                            index: 0,
                            change: onChangeTaxRate
                        });
                    });
                    function onChangeTaxRate() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="importTaxRate">Thuế suất thuế NK(%)</label></td>
            <td><input type="text" th:field="*{importTaxRate}" value="0" class="k-textbox" style="width: 100%;" title="Thuế suất thuế nhập khẩu (%)"></td>
            <td><label th:for="exportTaxRate">Thuế suất thuế XK(%)</label></td>
            <td><input type="number" th:field="*{exportTaxRate}" value="0" class="k-textbox" style="width: 100%;" title="Thuế suất thuế xuất khẩu (%)"></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><label th:for="specificity">Đặc tính</label></td>
            <td><input type="text" th:field="*{specificity}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td>Hình ảnh</td>
            <td><input type="text" th:field="*{image}" class="k-textbox" style="width: 100%;"></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table style="width: 1366px;">
        <td>
            <tr><h3>2. Chiết khấu</h3></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </td>

        <tr>
            <td></td>
            <td><input type="checkbox" th:checked="*{isSaleDiscount}" id="isSaleDiscount" name="isSaleDiscount" class="k-checkbox" style="width: 100%;"><label th:for="isSaleDiscount">Chiết khấu</label>
            </td>
            <td><label th:for="discountType">Loại chiết khấu</label></td>
            <td><input type="number" th:field="*{discountType}" style="width: 100%;"></td>
        </tr>
    </table>

    <table style="width: 1366px;">
        <td>
            <thead>
                <th>Số lượng từ</th>
                <th>Số lượng đến</th>
                <th>% chiết khấu</th>
                <th>Số tiền Ck/1 đơn vị SL</th>
                <th>Số tiền chiết khấu</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </td>
        <tr>
            <td></td>
            <td><input type="checkbox" th:checked="*{isSaleDiscount}" id="isSaleDiscount" name="isSaleDiscount" class="k-checkbox" style="width: 100%;"><label th:for="isSaleDiscount">Chiết khấu</label>
            </td>
            <td><label th:for="discountType">Loại chiết khấu</label></td>
            <td><input type="number" th:field="*{discountType}" style="width: 100%;"></td>
        </tr>
    </table>

    <h3>3. Đơn vị chuyển đổi</h3>

    <table style="width: 1366px;">
        <td>
            <thead>
                <th>STT</th>
                <th>Đơn vị chuyển đổi</th>
                <th>Tỷ lệ chuyển đổi về đơn vị chính</th>
                <th>Phép tính chuyển đổi</th>
                <th>Mô tả</th>
                <th>Đơn giá bán 1</th>
                <th>Đơn giá bán 2</th>
                <th>Đơn giá bán 3</th>
                <th>Đơn giá cố định</th>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </td>
    </table>

    <h3>4. Mã quy cách</h3>
    <input type="checkbox" id="temp_show_type">

    <table width="1366px;">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <table width="1366px;">
        <tr>
        <tr style="padding-top: 15px; text-align: center;">
            <td colspan="4"><button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Thêm</button></td>
        </tr>
        </tr>
    </table>
</form>

<p><span class="b-require">*</span>: Các mục bắt buộc nhập.</p>

<script>
    $(document).ready(function () {
        var validator = $("#inventoryItemForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
