<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_inventory_item}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm Vật tư, hàng hóa, dịch vụ</a>
<br/>
<br/>
<h3>DANH SÁCH VẬT TƯ HÀNG HÓA, DỊCH VỤ</h3>
<br/>
<br/>
<table id="inventory_item_datagrid">
    <thead>
    <tr>
        <th data-field="MA" data-title="Mã" title="Mã">Mã</th>
        <th data-field="TEN" data-title="Tên" title="Tên">Tên</th>
        <th data-field="TINH_CHAT" data-title="Tính chất" title="Tính chất">Tính chất</th>
        <th data-field="NHOM_VTHH" data-title="Nhóm VTHH" title="Nhóm Vật tư, hàng hóa, dịch vụ">Nhóm VTHH</th>
        <th data-field="DVT_CHINH" data-title="Đơn vị tính chính" title="Đơn vị tính chính">ĐVT chính</th>
        <th data-field="DON_GIA_MUA_CO_DINH" data-title="Đơn giá mua cố định" title="Đơn giá mua cố định">Đơn giá mua cố định</th>
        <th data-field="DON_GIA_MUA_GAN_NHAT" data-title="Đơn giá mua gần nhất" title="Đơn giá mua gần nhất">Đơn giá mua gần nhất</th>
        <th data-field="DON_GIA_BAN_MUC_1" data-title="Đơn giá bán mức 1" title="Đơn giá bán mức 1">Đơn giá bán mức 1</th>
        <th data-field="DON_GIA_CO_DINH" data-title="Đơn giá cố định" title="Đơn giá cố định">Đơn giá cố định</th>
        <th data-field="SO_LUONG_TON" data-title="Số lượng tồn" title="Số lượng tồn">Số lượng tồn</th>
        <th data-field="GIA_TRI_TON" data-title="Giá trị tồn" title="Giá trị tồn">Giá trị tồn</th>

        <th title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventoryItem : ${inventoryItemList}">
        <td th:text="${inventoryItem.inventoryItemCode}"></td>
        <td th:text="${inventoryItem.inventoryItemName}"></td>
        <td th:text="${inventoryItemTypeList[inventoryItem.inventoryItemType]}"></td>
        <td th:text="${inventoryItem.inventoryItemCategoryList}"></td>
        <td th:text="${inventoryItem.unitId}"></td>
        <td th:text="${inventoryItem.fixedSalePrice}"></td>
        <td th:text="${inventoryItem.unitPrice}"></td>
        <td th:text="${inventoryItem.salePrice1}"></td>
        <td th:text="${inventoryItem.fixedSalePrice}"></td>
        <td>wait</td>
        <td>wait</td>
        <td>
            <a class="k-button" th:href="@{/inventory_item/view/{id}(id=${inventoryItem.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/inventory_item/edit/{id}(id=${inventoryItem.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${inventoryItem.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${inventoryItem.id}" th:action="@{/inventory_item/delete/{id}(id=${inventoryItem.id})}"><button type="submit" hidden th:id="'btn_' + ${inventoryItem.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#inventory_item_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            resizable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            groupable: true,
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
