<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<br/>
<table id="bank_datagrid">
    <thead>
    <tr>
        <th data-field="BAC" data-title="Bậc" title="Bậc">Bậc</th>
        <th data-field="THEO_THANG_TU" data-title="Theo tháng, từ" title="Theo tháng, từ">Theo tháng, từ</th>
        <th data-field="THEO_THANG_DEN" data-title="Theo tháng, đến" title="Theo tháng, đến">Theo tháng, đến</th>
        <th data-field="THEO_NAM_TU" data-title="Theo năm, từ" title="Theo năm, từ">Theo năm, từ</th>
        <th data-field="THEO_NAM_DEN" data-title="Theo năm, đến" title="Theo năm, đến">Theo năm, đến</th>
        <th data-field="THUE_SUAT" data-title="Thuế suất (%)" title="Thuế suất (%)">Thuế suất (%)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="PITRate : ${personalIncomeTaxRateList}">
        <td th:text="${PITRate.taxGrade}"></td>
        <td th:text="${#numbers.formatDecimal(PITRate.fromIncomeByMonth, 0, 'COMMA', 0, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(PITRate.toIncomeByMonth, 0, 'COMMA', 0, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(PITRate.fromIncomeByYear, 0, 'COMMA', 0, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(PITRate.toIncomeByYear, 0, 'COMMA', 0, 'POINT')}"></td>
        <td th:text="${#numbers.formatDecimal(PITRate.taxRate, 0, 'COMMA', 0, 'POINT')}"></td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#bank_datagrid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });
    });
</script>

<th:block th:include="fragments/footer"></th:block>
