<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/account_object_groups}" class="k-button k-primary" title="Danh sách Nhóm Đối tượng kế toán"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Nhóm KH, NCC</a>
<br/>
<br/>
<h3>SỬA THÔNG TIN NHÓM KHÁCH HÀNG, NHÀ CUNG CẤP</h3>
<br/>
<br/>
<form method="post" th:action="@{'/update_account_object_group'}" th:object="${accountObjectGroup}" id="accountObjectGroup">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">
                <input type="number" th:field="*{id}" hidden>
            </td>
        </tr>

        <tr>
            <td><label th:for="accountObjectGroupCode">Mã</label></td>
            <td>
                <input type="text" th:field="*{accountObjectGroupCode}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountObjectGroupCode')}" th:errors="*{accountObjectGroupCode}" class="k-error-colored">accountObjectGroupCode Error</span>
            </td>
            <td><label th:for="accountObjectGroupName" class="required">Tên</label></td>
            <td>
                <input type="text" th:field="*{accountObjectGroupName}" class="k-textbox" style="width: 100%;" required validationMessage="Tên Nhóm KH, NCC, Nhân viên không được để trống">
                <span th:if="${#fields.hasErrors('accountObjectGroupName')}" th:errors="*{accountObjectGroupName}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="parentId">Nhóm cha</label></td>
            <td><input type="text" th:field="*{parentId}" class="k-textbox" style="width: 100%;">
                <script>
                    $(document).ready(function () {
                        var data_acc_obj_group = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/account_obj_group_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#parentId").kendoDropDownList({
                            dataTextField: "accountObjectGroupName",
                            dataValueField: "id",
                            dataSource: data_acc_obj_group,
                            filter: "contains",
                            index: 0,
                            change: onChangeAccountObjectGroup
                        });
                    });
                    function onChangeAccountObjectGroup() {}
                </script>
            </td>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="checkbox" th:field="*{activeStatus}"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary">Cập nhật</button> &nbsp;
                <a th:href="@{/account_object_groups}" type="submit" class="k-button k-primary" style="color: gold;"><span class="k-icon k-i-cancel"></span> Thôi</a>
            </td>
        </tr>

    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#accountObjectGroup").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
