<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a href="/add_account_object_group" class="k-button k-primary">Thêm Nhóm Đối tượng kế toán</a> &nbsp;
<a th:href="@{/account_object_groups.xlsx}" class="k-button k-primary" title="Xuất ra Excel">Xuất ra Excel</a>

<br/>
<br/>
<br/>
<table id="account_object_group_datagrid">
    <thead>
    <tr>
        <th data-field="MA_NHOM_KH_NCC" data-title="Mã nhóm KH, NCC" title="Mã nhóm Khách hàng, Nhà cung cấp">Mã nhóm KH, NCC</th>
        <th data-field="TEN_NHOM" data-title="Tên nhóm KH, NCC" title="Tên nhóm Khách hàng, Nhà cung cấp">Tên nhóm KH, NCC</th>
        <th data-field="DIEN_GIAI" data-title="Diễn giải" title="Diễn giải">Diễn giải</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountObjectGroup : ${accountObjectGroupList}">
        <td th:text="${accountObjectGroup.accountObjectGroupCode}"></td>
        <td th:text="${accountObjectGroup.accountObjectGroupName}"></td>
        <td th:text="${accountObjectGroup.description}"></td>
        <td th:text="${activeStatusList[accountObjectGroup.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/account_object_group/view/{id}(id=${accountObjectGroup.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/account_object_group/edit/{id}(id=${accountObjectGroup.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${accountObjectGroup.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${accountObjectGroup.id}" th:action="@{/account_object_group/delete/{id}(id=${accountObjectGroup.id})}"><button type="submit" hidden th:id="'btn_' + ${accountObjectGroup.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#account_object_group_datagrid").kendoGrid({
            sortable: true,
            columnMenu: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            pageable: {
                pageSizes: true
            },
            dataSource: {
                pageSize: 30
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
