<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/account_object_groups}" class="k-button k-primary" title="Danh sách Nhóm Khách hàng, Nhà cung cấp, Nhân viên">Danh sách Nhóm KH, NCC, Nhân viên</a>
<br/>
<br/>
<h3>Thêm Nhóm khách hàng, nhà cung cấp</h3>
<br/>
<form method="post" th:action="@{'/update_account_object_group'}" th:object="${accountObjectGroup}" id="add_account_object_group_form">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"><input type="number" th:field="*{id}" hidden></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectGroupCode">Mã</label></td>
            <td><input type="text" th:field="*{accountObjectGroupCode}" class="k-textbox" style="width: 100%;" readonly></td>
            <td><label th:for="accountObjectGroupName">Tên</label></td>
            <td><input disabled type="text" th:field="*{accountObjectGroupName}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="parentId">Nhóm cha</label></td>
            <td><input disabled type="text" th:field="*{parentId}" class="k-textbox" style="width: 100%;" readonly>
                <script>
                    $(document).ready(function () {
                        var data_acc_obj_group = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/account_obj_group_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });
                        $("#parentId").kendoDropDownList({
                            dataTextField: "accountObjectGroupName",
                            dataValueField: "id",
                            dataSource: data_acc_obj_group,
                            filter: "contains",
                            index: 0,
                            change: onChangeAccountObjectGroup
                        });
                    });
                    function onChangeAccountObjectGroup() {}
                </script>
            </td>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;" readonly></td>
        </tr>

        <tr>
            <td><label th:for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="checkbox" th:field="*{activeStatus}" readonly></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <a href="/account_object_groups" type="submit" class="k-button k-primary" style="color: gold;"><span class="k-icon k-i-cancel"></span> Đóng</a>
            </td>
        </tr>
    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
