<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/employees}"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span> &nbsp; Danh sách Nhân viên</a>
<br/>
<br/>
<h3>THÊM NHÂN VIÊN</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_employee'}" modelAttribute="accountObjectForm" th:object="${accountObjectForm}" id="accountObjectForm">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectCode" class="required">Mã<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountObjectCode}" class="k-textbox" style="width: 100%;" required validationMessage="Mã nhân viên không được để trống"></td>
            <td><label th:for="contactTitle">Chức danh</label></td>
            <td><input type="text" th:field="*{contactTitle}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectName" class="required">Tên nhân viên<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountObjectName}" class="k-textbox" style="width: 100%;" required validationMessage="Tên nhân viên không được để trống"></td>
            <td><label th:for="organizationUnitId">Đơn vị<span class="b-require">*</span></label></td>
            <td>
                <input type="number" th:field="*{organizationUnitId}" required validationMessage="Đơn vị không được để trống" style="width: 87%;">&nbsp;
                <a class="k-button k-primary" th:href="@{/add_organization_unit}" title="Thêm Đơn vị"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    $(document).ready(function () {
                        var dataOrganizationUnit = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/organization_units_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#organizationUnitId").kendoMultiColumnComboBox({
                            dataTextField: "organizationUnitName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "organizationUnitCode", title: "Mã đơn vị", width: 200},
                                { field: "organizationUnitName", title: "Tên đơn vị", width: 400 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đơn vị/phòng ban',
                            filter: "contains",
                            filterFields: ["organizationUnitCode", "organizationUnitName"],
                            dataSource: dataOrganizationUnit,
                            change: onChangeOrganizationUnitId
                        });
                    });
                    function onChangeOrganizationUnitId() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="gender">Giới tính</label></td>
            <td>
                <input type="number" th:field="*{gender}" style="width: 100%;">
                <script>
                    $(document).ready(function() {
                        var dataGender = [
                            {text: "Nam", value: "0"},
                            {text: "Nữ", value: "1"}
                        ];
                        $("#gender").kendoDropDownList({
                            optionLabel: "Chọn..",
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataGender,
                            // index: 0,
                            change: onChangeGender
                        });
                    });
                    function onChangeGender() { }
                </script>
            </td>
        </tr>
        <tr>
            <td><label th:for="birthDate">Ngày sinh</label></td>
            <td><input type="date" th:field="*{birthDate}" style="width: 100%;">
                <script>
                    $("#birthDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="agreementSalary">Lương thỏa thuận</label></td>
            <td><input type="number" th:field="*{agreementSalary}" style="width: 100%;">
            <script>
                $(document).ready(function() {
                    $("#agreementSalary").kendoNumericTextBox();
                });
            </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="identificationNumber">Số CMND/CCCD</label></td>
            <td><input type="text" th:field="*{identificationNumber}" class="k-textbox" style="width: 100%;" title="Số Chưng minh nhân dân hoặc Căn cước công dân"></td>
            <td><label for="salaryCoefficient">Hệ số lương</label></td>
            <td><input type="number" step="any" id="salaryCoefficient" name="salaryCoefficient" style="width: 100%;">
                <script>
                    $("#salaryCoefficient").kendoNumericTextBox({
                        decimals: 2
                    });
                </script>
        </td>
        </tr>

        <tr>
            <td><label th:for="issueDate">Ngày cấp CMND/CCCD</label></td>
            <td>
                <input type="date" th:field="*{issueDate}" style="width: 100%;" title="Ngày cấp Chứng minh nhân dân hoặc Căn cước công dân">
                <script>
                    $("#issueDate").kendoDatePicker({
                       format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="insuranceSalary">Lương đóng BHXH</label></td>
            <td><input type="number" step="1" th:field="*{insuranceSalary}" style="width: 100%;" class="k-textbox" title="Mức lương đóng bảo hiểm xã hội">
                <!--<script>-->
                <!--    $("#insuranceSalary").kendoNumericTextBox({-->
                <!--        decimals: 0-->
                <!--    });-->
                <!--</script>-->
            </td>
        </tr>

        <tr>
            <td><label th:for="issueBy">Nơi cấp</label></td>
            <td><input type="text" th:field="*{issueBy}" class="k-textbox" style="width: 100%;" title="Nơi cấp Chứng minh nhân dân hoặc Căn cước công dân"></td>
            <td><label th:for="numberOfDependent">Số người phụ thuộc</label></td>
            <td><input type="number" th:field="*{numberOfDependent}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><h3>Thông tin liên hệ</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="address">Địa chỉ</label></td>
            <td><input type="text" th:field="*{address}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="mobile">ĐT di động</label></td>
            <td><input type="text" th:field="*{mobile}" class="k-textbox" style="width: 100%;" title="Số điện thoại di động của nhân viên"></td>
        </tr>

        <tr>
            <td><label th:for="emailAddress">Email</label></td>
            <td><input type="email" th:field="*{emailAddress}" class="k-textbox" style="width: 100%;" title="Địa chỉ thư điện tử của nhân viên"></td>
            <td><label th:for="tel">ĐT cố định</label></td>
            <td><input type="text" th:field="*{tel}" class="k-textbox" style="width: 100%;" title="Số điện thoại cố định của nhân viên"></td>
        </tr>

        <tr>
            <td><label th:for="isEmployee">NV cũng là Khách hàng</label></td>
            <td><input type="checkbox" th:field="*{isCustomer}" title="Nhân viên cũng là Khách hàng"></td>
            <td><label th:for="isVendor">NV cũng là Nhà cung cấp</label></td>
            <td><input type="checkbox" th:field="*{isVendor}" title="Nhân viên cũng là Nhà cung cấp"></td>
        </tr>

        <tr>
            <td width="25%"><h3>Thông tin liên hệ</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="contactAddress">Địa chỉ</label></td>
            <td><input type="text" th:field="*{contactAddress}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="contactMobile">ĐT di động</label></td>
            <td><input type="text" th:field="*{contactMobile}" title="Số điện thoại di động của người liên hệ" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="contactEmail">Email</label></td>
            <td><input type="text" th:field="*{contactEmail}" class="k-textbox" style="width: 100%;" title="Địa chỉ thư điện tử của người liên hệ"></td>
            <td><label th:for="contactFixedTel">ĐT cố định</label></td>
            <td><input type="text" th:field="*{contactFixedTel}" title="Số điện thoại cố định của người liên hệ" class="k-textbox" style="width: 100%;"></td>
        </tr>
    </table>

    <br/>
    <br/>
    <h3>Tài khoản ngân hàng của nhân viên</h3>
    <table style="width: 1366px;">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <thead>
                <th>STT</th>
                <th>Số tài khoản</th>
                <th>Tên ngân hàng</th>
                <th>Chi nhánh</th>
                <th>Tỉnh/TP của ngân hàng</th>
            </thead>
            <tbody>
                <tr th:each="item, itemStat : ${accountObjectForm.accountObjectBankAccountList}">
                    <td><span th:text="${itemStat.index + 1}"></span></td>
                    <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="number" th:name="|accountObjectBankAccountList[${itemStat.index}].bankId|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankId|" style="width: 100%"></td>
                    <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" class="k-textbox" style="width: 100%;"></td>
                    <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].province|" th:id="|accountObjectBankAccountList[${itemStat.index}].province|" style="width: 100%;"></td>
                </tr>
                <script>
                    $(document).ready(function () {
                        var dataBanks = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/banks_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("input[name$='bankId']").kendoMultiColumnComboBox({
                            dataTextField: "bankCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 500,
                            columns: [
                                {field: "bankCode", title: "Tên viết tắt", width: 150},
                                { field: "bankName", title: "Tên ngân hàng", width: 500 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Ngân hàng',
                            filter: "contains",
                            filterFields: ["bankCode", "bankName"],
                            dataSource: dataBanks,
                            change: onChangeBank
                        });

                        var dataProvinceBank = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/provinces",
                                    dataType: "json"
                                }
                            },
                            pageSize: 300
                        });

                        $("input[name$='province']").each(function() {
                            $(this).kendoDropDownList({
                                optionLabel: "Chọn...",
                                dataTextField: "text",
                                dataValueField: "value",
                                filter: "contains",
                                dataSource: dataProvinceBank,
                                index: 0,
                                change: onChangeProvinceBank
                            })
                        });
                    });
                    function onChangeBank() { }
                    function onChangeProvinceBank() { }
                </script>
                <tr>
                    <td colspan="5" style="text-align: center; padding-top: 15px;">
                        <button type="submit" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm</button>
                    </td>
                </tr>
            </tbody>
        </tr>
    </table>
    <br/>
    <br/>
    Ghi chú: <span class="b-require">*</span> là các trường bắt buộc phải nhập.
    <span class="status"></span>
</form>

<script>
    $(document).ready(function() {
        var validator = $("#accountObjectForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
