<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/employees}"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span> &nbsp; Danh sách Nhân viên</a>
<br/>
<br/>
<h3>SỬA THÔNG TIN NHÂN VIÊN</h3>
<br/>
<br/>
<form th:action="@{'/edit_employee'}" modelAttribute="accountObjectForm" th:object="${accountObjectForm}" method="post">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"><h3>Thông tin chung</h3></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;">
                <input type="number" th:field="*{id}" hidden/>
            </td>
        </tr>

        <tr>
            <td><label th:for="accountObjectCode" class="required">Mã đối tượng<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountObjectCode}" class="k-textbox" style="width: 100%;" required validationMessage="Mã Nhân viên không được để trống"></td>
            <td><label th:for="contactTitle">Chức danh</label></td>
            <td><input type="text" th:field="*{contactTitle}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectName">Tên nhân viên<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{accountObjectName}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="organizationUnitId">Đơn vị</label></td>
            <td>
                <input th:field="*{organizationUnitId}" style="width: 87%;">
                &nbsp;
                <a class="k-button k-primary" th:href="@{/add_organization_unit}" title="Thêm Đơn vị"><span class="k-icon k-i-add" style="color: gold;"></span></a>
                <script>
                    $(document).ready(function () {
                        var dataOrganizationUnit = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/organization_units_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#organizationUnitId").kendoMultiColumnComboBox({
                            dataTextField: "organizationUnitName",
                            dataValueField: "id",
                            filterable: true,
                            height: 400,
                            columns: [
                                {field: "organizationUnitCode", title: "Mã đơn vị", width: 200},
                                { field: "organizationUnitName", title: "Tên đơn vị", width: 400 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Đơn vị, phòng ban',
                            filter: "contains",
                            filterFields: ["organizationUnitCode", "organizationUnitName"],
                            dataSource: dataOrganizationUnit,
                            change: onChangeOrganizationUnitId
                        });
                    });
                    function onChangeOrganizationUnitId() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label>Giới tính</label></td>
            <td>
                <!-- FIXME: -->
                <input type="radio" name="gender" id="gender0" value='0' checked="checked" class="k-radio"><label for="gender0" class="k-radio-label">Nam</label>
                <input type="radio" name="gender" id="gender1" value='1' class="k-radio"><label for="gender1" class="k-radio-label">Nữ</label>
            </td>
            <td><label th:for="companyTaxCode">Mã số thuế TNCN</label></td>
            <td><input type="text" th:field="*{companyTaxCode}" class="k-textbox" style="width: 100%;">
            </td>
        </tr>

        <tr>
            <td><label th:for="birthDate">Ngày sinh</label></td>
            <td><input type="date" th:field="*{birthDate}" style="width: 100%;">
                <script>
                    $(document).ready(function() {
                        $("#birthDate").kendoDatePicker({
                            format: "dd/MM/yyyy",
                            end_date: new Date()
                        });
                    });
                </script>
            </td>
            <td><label th:for="agreementSalary">Lương thỏa thuận</label></td>
            <td><input type="number" th:field="*{agreementSalary}" style="width: 100%;">
                <script>
                    $(document).ready(function() {
                        $("#agreementSalary").kendoNumericTextBox();
                    });
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="identificationNumber">Số CMND/CCCD</label></td>
            <td><input type="text" th:field="*{identificationNumber}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="salaryCoefficient">Hệ số lương</label></td>
            <td><input type="number" step="any" th:field="*{salaryCoefficient}" style="width: 100%;">
                <script>
                    $("#salaryCoefficient").kendoNumericTextBox({
                        decimals: 2
                    });
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="issueDate">Ngày cấp CMND/CCCD</label></td>
            <td>
                <input type="date" th:field="*{issueDate}" style="width: 100%;">
                <script>
                    $("#issueDate").kendoDatePicker({
                        format: "dd/MM/yyyy"
                    });
                </script>
            </td>
            <td><label th:for="insuranceSalary">Lương đóng BHXH</label></td>
            <td><input type="number" th:field="*{insuranceSalary}" class="k-textbox" style="width: 100%;" title="Lương đóng bảo hiểm xã hội"></td>
        </tr>

        <tr>
            <td><label th:for="issueBy">Nơi cấp</label></td>
            <td><input type="text" th:field="*{issueBy}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="numberOfDependent">Số người phụ thuộc</label></td>
            <td><input type="number" th:field="*{numberOfDependent}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><h3>Thông tin liên hệ</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label th:for="address">Địa chỉ</label></td>
            <td><input type="text" th:field="*{address}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="mobile">ĐT di động</label></td>
            <td><input type="text" th:field="*{mobile}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="emailAddress">Email</label></td>
            <td><input type="email" th:field="*{emailAddress}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="tel">ĐT cố định</label></td>
            <td><input type="text" th:field="*{tel}" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="activeStatus">Trạng thái theo dõi</label></td>
            <td><input type="checkbox" th:field="*{activeStatus}"></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <br/>
    <br/>
    <table style="width: 1366px;">
        <tr>
            <td width="25%"><h3>Tài khoản ngân hàng của nhân viên</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <thead>
                <th>STT</th>
                <th width="24%">Số tài khoản</th>
                <th width="24%">Tên ngân hàng</th>
                <th width="24%">Chi nhánh</th>
                <th width="24%">Tỉnh/TP của ngân hàng</th>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : ${accountObjectForm.accountObjectBankAccountList}">
                <td><span th:text="${itemStat.index + 1}"></span></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankAccount|" class="k-textbox" style="width: 100%;"></td>
                <td><input type="number" th:name="|accountObjectBankAccountList[${itemStat.index}].bankId|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankId|" style="width: 100%"></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" th:id="|accountObjectBankAccountList[${itemStat.index}].bankBranchName|" class="k-textbox" style="width: 100%;"></td>
                <td><input type="text" th:name="|accountObjectBankAccountList[${itemStat.index}].province|" th:id="|accountObjectBankAccountList[${itemStat.index}].province|" style="width: 100%;"></td>
            </tr>
            <script>
                $(document).ready(function () {
                    var dataBank = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/banks_json",
                                dataType: "json"
                            }
                        },
                        pageSize: 30
                    });

                    $("input[name$='bankId']").each(function() {
                        $(this).kendoDropDownList({
                            optionLabel: "Chọn...",
                            dataTextField: "bankCode",
                            dataValueField: "id",
                            dataSource: dataBank,
                            index: 0,
                            change: onChangeBank
                        })
                    });

                    var dataProvinceBank = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "/provinces",
                                dataType: "json"
                            }
                        },
                        pageSize: 300
                    });

                    $("input[name$='province']").each(function() {
                        $(this).kendoDropDownList({
                            optionLabel: "Chọn...",
                            dataTextField: "text",
                            dataValueField: "value",
                            filter: "contains",
                            dataSource: dataProvinceBank,
                            index: 0,
                            change: onChangeProvinceBank
                        })
                    });
                });
                function onChangeBank() { }
                function onChangeProvinceBank() { }
            </script>
            </tbody>
        </tr>
    </table>

    <table style="width: 1366px;">
        <tr>
            <td width="25%"><h3>Thông tin liên hệ</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="contactAddress">Địa chỉ</label></td>
            <td><input type="text" th:field="*{contactAddress}" class="k-textbox" style="width: 100%;"></td>
            <td><label th:for="contactMobile">ĐT di động</label></td>
            <td><input type="text" th:field="*{contactMobile}" title="Số điện thoại di động của người liên hệ" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td><label th:for="contactEmail">Email</label></td>
            <td><input type="text" th:field="*{contactEmail}" class="k-textbox" style="width: 100%;" title="Địa chỉ thư điện tử của người liên hệ"></td>
            <td><label th:for="contactFixedTel">ĐT cố định</label></td>
            <td><input type="text" th:field="*{contactFixedTel}" title="Số điện thoại cố định của người liên hệ" class="k-textbox" style="width: 100%;"></td>
        </tr>

        <tr>
            <td colspan="4">
                <button type="submit"><span class="k-icon k-i-edit" style="color: gold;"></span>&nbsp;Cập nhật</button>
            </td>
        </tr>
    </table>


    <span class="status"></span>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#accountObjectForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
