<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_employee}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span> &nbsp; Thêm Nhân viên</a>
<br/>
<h3>DANH SÁCH NHÂN VIÊN</h3>
<br/>
<br/>
<table id="employee_grid">
    <thead>
    <tr>
        <th data-field="MA_NHAN_VIEN" data-title="Mã nhân viên" title="Mã nhân viên">Mã nhân viên</th>
        <th data-field="TEN_NHAN_VIEN" data-title="Tên nhân viên" title="Tên nhân viên">Tên nhân viên</th>
        <th data-field="CHUC_DANH" data-title="Chức danh" title="Chức danh">Chức danh</th>
        <th data-field="TEN_DON_VI" data-title="Tên đơn vị" title="Tên đơn vị">Tên đơn vị</th>
        <th data-field="SO_TAI_KHOAN" data-title="Số tài khoản" title="Số tài khoản">Số tài khoản</th>
        <th data-field="TEN_NGAN_HANG" data-title="Tên ngân hàng" title="Tên ngân hàng">Tên ngân hàng</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employeeDTOList}">
        <td><span th:text="${employee.accountObjectCode}"/></td>
        <td><span th:text="${employee.accountObjectName}"/></td>
        <td><span th:text="${employee.contactTitle}"/></td>
        <td><span th:text="${employee.organizationUnitName} ? ${employee.organizationUnitName} : ''"/></td>
        <td><span th:text="${employee.bankAccount}"/></td>
        <td><span th:text="${employee.bankName}"/></td>
        <td><span th:text="${activeStatusList[employee.activeStatus]}"/></td>

        <td>
            <a class="k-button" th:href="@{/employee/view/{id}(id=${employee.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/employee/edit/{id}(id=${employee.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_cus_' + ${employee.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${employee.id}" th:action="@{/account_object/delete/{id}(id=${employee.id})}"><button type="submit" hidden th:id="'btn_' + ${employee.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function () {
        $("#employee_grid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            },
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var a = event.target;
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            var id_string = event.id;
            var id = id_string.substring(8);
            var form_id = "form_" + id;
            var button_id = "btn_" + id;
            var form = document.getElementById(form_id);
            form.submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
