<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<h3>XEM CHI TIẾT THÔNG TIN NHÂN VIÊN</h3>
<br/>
<br/>
<a class="k-button k-primary" role="button" th:href="@{/employees}"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Nhân viên</a>
<br/>
<br/>
<br/>
<form th:object="${accountObjectCode}">
    <table style="width: 1366px;">
        <tr>
            <td width="25%"><h3>Thông tin chung</h3></td>
            <td width="25%"></td>
            <td width="25%"></td>
            <td width="25%"></td>
        </tr>

        <tr>
            <td><label th:for="accountObjectCode">Mã nhân viên</label></td>
            <td><input th:field="*{accountObjectCode}" class="k-textbox" width="100%;" readonly></td>
            <td><label>Chức danh</label></td>
            <td><span th:text="${employeeDTO.contactTitle}"></span></td>
        </tr>

        <tr>
            <td><label>Tên Nhân viên</label></td>
            <td><span th:text="${employeeDTO.accountObjectName}"></span></td>
            <td><label>Tên Đơn vị</label></td>
            <td><span th:text="${employeeDTO.organizationUnitId}"></td>
        </tr>

        <tr>
            <td><label>Giới tính</label></td>
            <td><span th:text="${genderList[employeeDTO.gender]}"></span></td>
            <td><label>Ngày sinh</label></td>
            <td><span th:text="${employeeDTO.birthDate}"></span></td>
        </tr>

        <tr>
            <td><label>Lương thỏa thuận</label></td>
            <td><span th:text="${employeeDTO.agreementSalary}"></span>
            <td><label>Số CMND/CCCD</label></td>
            <td><span th:text="${employeeDTO.identificationNumber}"></span>
        </tr>

        <tr>
            <td><label>Hệ số lương</label></td>
            <td><span th:text="${employeeDTO.salaryCoefficient}"></span></td>
            <td><label>Ngày cấp CMND/CCCD</label></td>
            <td><span th:text="${employeeDTO.issueDate}"></span></td>
        </tr>

        <tr>
            <td><label>Lương đóng BHXH</label></td>
            <td><span th:text="${employeeDTO.insuranceSalary}"></span></td>
            <td><label>Nơi cấp</label></td>
            <td><span th:text="${employeeDTO.issueBy}"></span></td>
        </tr>

        <tr>
            <td><label>Số người phụ thuộc</label></td>
            <td><span th:text="${employeeDTO.numberOfDependent}"></span></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><h3>Thông tin liên hệ</h3></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td><label>Địa chỉ</label></td>
            <td><span th:text="${employeeDTO.address}"></span></td>
            <td><label>ĐT di động</label></td>
            <td><span th:text="${employeeDTO.mobile}"></span></td>
        </tr>

        <tr>
            <td><label>Email</label></td>
            <td><span th:text="${employeeDTO.emailAddress}"></span></td>
            <td><label>ĐT cố định</label></td>
            <td><span th:text="${employeeDTO.tel}"></span></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;"><a role="button" th:href="@{/employees}" type="submit" class="k-button k-primary"><span class="k-icon k-i-close" style="color: gold;"></span> Đóng</a></td>
        </tr>
    </table>
</form>

<th:block th:include="fragments/footer"></th:block>
