<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_org_supplier}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm Nhà cung cấp Tổ chức</a>
&nbsp;
<a th:href="@{/add_personal_supplier}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm Nhà cung cấp Cá nhân</a>
<br/>
<br/>
<h3>DANH SÁCH NHÀ CUNG CẤP (TỔ CHỨC + CÁ NHÂN)</h3>
<br/>
<br/>
<table id="suppliers_grid">
    <thead>
    <tr>
        <th data-field="MA_KHACH_HANG" data-title="Mã nhà cung cấp" title="Mã nhà cung cấp">Mã nhà cung cấp</th>
        <th data-field="TEN_KHACH_HANG" data-title="Tên nhà cung cấp" title="Tên nhà cung cấp">Tên nhà cung cấp</th>
        <th data-field="DIA_CHI" data-title="Địa chỉ" title="Địa chỉ">Địa chỉ</th>
        <th data-field="NHOM_KHACH_HANG_NCC" data-title="Nhóm KH, NCC" title="Nhóm Khách hàng, nhà cung cấp">Nhóm KH, NCC</th>
        <th data-field="MA_SO_THUE" data-title="Mã số thuế" title="Mã số thuế">Mã số thuế</th>
        <th data-field="DIEN_THOAI" data-title="Điện thoại" title="Điện thoại">Điện thoại</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountObject : ${suppliers}">
        <td><span th:text="${accountObject.accountObjectCode}"/></td>
        <td><span th:text="${accountObject.accountObjectName}"/></td>
        <td><span th:text="${accountObject.address}"/></td>
        <td><span th:text="${accountObject.accountObjectGroupListCode}"/></td>
        <td><span th:text="${accountObject.companyTaxCode}"/></td>
        <td><span th:text="${accountObject.tel}"/></td>
        <td><span th:text="${activeStatusList[accountObject.activeStatus]}"/></td>
        <td>
            <a class="k-button" th:href="@{/supplier/view/{type}/{id}(id=${accountObject.id}, type=${accountObject.accountObjectType})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/supplier/edit/{type}/{id}(id=${accountObject.id}, type=${accountObject.accountObjectType})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${accountObject.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${accountObject.id}" th:action="@{/account_object/delete/{id}(id=${accountObject.id})}"><button type="submit" hidden th:id="'btn_' + ${accountObject.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#suppliers_grid").kendoGrid({
            columnMenu: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            dataBound: function () {
                for (var i = 0; i < this.columns.length; i++) {
                    this.autoFitColumn(i);
                }
            },
            dataSource: {
                pageSize: 10
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            console.log("form_" + event.id.substring(4));
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
