<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/bank_accounts}" class="k-button k-primary" title="Danh sách Tài khoản ngân hàng"><span class="k-icon k-i-list-bulleted" style="color: gold;"></span>&nbsp;Danh sách Tài khoản ngân hàng</a>
<br/>
<br/>
<h3>THÊM TÀI KHOẢN NGÂN HÀNG</h3>
<br/>
<br/>
<form method="post" th:action="@{'/add_bank_account'}" modelAttribute="bankAccountForm" th:object="${bankAccountForm}" id="bankAccountForm">
    <table style="width: 1366px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 25%;"></td>
        </tr>

        <tr>
            <td><label th:for="bankAccountNumber">Số tài khoản<span class="b-require">*</span></label></td>
            <td><input type="text" th:field="*{bankAccountNumber}" class="k-textbox" style="width: 100%;" required validationMessage="Tên viết tắt không được để trống">
                <span th:if="${#fields.hasErrors('bankAccountNumber')}" th:errors="*{bankAccountNumber}" class="k-error-colored"></span>
            </td>
            <td><label th:for="bankId">Ngân hàng<span class="b-require">*</span></label></td>
            <td><input type="number" th:field="*{bankId}" style="width: 100%;">
                <span th:if="${#fields.hasErrors('bankId')}" th:errors="*{bankId}" class="k-error-colored"></span>
                <script>
                    $(document).ready(function () {
                        var dataBank = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/banks_json",
                                    dataType: "json"
                                }
                            },
                            pageSize: 30
                        });

                        $("#bankId").kendoMultiColumnComboBox({
                            dataTextField: "bankCode",
                            dataValueField: "id",
                            filterable: true,
                            filter: "contains",
                            height: 400,
                            columns: [
                                {field: "bankCode", title: "Tên viết tắt", width: 200},
                                { field: "bankName", title: "Tên ngân hàng", width: 400 }
                            ],
                            footerTemplate: 'Tìm thấy #: instance.dataSource.total() # Ngân hàng',
                            filter: "contains",
                            filterFields: ["bankCode", "bankName"],
                            dataSource: dataBank,
                            change: onChangeBank
                        });
                    });
                    function onChangeBank() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="bankName">Chi nhánh</label></td>
            <td><input type="text" th:field="*{bankName}" style="width: 100%;" class="k-textbox"></td>
            <td><label th:for="provinceOrCity">Tỉnh/Thành phố</label></td>
            <td><input type="text" th:field="*{provinceOrCity}" style="width: 100%;">
                <span th:if="${#fields.hasErrors('provinceOrCity')}" th:errors="*{provinceOrCity}" class="k-error-colored"></span>
                <script>
                    $(document).ready(function () {
                        var dataProvince = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: "/provinces",
                                    dataType: "json"
                                }
                            },
                            pageSize: 300
                        });

                        $("#provinceOrCity").kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "value",
                            dataSource: dataProvince,
                            filter: "contains",
                            //filter: "startswith",
                            suggest: true,
                            index: 0,
                            change: onChangeProvince
                        });
                    });
                    function onChangeProvince() { }
                </script>
            </td>
        </tr>

        <tr>
            <td><label th:for="address">Địa chỉ chi nhánh</label></td>
            <td><input type="text" th:field="*{address}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="k-error-colored"></span>
            </td>
            <td><label th:for="accountHolder">Chủ tài khoản</label></td>
            <td><input type="text" th:field="*{accountHolder}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('accountHolder')}" th:errors="*{accountHolder}" class="k-error-colored"></span>
            </td>
        </tr>

        <tr>
            <td><label th:for="description">Diễn giải</label></td>
            <td><input type="text" th:field="*{description}" class="k-textbox" style="width: 100%;">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="k-error-colored"></span>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: center; padding-top: 15px;">
                <button type="submit" class="k-button k-primary"><span class="k-icon k-i-save" style="color: gold;"></span>&nbsp;Thêm</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {
        var validator = $("#bankAccountForm").kendoValidator().data("kendoValidator"), status = $(".status");
    });
</script>

<th:block th:include="fragments/footer"></th:block>
