<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/header"></th:block>
<br/>
<br/>
<a th:href="@{/add_bank_account}" class="k-button k-primary"><span class="k-icon k-i-add" style="color: gold;"></span>&nbsp;Thêm tài khoản ngân hàng</a>
<br/>
<br/>
<h3>DANH SÁCH TÀI KHOẢN NGÂN HÀNG</h3>
<br/>
<br/>
<table id="bank_datagrid">
    <thead>
    <tr>
        <th data-field="SO_TAI_KHOAN" data-title="Số tài khoản" title="Số tài khoản">Số tài khoản</th>
        <th data-field="TEN_NGAN_HANG" data-title="Tên ngân hàng" title="Tên ngân hàng">Tên ngân hàng</th>
        <th data-field="CHI_NHANH" data-title="Chi nhánh" title="Chi nhánh">Chi nhánh</th>
        <th data-field="CHU_TAI_KHOAN" data-title="Chủ tài khoản" title="Chủ tài khoản">Chủ tài khoản</th>
        <th data-field="THEO_DOI" data-title="Theo dõi" title="Trạng thái theo dõi">Theo dõi</th>
        <th data-field="THAO_TAC" data-title="Thao tác" title="Thao tác">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bankAccount : ${bankAccountList}">
        <td th:text="${bankAccount.bankAccountNumber}"></td>
        <td th:text="${bankAccount.bankMainName}"></td>
        <td th:text="${bankAccount.bankName}"></td>
        <td th:text="${bankAccount.accountHolder}"></td>
        <td th:text="${activeStatusList[bankAccount.activeStatus]}"></td>
        <td>
            <a class="k-button" th:href="@{/bank_account/view/{id}(id=${bankAccount.id})}" style="min-width: 0; color: green;" title="Xem"><span class="k-icon k-i-preview"></span></a>
            <a class="k-button" th:href="@{/bank_account/edit/{id}(id=${bankAccount.id})}" style="min-width: 0; color: gold;" title="Sửa"><span class="k-icon k-i-edit"></span></a>
            <a th:id="'del_' + ${bankAccount.id}" class="k-button" style="min-width: 0; color: red;" title="Xóa" onClick="deleteItem(this)"><span class="k-icon k-i-delete"></span></a>
            <form method="post" hidden th:id="'form_' + ${bankAccount.id}" th:action="@{/bank_account/delete/{id}(id=${bankAccount.id})}"><button type="submit" hidden th:id="'btn_' + ${bankAccount.id}">Submit</button></form>
        </td>
    </tr>
    </tbody>
</table>

<div id="confirmation"></div>
<script type="text/x-kendo-template" id="confirmTemplate">
    <!-- Bạn có thật sự muốn xóa không? </p> -->
    <div style="text-align: center;">
        <button class="k-button" id="yesButton" style="color: red;">Có</button>
        <button class="k-button" id="noButton" style="color: green;">Không</button>
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#bank_datagrid").kendoGrid({
            sortable: true,
            filterable: true,
            columnMenu: true,
            groupable: true,
            resizable: true,
            // dataBound: function () {
            //     for (var i = 0; i < this.columns.length; i++) {
            //         this.autoFitColumn(i);
            //     }
            // },
            reorderable: true,
            dataSource: {
                pageSize: 30
            },
            pageable: {
                pageSizes: true
            }
        });

        $("#confirmation").kendoWindow({
            title: "Bạn có thật sự muốn xóa không?",
            visible: false,
            width: "300px",
            height: "120px"
        });
    });

    function deleteItem(event){
        var confirmPopup = $("#confirmation").getKendoWindow();
        var confirmTemplate = kendo.template($("#confirmTemplate").html());
        confirmPopup.content(confirmTemplate);
        confirmPopup.center().open();
        $("#yesButton").click(function(){
            document.getElementById("form_" + event.id.substring(4)).submit();
            confirmPopup.close();
        });

        $("#noButton").click(function(){
            confirmPopup.close();
        });
    }
</script>

<th:block th:include="fragments/footer"></th:block>
